[Desktop Entry]
X-AppInstall-Package=amide
X-AppInstall-Popcon=26
X-AppInstall-Section=main

GenericName=Medical Image Examiner
GenericName[zh_CN]=医学图像察看器
Name=Amide
Name[zh_CN]=高级医学图像察看器
Comment=A Medical Image Data Examiner
Comment[zh_CN]=高级医学图像察看器
Exec=amide
Icon=amide_logo.png
Terminal=false
Type=Application
Categories=Graphics;MedicalSoftware;


