[Desktop Entry]
Type=Application
Name=Animeshell
Comment=Collection manager
Icon=animeshell
TryExec=/usr/bin/Animeshell
Exec=Animeshell
Categories=Utility;Qt;
X-AppInstall-Package=animeshell
X-AppInstall-Section=aur
X-Arch-Package=animeshell 1.0-3
X-Arch-Package-Repository=aur
X-Arch-Package-Name=animeshell
X-Arch-Package-Version=1.0-3
X-Arch-Package-Description=Collection manager for your animes and mangas
X-Arch-Package-URL=http://code.google.com/p/animeshell/
