[Desktop Entry]
Type=Application
Name=Antigravitaattori
Comment=Flying saucer race
TryExec=/usr/bin/antigrav
Exec=antigrav
Categories=Game;ActionGame;
X-AppInstall-Package=antigravitaattori
X-AppInstall-Popcon=4
X-AppInstall-Section=aur
X-Arch-Package=antigravitaattori 0.0.3-3
X-Arch-Package-Repository=aur
X-Arch-Package-Name=antigravitaattori
X-Arch-Package-Version=0.0.3-3
X-Arch-Package-Description=a multiplayer flying saucer racing game
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://luolamies.org/software/antigrav/
X-Arch-Package-Votes=4
