[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Arduino IDE
GenericName=Create physical computing projects
Icon=arduino
TryExec=arduino
Exec=arduino
Terminal=false
Categories=Development;Electronics;Engineering;
StartupNotify=false
X-AppInstall-Package=arduino
X-AppInstall-Popcon=35
X-AppInstall-Section=main
X-Arch-Package-Name=arduino
X-Arch-Package-Version=1.6.4-1
X-Arch-Package-Description=Arduino prototyping platform SDK
X-Arch-Package-URL=http://arduino.cc/en/Main/Software
