[Desktop Entry]
Type=Application
Name=ayttm
Comment="The GTK Unified Messaging Client"
Icon=_usr_share_pixmaps_ayttm
TryExec=/usr/bin/ayttm
Exec=/usr/bin/ayttm
Categories=Network;InstantMessaging;
StartupNotify=false
X-AppInstall-Package=ayttm
X-AppInstall-Popcon=25
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=ayttm
X-Arch-Package-Version=0.6.3-1
X-Arch-Package-Description=Unified instant messenger client
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://ayttm.sourceforge.net/
X-Arch-Package-Votes=5
