[Desktop Entry]
Type=Application
Name=BGBilling ${_vermajor}
Comment=BGBilling Client ${pkgver}
Icon=bgbillingclient${_versuf}.png
TryExec=/usr/bin/bgbilling${_versuf}.sh
Exec=bgbilling${_versuf}.sh
NoDisplay=true
Categories=Office;
X-AppInstall-Package=bgbillingclient61
X-AppInstall-Popcon=1
X-AppInstall-Section=aur
X-Arch-Package=bgbillingclient61 6.1.790-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=bgbillingclient61
X-Arch-Package-Version=6.1.790-1
X-Arch-Package-Description=Client for billing system BGBilling 6.1
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://bgbilling.ru
X-Arch-Package-Votes=1
Aliases=bgbillingclient{_versuf};
