[Desktop Entry]
Type=Application
Name=Blather speech recognition.
Icon=blather.png
TryExec=/usr/bin/Blather
Exec=Blather
Terminal=true
Categories=Application;Other;
X-AppInstall-Package=blather-git
X-AppInstall-Popcon=4
X-AppInstall-Section=aur
X-Arch-Package=blather-git 20141102-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=blather-git
X-Arch-Package-Version=20141102-1
X-Arch-Package-Description=Python application for speech recognition using pocketsphinx
X-Arch-Package-Groups=None
X-Arch-Package-URL=https://gitorious.org/blather
X-Arch-Package-Votes=4
Caption=Blather speech recognition.
