[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BlueDevil Audio connect
GenericName=BlueDevil Audio connect
Comment=BlueDevil Audio connect
Icon=preferences-system-bluetooth
TryExec=bluedevil-audio
Exec=bluedevil-audio %U
Terminal=false
Categories=Audio;Network;KDE;Qt;Bluetooth;
MimeType=virtual/bluedevil-audio;
StartupNotify=false
X-AppInstall-Package=bluedevil
X-AppInstall-Popcon=550
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
