[Desktop Entry]
Type=Application
Name=Bluemindo
GenericName=Bluemindo Audio Player
Comment=A really simple but powerful audio player in Python/PyGTK, using Gstreamer.
Icon=bluemindo.png
TryExec=/usr/bin/bluemindo
Exec=bluemindo
Categories=AudioVideo;Audio;Player;Music;GTK;
StartupNotify=false
X-AppInstall-Package=bluemindo
X-AppInstall-Popcon=12
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=bluemindo
X-Arch-Package-Version=0.3-2
X-Arch-Package-Description=A simple audio player built on PyGTK and GStreamer
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://bluemindo.codingteam.net/
X-Arch-Package-Votes=24
