[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Boing
Name[cs]=Boing
Name[da]=Boing
Name[de]=Boing
Name[es]=Rebote
Name[et]=Boing
Name[fi]=Boing
Name[fr]=Boing
Name[hu]=Boing
Name[it]=Boing
Name[ja]=Boing
Name[km]=Boing
Name[ko]=활켜기
Name[mk]=Отскокнување
Name[nl]=Boing
Name[pa]=ਬੋਇੰਗ
Name[pt]=Boing
Name[pt_BR]=Boing
Name[ro]=Boing
Name[ru]=Боинг
Name[uk]=Дзенькіт
Name[wa]=Boing
Name[zh_CN]=跳跳球
Name[zh_TW]=遨翔
Comment=This bouncing ball is a clone of the first graphics demo for the Amiga 1000, which was written by Dale Luck and RJ Mical during a break at the 1984 Consumer Electronics Show (or so the legend goes.) This looks like the original Amiga demo if you turn off "smoothing" and "lighting" and turn on "scanlines". Written by Jamie Zawinski; 2005.
Comment[da]=Denne hoppende bold er en klon af den første grafiske demo for Amiga 1000. Den blev skrevet af Dale Luck og RJ Mical under en pause på Consumer Electronics Show i 1984 (forlyder det). Den ligner den originale Amiga-demo, hvis du slår "smoothing" og "lighting" fra og slår "scanlines" til. Skrevet af Jamie Zawinski; 2005.
Comment[de]=Dieser springende Ball ist ein Klon des ersten Grafikdemos für den Amiga 1000, welcher von Dale Luck und RJ Mical während einer Pause der 1984er Consumer-Electronics-Show geschrieben wurde (so oder so ähnlich lautet die Legende). Dies sieht aus, wie das originale Amiga-Demo, wenn Sie "Glättung" und "Beleuchtung" abschalten und "Abtastung" anschalten. Geschrieben von Jamie Zawinski; 2005.
Comment[es]=La pelota que rebota es un clon de la primera demo gráfica para el Amiga 1000, escrito por Dale Luck y RJ Mical durante un descanso en la feria del CES de 1984 (o eso cuenta la leyenda). Parece la demo del amiga original si desactiva el "suavizado" y la "iluminación" y activa la "exploración lineal". Escrito por Jamie Zawinski; 2005.
Comment[fi]=Tämä pomppiva pallo on kopio ensimmäisestä Amiga 1000 -tietokoneen pelidemosta, jonka tekivät Dale Luck ja RJ Mical vuoden 1984 kuluttajatuotemessujen tauolla (tai ainakin niin legenda väittää.) Tämä näyttää alkuperäiseltä demolta, jos "tasoitus" ja "valaistus" käännetään pois "juovat" käännetään päälle. Tehnyt Jamie Zawinski; 2005.
Comment[fr]=Cette balle rebondissante est un clone d'une des premières démonstrations graphiques de l'Amiga 100 qui a été écrite par Dale Luck et RJ Mical pendant une pause lors du Consumer Electronics Show de 1984 comme le veut la légende. Écrit par Jamie Zawinski; 2005.
Comment[hu]=A pattogó labda az első Amiga 1000-re írt grafikus demó klónja, amelyet Dale Luck és RJ Mical írt az 1984-es CES egyik szünetében (vagy legalábbis így szól a legenda). Ha kikapcsolja a "simítást" és a "megvilágítást", valamint bekapcsolja a "vonalazást", ugyanúgy néz ki, mint az eredeti Amiga demó. Írta Jamie Zawinski, 2005.
Comment[it]=La palla che rimbalza è un clone del primo demo grafico per l'Amiga 1000, scritto da Dale Luck e RJ Mical durante una pausa del Consumer Electronics Show nel 1984 (almeno così narra la leggenda). Il presente somiglia al demo originale Amiga se si disattivano "smoothing" e "lighting" e si attiva "scanlines". Scritto da Jamie Zawinski; 2005.
Comment[ja]=このはね回るボールは Amiga 1000 の最初のグラフィックデモのクローンです。これは 1984 年の CES (Consumer Electronics Show; 家電展示会) の休憩時間に Dale Luck 氏と RJ Mical 氏が書いたものです。元々の Amiga 版は、 "平滑化" と "照明" の選択を外し、 "スキャンライン" を選択すると 見ることができます。 Jamie Zawinski 氏が 2005 年に作成しました。
Comment[km]=បាល់លោតៗ​នេះ​គឺ​ជា​ក្លូន​នៃ​ការ​សាកល្បង​ក្រាហ្វិក​ដំបូង​សម្រាប់ Amiga 1000 ដែល​បង្កើត​ដោយ Dale Luck និង RJ Mical នៅកំឡុង​ពេល​សម្រាក​នៅ​ក្នុង​ការ​បង្ហាញ Consumer Electronics នៅ​ឆ្នាំ ១៩៨៤ ។ វា​ដូចជា Amiga demo ដើម នៅពេល​ដែល​អ្នក​បិទ "រលោង" ​និង​"ភ្លឺ" ហើយ​បើក "scanlines" ។ បង្កើត​ដោយ Jamie Zawinski នៅ​ឆ្នាំ ២០០៥ ។
Comment[pt_BR]=Esta bola saltitante é um clone do primeiro demo gráfico para o Amiga 1000, que foi escrito por Dale Luck e RJ Mical durante uma pausa na Feira de Eletrônicos de Consumo de 1984 (assim diz a lenda) Isto parece como o original demo do Amiga se você desligar a "suavização" e a "luminosidade" e ligar as "linhas de procura". Escrito por Jamie Zawinski; 2005.
Comment[uk]=М’ячик, що підстрибує, є клоном першого графічного ролика-демонстрації для Amiga 1000, написаного, як говорить легенда, Dale Luck та RJ Mical під час перерви на показі споживацької електроніки у 1984 році. Зображення відповідатиме оригінальному зображенню на Amiga, якщо ви вимкнете "згладжування" та "освітлення" та увімкнете "лінії розгортки". Автор — Jamie Zawinski; 2005.
TryExec=/usr/bin/boing
Exec=boing -root
Terminal=false
OnlyShowIn=GNOME;
Categories=Screensaver;
StartupNotify=false
X-AppInstall-Package=boing
X-AppInstall-Popcon=0
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=boing
X-Arch-Package-Version=0.1-1
X-Arch-Package-Description=svgalib based breakout game with sound
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://ibiblio.org/pub/linux/games/arcade/
X-Arch-Package-Votes=0
X-SuSE-added=Comment,fr;Comment,it;Comment,es;Comment,hu;Comment,ja;Comment,de;Comment,fi;Comment,uk;Comment,km;Comment,pt_BR;Comment,da;Name,pa;Name,fr;Name,et;Name,it;Name,zh_TW;Name,nl;Name,es;Name,hu;Name,wa;Name,ja;Name,pt;Name,de;Name,fi;Name,mk;Name,ko;Name,uk;Name,cs;Name,zh_CN;Name,km;Name,ru;Name,pt_BR;Name,da;Name,ro;
X-SuSE-translate=true
