[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Byobu Window Manager
Comment=Text-based Window Manager using GNU Screen
Icon=_usr_share_byobu_pixmaps_byobu
TryExec=byobu-launcher
Exec=byobu-launcher
Terminal=true
Categories=Utility;GNOME;GTK;
StartupNotify=false
X-AppInstall-Package=byobu
X-AppInstall-Popcon=140
X-AppInstall-Section=main
