[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ConvertAll
GenericName=Unit Converter
Comment=Convert between many different units
Icon=convertall
Exec=convertall
Terminal=false
Categories=Qt;Utility;
StartupNotify=false
X-AppInstall-Package=convertall
X-AppInstall-Popcon=40
X-AppInstall-Section=main
