[Desktop Entry]
X-AppInstall-Package=deja-dup
X-AppInstall-Popcon=98
X-AppInstall-Section=main

Version=1.0

Name=Déjà Dup
Name[ca]=Déjà Dup
Name[de]=Déjà Dup
Name[en_GB]=Déjà Dup
Name[eo]=Déjà Dup
Name[es]=Déjà Dup
Name[fi]=Déjà Dup
Name[fr]=Déjà Dup
Name[gl]=Déjà Dup
Name[he]=Déjà Dup
Name[hu]=Déjà Dup
Name[id]=Déjà Dup
Name[it]=Déjà Dup
Name[ja]=Déjà Dup
Name[nb]=Déjà Dup
Name[nl]=Déjà Dup
Name[pl]=Déjà Dup
Name[ru]=Déjà Dup
Name[sk]=Déjà Dup
Name[sv]=Déjà Dup
Name[tr]=Déjà Dup
Name[zh_TW]=Déjà Dup
GenericName=Backup Tool
GenericName[ar]=اداة النسخ الاحتياطى
GenericName[ca]=Eina de còpies de seguretat
GenericName[de]=Datensicherungs-Werkzeug
GenericName[en_GB]=Backup Tool
GenericName[es]=Herramienta de respaldo
GenericName[fi]=Varmuuskopiointityökalu
GenericName[fr]=Outil de sauvegarde
GenericName[gl]=Ferramenta de copia de seguridade
GenericName[hu]=Biztonságimentés-kezelő
GenericName[id]=Peralatan Backup
GenericName[it]=Strumento di backup
GenericName[ja]=バックアップツール
GenericName[nl]=Backup hulpmiddel
GenericName[pl]=Narzędzie do tworzenia kopii zapasowych
GenericName[ru]=Инструмент резервного копирования
GenericName[sk]=Zálohovací nástroj
GenericName[sv]=Säkerhetskopiering
GenericName[tr]=Yedekleme Aracı
GenericName[zh_TW]=備份工具
X-GNOME-FullName=Déjà Dup Backup Tool
X-GNOME-FullName[ca]=Eina de còpies de seguretat Déjà Dup
X-GNOME-FullName[de]=Déjà Dup Datensicherungs-Werkzeug
X-GNOME-FullName[en_GB]=Déjà Dup Backup Tool
X-GNOME-FullName[es]=Herramienta de respaldo Déjà Dup
X-GNOME-FullName[fi]=Déjà Dup -varmuuskopiointityökalu
X-GNOME-FullName[fr]=Outil de sauvegarde Déjà Dup
X-GNOME-FullName[gl]=Ferramenta de copia de seguridade do Déjà Dup
X-GNOME-FullName[hu]=Déjà Dup biztonságimentés-kezelő
X-GNOME-FullName[id]=Peralatan Backup Déjà Dup
X-GNOME-FullName[it]=Strumento di backup Déjà Dup
X-GNOME-FullName[ja]=Déjà Dup バックアップツール
X-GNOME-FullName[nl]=Déjà Dup Backup hulpmiddel
X-GNOME-FullName[pl]=Program do tworzenia kopii zapasowych Déjà Dup
X-GNOME-FullName[ru]=Инструмент резервного копирования Déjà Dup
X-GNOME-FullName[sk]=Déjà Dup - zálohovací nástroj
X-GNOME-FullName[sv]=Déjà Dup Säkerhetskopiering
X-GNOME-FullName[tr]=Déjà Dup Yedekleme Aracı
X-GNOME-FullName[zh_TW]=Déjà Dup 備份工具
Comment=Backup your files
Comment[ar]=نسخ ملفاتك الاحتياطي
Comment[cs]=Zálohujte své soubory
Comment[da]=Backup dine filer
Comment[de]=Datensicherung durchführen
Comment[en_GB]=Backup your files
Comment[es]=Respalde sus archivos
Comment[fi]=Varmuuskopioi tiedostosi
Comment[fr]=Sauvegarder vos fichiers
Comment[gl]=Facer copia de seguridade dos teus arquivos
Comment[he]=גיבוי הקבצים שלך
Comment[hu]=Fájlok biztonsági mentése
Comment[id]=Backup file-file anda
Comment[it]=Effettua il backup dei propri file
Comment[ja]=あなたのファイルをバックアップ
Comment[nb]=Sikkerhetskopier systemet ditt
Comment[nl]=Reservekopie van uw bestanden maken
Comment[pl]=Tworzenie kopii zapasowych
Comment[ps]=خپل دوتنونه شاتړ  کړي
Comment[pt]=Crie cópias de segurança dos seus ficheiros
Comment[ru]=Резервное копирование ваших файлов
Comment[sk]=Zálohovať vaše súbory
Comment[sv]=Säkerhetskopiera dina filer
Comment[tr]=Dosyalarınızı yedekleyin
Comment[zh_TW]=備份您的檔案

Icon=deja-dup
Exec=deja-dup

StartupNotify=true

Type=Application
Categories=GNOME;GTK;System;Utility;Archiving;
