[Desktop Entry]
Type=Application
Name=Dropbox
GenericName=Network Storage
Comment=Dropbox is a free service that lets you bring your photos, docs, and videos anywhere and share them easily
Icon=dropbox
TryExec=/usr/bin/dropboxd
Exec=dropboxd
NoDisplay=true
Categories=Network;
StartupNotify=false
X-AppInstall-Package=dropbox-experimental
X-AppInstall-Popcon=169
X-AppInstall-Section=aur
X-Arch-Package=dropbox-experimental 3.7.31-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=dropbox-experimental
X-Arch-Package-Version=3.7.31-1
X-Arch-Package-Description=A free service that lets you bring your photos, docs, and
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.dropbox.com
X-Arch-Package-Votes=169
Aliases=dropbox;
