[Desktop Entry]
Type=Application
Name=Dwarf Therapist
Comment=An extension application for Dwarf Fortress
Icon=dwarftherapist
TryExec=/usr/bin/dwarftherapist
Exec=dwarftherapist
X-MultipleArgs=false
NoDisplay=true
Categories=Game;
X-AppInstall-Package=dwarftherapist-hg
X-AppInstall-Section=aur
X-Arch-Package=dwarftherapist-hg 571-2
X-Arch-Package-Repository=aur
X-Arch-Package-Name=dwarftherapist-hg
X-Arch-Package-Version=571-2
X-Arch-Package-Description=An extension application for the fantastic game Dwarf Fortress
X-Arch-Package-URL=http://code.google.com/p/dwarftherapist/
Aliases=dwarftherapist;
