[Desktop Entry]
Type=Application
Name=eficas
Comment=ASter Command FIle Editor - Qt Version
Icon=eficas
TryExec=/usr/bin/eficas
Exec=eficas
Categories=Education;Science;Math;NumericalAnalysis;Engineering;
X-AppInstall-Package=eficas
X-AppInstall-Popcon=2
X-AppInstall-Section=aur
X-Arch-Package=eficas 7.4.0-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=eficas
X-Arch-Package-Version=7.4.0-1
X-Arch-Package-Description=ASter Command FIle Editor. Editor of Code_Aster's command
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.code-aster.org/
X-Arch-Package-Votes=2
