[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=emma
GenericName=emma - MySQL managing assistant
Comment=MySQL managing assistant
Icon=_usr_share_emma_icons_emma
TryExec=Emma
Exec=Emma
Terminal=false
Categories=GNOME;GTK;Development;Database;
StartupNotify=true
X-AppInstall-Package=emma
X-AppInstall-Popcon=38
X-AppInstall-Section=main
