[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=EtherApe
Comment=Graphical Network Monitor
Icon=etherape.png
TryExec=etherape
Exec=etherape
Terminal=false
Categories=GNOME;System;Network;
StartupNotify=false
X-AppInstall-Package=etherape
X-AppInstall-Popcon=179
X-AppInstall-Section=main
