[Desktop Entry]
Type=Application
Name=EXPGUI
Icon=/opt/gsas/EXPGUI.png
TryExec=/opt/gsas/expgui/expgui
Exec=/opt/gsas/expgui/expgui
Categories=Science;
X-AppInstall-Package=gsas-expgui-svn
X-AppInstall-Popcon=3
X-AppInstall-Section=aur
X-Arch-Package=gsas-expgui-svn 1232-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=gsas-expgui-svn
X-Arch-Package-Version=1232-1
X-Arch-Package-Description=General Structure Analysis System - refinement for powder
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.ccp14.ac.uk/solution/gsas/
X-Arch-Package-Votes=3
