[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Extace Waveform Display
Name[es]=Extace
Name[fr]=Extace Waveform
Name[ko]=ÀÍ½ºÅ×ÀÌ½º
Name[no]=Extace Bølgeformvisning
Name[pt]=Extace
Comment=Audio Waveform Monitor
Comment[es]=Visualización gráfica de ondas sonoras
Comment[fr]=Visualisation graphique d'ondes sonores
Comment[ko]=¿Àµð¿À ¿þÀÌºê º¸±â
Comment[no]=Lydbølgemonitor
Comment[pt]=Visualização gráfica das ondas sonoras
Icon=extace.png
TryExec=extace
Exec=extace
Terminal=false
StartupNotify=false
X-AppInstall-Package=extace
X-AppInstall-Popcon=8
X-AppInstall-Section=main
