[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gmerlin visualizer
Name[de]=Gmerlin visualisierer
Comment=Run visualization plugins
Comment[de]=Visualisierungs Plugins laufen lassen
Icon=gmerlin-visualizer.png
Exec=gmerlin_visualizer
Terminal=false
Categories=Application;AudioVideo;
StartupNotify=false
X-AppInstall-Package=gmerlin
X-AppInstall-Popcon=52
X-AppInstall-Section=main
