[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Robots
Name[ar]=روبوتات
Name[as]=ৰোবোট
Name[ast]=Robots
Name[az]=Robotlar
Name[bg]=Роботи
Name[bn]=Robots
Name[bn_IN]=Robots
Name[ca@valencia]=Robots
Name[ca]=Robots
Name[cs]=Roboti
Name[cy]=Robotiaid
Name[da]=Robotter
Name[de]=Robots
Name[dz]=འཕྲུལ་མི།
Name[el]=Ρομπότ
Name[en@shaw]=𐑮𐑴𐑚𐑪𐑑𐑕
Name[en_CA]=Robots
Name[en_GB]=Robots
Name[es]=Robots
Name[et]=Robotid
Name[eu]=Robotak
Name[fa]=روبات‌ها
Name[fi]=Robotit
Name[fr]=Robots
Name[ga]=Róbait
Name[gl]=Robots
Name[gu]=યંત્રમાનવો
Name[he]=רובוטים
Name[hi]=रोबॉट्स
Name[hr]=roboti
Name[hu]=Robotok
Name[id]=Robots
Name[is]=Robots
Name[it]=Robots
Name[ja]=Robots
Name[kn]=ರೋಬೋಟ್ಸ್‍
Name[ko]=로봇
Name[lt]=Robotai
Name[lv]=Roboti
Name[mai]=रोबोट
Name[mk]=Роботи
Name[ml]=റോബോട്ടുകള്‍
Name[mn]=Роботууд
Name[mr]=रोबोट्स
Name[ms]=robot
Name[nb]=Roboter
Name[ne]=रोबोट
Name[nl]=Robots
Name[nn]=Robotar
Name[or]=ରୋବଟଗୁଡିକ
Name[pa]=ਰੋਬੋਟ
Name[pl]=Roboty
Name[pt]=Robots
Name[pt_BR]=Robôs
Name[ro]=Roboți
Name[ru]=Роботы
Name[si]=රොබෝවරු
Name[sl]=Roboti
Name[sq]=Robotët
Name[sr@latin]=Roboti
Name[sr]=Роботи
Name[sv]=Robotar
Name[ta]=இயந்திரங்கள்
Name[te]=రోబోట్సు
Name[th]=โรบ็อตส์
Name[tr]=Robotlar
Name[uk]=Роботи
Name[vi]=Rô-bốt
Name[wa]=Robots
Name[xh]=Izibane Zendlela
Name[zh_CN]=机器人
Name[zh_HK]=機械人
Name[zh_TW]=機器人
Comment=Avoid the robots and make them crash into each other
Comment[ar]=تفادي الأناس الآليّين وجعلهم يصطدمون في بعضهم البعض
Comment[as]=ৰোবটগুলোকে এড়িয়ে চলক আৰুসেগুলোকে একে অপৰেৰ ওপৰ বিধ্বস্ত কৰক
Comment[ast]=Esquiva los robots y fai que choquen entre ellos
Comment[az]=Robotlardan qaçın və onları birbirinə dəydirərək partladın
Comment[bg]=Бягане от роботи, така че да се сблъскват едни с други
Comment[bn]=রোবটগুলোকে এড়িয়ে চলুন এবং সেগুলোকে একে অপরের ওপর বিধ্বস্ত করুন
Comment[bn_IN]=রোবটগুলোকে এড়িয়ে চলুন এবং সেগুলোকে একে অপরের ওপর বিধ্বস্ত করুন
Comment[ca@valencia]=Eviteu els robots i feu que xoquin entre ells
Comment[ca]=Eviteu els robots i feu que xoquin entre ells
Comment[cs]=Unikat robotům a nechat je navzájem do sebe narážet
Comment[cy]=Osgoi'r robotiaid a gwneud iddynt fwrw i'w gilydd
Comment[da]=Undgå robotterne og få dem til at støde ind i hinanden
Comment[de]=Meiden Sie die Roboter und lassen Sie sie ineinanderkrachen
Comment[dz]=འཕྲུལ་མི་ཚུ་ལས་ཟུར་ཏེ་ དེ་ཚུ་གཅིག་གིས་གཅིག་གུ་ བརྡབ་འཁྲུག་འབད་བཅུག
Comment[el]=Αποφύγετε τα ρομπότ και κάντε τα να συγκρουστούν μεταξύ τους
Comment[en@shaw]=𐑩𐑝𐑶𐑛 𐑞 𐑮𐑴𐑚𐑪𐑑𐑕 𐑯 𐑥𐑱𐑒 𐑞𐑧𐑥 𐑒𐑮𐑨𐑖 𐑦𐑯𐑑𐑫 𐑰𐑗 𐑳𐑞𐑼
Comment[en_CA]=Avoid the robots and make them crash into each other
Comment[en_GB]=Avoid the robots and make them crash into each other
Comment[es]=Esquive los robots y haga que choquen entre ellos
Comment[et]=Hoidu robotite eest ja proovi neid meelitada omavahel kokku põrkama
Comment[eu]=Saihestu robotak, eta robotei elkarrekin talka eginarazi
Comment[fa]=از روبات‌ها دوری کنید و کاری کنید که با هم تصادف کنند
Comment[fi]=Vältä robotteja ja pistä ne tuhoutumaan toisiinsa
Comment[fr]=Éviter les robots et faites-les s'écraser les uns sur les autres
Comment[gl]=Evitar os robots e facer que choquen entre eles
Comment[gu]=યંત્ર માનવોને અવગણો અને તેમને એકબીજામાં ભટકાવો
Comment[he]=התחמק מהרובוטים וגרום להם להתנגש אחד בשני
Comment[hi]=रोबॉट्स से दूर रहें और उन्हें आपस में टकराने दें
Comment[hr]=Izbjegavaj robote i potrudite se da se sudare
Comment[hu]=Kerülje el a robotokat és ütköztesse egymásnak őket
Comment[id]=Hindari robot dan buat mereka saling tabrak.
Comment[is]=Forðastu vélmennin og láttu þau rekast á hvert annað
Comment[it]=Evita i robot e falli scontrare uno con l'altro
Comment[ja]=ロボットを避けながらロボット同士を破壊して下さい
Comment[kn]=ಯಂತ್ರಮಾನವರಿಂದ ತಪ್ಪಿಸು ಹಾಗು ಅವುಗಳೆ ಒಬ್ಬರಿಗೊಬ್ಬರು ಢಿಕ್ಕಿಯಾಗುವಂತೆ ಮಾಡಿ
Comment[ko]=로봇을 피해 서로 부딪혀 부서지도록 합니다
Comment[lt]=Išvenkite robotų ir sudaužykite juos vieną su kitu
Comment[lv]=Izvairieties no robotiem un lieciet viņiem saskrieties vienam ar otru
Comment[mai]=रोबोट सँ दूर रहू आओर ओकरा आपसमे टकराबै दिअ'
Comment[mk]=Избегнувајте ги роботите и принудете ги да се судрат едни со други
Comment[mr]=रोबोट्स चुकवा आणि त्यांना एकमेकांवर आपटवा
Comment[nb]=Unngå roboter og få dem til å krasje med hverandre
Comment[ne]=रोबोटलाई हटाउनुहोस् र एक आपसमा क्र्यास गर्न दिनुहोस्
Comment[nl]=Vermijd de robots en laat ze op elkaar botsen
Comment[nn]=Unngå robotane og få dei til å krasja inn i kvarandre
Comment[or]=ରୋବଟଗୁଡିକୁ ବାଦ ଦିଏ ଏବଂ ସେମାନଙ୍କୁ ପରସ୍ପର ମଧ୍ଯରେ ଧକ୍କା ହେବାକୁ ଦିଅ ୤
Comment[pa]=ਰੋਬੋਟਾਂ ਤੋਂ ਬਚੋ ਅਤੇ ਉਹਨਾਂ ਨੂੰ ਇੱਕ-ਦੂਜੇ ਨਾਲ ਨਸ਼ਟ ਹੋਣ ਦਿਓ
Comment[pl]=Unikanie robotów i sprawianie, że zderzają się między sobą
Comment[pt]=Evite os robots e faça-os colidir uns com os outros
Comment[pt_BR]=Evite os robôs e faça eles colidirem uns nos outros
Comment[ro]=Evitați roboții și determinații să intre în coliziune unii cu alții
Comment[ru]=Убегайте от роботов, заставляя их сталкиваться друг с другом. 
Comment[si]=රොබෝවරු මඟහරිමින් ඔවුන් එකිනෙකා හප්පන්න
Comment[sl]=Izogibajte se robotom in poskrbite, da se zaletijo en v drugega
Comment[sq]=Shmang robotët dhe bëji të përplasen me njëri tjetrin
Comment[sr@latin]=Izbegavajte robote i potrudite se da se sudare
Comment[sr]=Избегавајте роботе и потрудите се да се сударе
Comment[sv]=Undvik robotarna och få dem att krocka med varandra
Comment[ta]=ரோபார்டை தவிர் மேலும் அவை ஒன்றின் மேல் ஒன்று நொறுங்கும் வகையில் அமை
Comment[te]=రోబోట్సును వేరుచేయండి మరియు అవి వొకదానికి వొకటి గుద్దుకొనునట్లు చేయండి
Comment[th]=หนีหุ่นยนต์ หลอกให้มันชนกันเอง
Comment[tr]=Robotlardan kaçın ve onların birbirlerine çarpmalarını sağlayın
Comment[uk]=Уникати роботів і робити так, щоб вони зіштовхувались
Comment[vi]=Tránh các rô-bốt và làm cho chúng đâm sầm vào nhau
Comment[xh]=Phepha izibane zendlela uze uzenze zingqubane
Comment[zh_CN]=避免碰到机器人并让它们撞在一起
Comment[zh_HK]=避開機械人，並引導它們互相碰撞
Comment[zh_TW]=避開機器人，並引導它們互相碰撞
Icon=gnome-robots
Exec=gnobots2
Terminal=false
Categories=GNOME;GTK;Game;ArcadeGame;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.30.2
X-AppInstall-Package=gnome-games
X-AppInstall-Popcon=5182
X-AppInstall-Section=main
