[Desktop Entry]
X-AppInstall-Package=gnome-do
X-AppInstall-Popcon=784
X-AppInstall-Section=main

Name=GNOME Do
Name[ar]=أداء جنوم
Name[ast]=GNOME Do
Name[bg]=GNOME Do
Name[br]=Gnome Do
Name[ca]=GNOME Do
Name[cs]=GNOME Do
Name[da]=GNOME Do
Name[de]=GNOME Do
Name[el]=GNOME Do
Name[en_AU]=GNOME Do
Name[en_CA]=GNOME Do
Name[en_GB]=GNOME Do
Name[es]=GNOME Do
Name[et]=GNOME Do
Name[fa]=Gnome Do
Name[fi]=GNOME Do
Name[fr]=GNOME Do
Name[hu]=GNOME Do
Name[id]=GNOME Do
Name[is]=GNOME Do
Name[it]=GNOME Do
Name[ja]=GNOME Do
Name[lt]=GNOME Do
Name[lv]=GNOME Do
Name[mk]=GNOME Do
Name[nb]=GNOME Do
Name[nl]=GNOME Do
Name[nn]=GNOME Do
Name[pl]=GNOME Do
Name[pt]=GNOME Do
Name[pt_BR]=GNOME Do
Name[ru]=GNOME Do
Name[sk]=GNOME Do
Name[sr]=GNOME Do
Name[sv]=GNOME Do
Name[te]=గ్నోమ్ డూ
Name[th]=GNOME Do
Name[tr]=GNOME Do
Name[uk]=GNOME Do
Name[vi]=GNOME Do
Name[zh_CN]=GNOME Do
Name[zh_HK]=GNOME Do
Name[zh_TW]=GNOME Do
Type=Application
Exec=gnome-do
Terminal=false
Icon=gnome-do
Comment=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Comment[ast]=¡Fae coses lo más aína dable (pero non más rápido) colos tos ficheros, marcadores, aplicaciones, música, contautos, y más!
Comment[ca]=Feu les coses tan ràpid com podeu (però no més ràpid) amb els vostres fitxers, adreces d'interès, aplicacions, música, contactes i més!
Comment[cs]=Provádějte různé věci nejrychleji jak to jde (ale ne rychleji) se soubory, záložkami, aplikacemi, hudbou, kontaky a více!
Comment[da]=Gør ting så hurtigt som muligt (men så heller ikke hurtigere) med dine filer, bogmærker, programmer, musik, kontakter og meget mere!
Comment[de]=Dinge so schnell wie möglich (aber nicht schneller) mit deinen Dateien, Lesezeichen, Anwendungen, Musik, Kontakten und vielem mehr erledigen
Comment[el]=Κάντε κάποιες εργασίες το ταχύτερο δυνατόν (ταχύτερα δεν γίνεται) με τα αρχεία σας, τους σελιδοδείκτες σας, τις εφαρμογές σας, την μουσική σας, τις επαφές σας, και με πολλά περισσότερα!
Comment[en_AU]=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Comment[en_CA]=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Comment[en_GB]=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Comment[es]=Haga cosas lo antes posible (pero no más rápido) con sus archivos, marcadores, aplicaciones, música, contactos y más.
Comment[et]=Sinu muusika, kontaktid, järjehoidjad, rakendused, failid jpm kohe sinu käeulatuses!
Comment[fa]=اجرای کار‌ها با حداکثر سرعت ممکن (اما نه سریع‌ترین) با فایل‌های شما، آدرس‌های اینترنتی ذخیره‌شده،برنامه‌ها،موزیک،مخاطبات و بسیاری دیگر!
Comment[fi]=Suorita tehtäviä tiedostoillasi, kirjanmerkeilläsi, sovelluksillasi, musiikillasi, yhteystiedoillasi ja paljolla muulla mahdollisimman nopeasti!
Comment[fr]=Faire les choses aussi vite que possible (mais pas plus) avec vos fichiers, marque-pages, applications, musique, contacts et plus encore !
Comment[hu]=Használjuk a lehető leggyorsabban állományainkat, könyvjelzőinket, alkalmazásainkat, zenéinket, kapcsolatainkat és a többit!
Comment[id]=Lakukan tindakan secepat mungkin (tetapi tidak lebih cepat) dengan berkas, bookmark, aplikasi, musik, kontak dan lainnya milik anda!
Comment[is]=Gerðu hluti eins fljótt og mögulegt er (en ekki fljótara) með skráum, bókamerkjum, forritum, tónlist, tengiliðum og fleira!
Comment[it]=Per interagire nel modo più rapido possibile con i propri file, i segnalibri, le applicazioni, la musica, i contatti e moltro altro.
Comment[lt]=Atlikite veiksmus kaip įmanoma greičiau su failais, adresyno žymelėmis, programomis, muzika, kontaktais ir kita!
Comment[mk]=Направи ги работите најбрзо што може (но не побрзо) со вашите датотеки, обележувачи, апликации, музика, контакти, и повеќе!
Comment[nb]=Jobb så raskt som mulig (men ikke mer) med filer, bokmerker, programmer, musikk, kontakter og mer!
Comment[nl]=Doe dingen zo snel mogelijk (maar niet sneller) met je bestanden, bladwijzers, toepassingen, muziek, contactpersonen en meer!
Comment[pl]=Rób to tak szybko jak to możliwe (ale nie szybciej) z twoimi plikami, zakładkami, aplikacjami, muzyką, kontaktami i wiele więcej!
Comment[pt]=Fazer as coisas tão rapidamente quanto possível (mas não mais rápidos) com seus arquivos, marcadores, aplicações, música, contactos, e muito mais!
Comment[pt_BR]=Faça coisas tão rápido quanto possível (mas não muito rápido) com seus arquivos, favoritos, aplicativos, músicas, contatos e muito mais!
Comment[ru]=Работайте максимально быстро (но не быстрее) с вашими файлами, закладками, приложениями, музыкой, контактами и многим другим!
Comment[sk]=Manipulovať tak rýchlo ako sa len dá s vašimi súbormi, záložkami, aplikáciami, hudbou, kontaktami a pod.
Comment[sr]=Програм вам омогућава да брзо радите са фајловима, омиљеним веб адресама, програмима, музиком, контактима и још много више!
Comment[sv]=Gör saker så snabbt som möjligt (men inte snabbare) med dina filer, bokmärken, program, musik, kontakter och annat!
Comment[tr]=Dosyalarınızla, yer imlerinizle, uygulamalarınızla, müziğinizle ve dahasıyla mümkün olduğunca hızlıca (ama daha hızlı değil) bir şeyler yap!
Comment[uk]=Найоперативніший (але ні трішки не більш того) доступ до Ваших файлів, закладок, програм, музики, контактів тощо
Comment[vi]=Mở tập tin, đánh dấu, ứng dụng, liên lạc, phát nhạc và mọi điều bạn muốn làm! Luôn và ngay!
Comment[zh_CN]=方便快捷地处理你的文件、书签、应用程序、音乐、通讯簿...还有更多！
Comment[zh_TW]=讓您盡可能快速（但不會更快）處理你的檔案、書籤、應用程式、音樂、聯絡人和更多其他的事情！
Categories=Utility;
X-AppInstall-Architectures=amd64,armel,i386,ia64,kfreebsd-amd64,kfreebsd-i386,powerpc,s390,sparc
