[Desktop Entry]
X-AppInstall-Package=gok
X-AppInstall-Popcon=7860
X-AppInstall-Section=main

Name=On-Screen Keyboard
Name[ar]=لوحة المفاتيح الموجودة على الشاشة
Name[as]=স্ক্ৰিনৰ ওপৰ অবস্থিত কি-বোৰ্ড
Name[az]=Ekran Üstü Klaviatura
Name[be]=Клявіятура на экране
Name[bg]=Екранна клавиатура
Name[bn]=স্ক্রীনস্থিত কীবোর্ড
Name[bn_IN]=স্ক্রিনের উপরে অবস্থিত কি-বোর্ড
Name[ca]=Teclat en pantalla
Name[ca@valencia]=Teclat en pantalla
Name[cs]=Klávesnice na obrazovce
Name[cy]=Bysellfwrdd Ar Sgrin
Name[da]=Skærmtastatur
Name[de]=Bildschirmtastatur
Name[dz]=གསལ་གཞི་གུའི་ལྡེ་སྒྲོམ།
Name[el]=Πληκτρολόγιο Οθόνης
Name[en@shaw]=𐑪𐑯-𐑕𐑒𐑮𐑰𐑯 𐑒𐑰𐑚𐑪𐑮𐑛
Name[en_CA]=On-Screen Keyboard
Name[en_GB]=On-Screen Keyboard
Name[es]=Teclado en pantalla
Name[et]=Ekraaniklaviatuur
Name[eu]=Pantailako teklatua
Name[fa]=صفحه‌کلید روی صفحه
Name[fi]=Näppäimistö näytöllä
Name[fr]=Clavier visuel
Name[ga]=Méarchlár Scáileáin
Name[gl]=Teclado en pantalla
Name[gu]=સ્ક્રિન પરનું કીબોર્ડ
Name[he]=מקלדת על המסך
Name[hi]=ऑन-स्क्रीन कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Képernyő-billentyűzet
Name[id]=Papan Ketik Visual
Name[it]=Tastiera a schermo
Name[ja]=オンスクリーン・キーボード
Name[ka]=ეკრანის კლავიატურა
Name[kn]=ತೆರೆಯ ಮೇಲಿನ ಕೀಲಿಮಣೆ
Name[ko]=화면 키보드
Name[lt]=Vaizdinė klaviatūra
Name[lv]=Ekrāna tastatūra
Name[mai]=ऑन-स्क्रीन कीबोर्ड
Name[mk]=Екранска тастатура
Name[ml]=ഓണ്‍ സ്ക്രീന്‍ കീബോര്‍ഡ്
Name[mn]=Дэлгэц гар
Name[mr]=पडद्यावरील किबोर्ड
Name[ms]=Papan Kekunci Pada-Skrin
Name[nb]=Skjermtastatur
Name[ne]=पर्दामा कुञ्जीपाटी
Name[nl]=Schermtoetsenbord
Name[nn]=Skjermtastatur
Name[oc]=Clavièr virtual
Name[or]=ଅନ-ସ୍କ୍ରିନ କି-ବୋର୍ଡ
Name[pa]=ਸਕਰੀਨ ਉੱਤੇ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa
Name[pt]=Teclado No Ecrã
Name[pt_BR]=Teclado na Tela
Name[ro]=Tastatură pe ecran
Name[ru]=Экранная клавиатура
Name[sk]=Obrazovková klávesnica
Name[sl]=Zaslonska tipkovnica
Name[sq]=Tastierë në ekran
Name[sr]=Тастатура на екрану
Name[sr@latin]=Tastatura na ekranu
Name[sv]=Skärmtangentbord
Name[ta]=திரையில்-உள்ள விசைப்பலகை
Name[te]=తెర-పై మీటల పలకం
Name[th]=แป้นพิมพ์บนจอ
Name[tr]=Ekran Klavyesi
Name[uk]=Екранна клавіатура
Name[vi]=Bàn phím trên màn hình
Name[zh_CN]=屏幕上的键盘
Name[zh_HK]=畫面鍵盤
Name[zh_TW]=畫面鍵盤
Comment=Navigate applications and type using alternative input devices
Comment[ar]=اكتب و ابحر في التطبيقات باستعمال اجهزة ادخال بديلة
Comment[as]=বিকল্প নিবেশ যন্ত্ৰৰ সহায়ত টাইপ কৰক আৰু এপ্লিকেশনত চলাচল কৰক
Comment[bg]=Въвеждане и ползване на приложенията с алтернативни устройства за вход
Comment[bn]=অ্যাপ্লিকেশন নেভিগেট করা হবে এবং 
Comment[bn_IN]=বিকল্প ইনপুট ডিভাইসের সাহায্যে টাইপ করুন ও অ্যাপ্লিকেশনের মধ্যে চলাচল করুন
Comment[ca]=Navegueu per les aplicacions i teclegeu amb dispositius d'entrada alternatius
Comment[ca@valencia]=Navegueu per les aplicacions i teclegeu amb dispositius d'entrada alternatius
Comment[cs]=Navigační aplikace a psaní využívají alternativní vstupní zařízení
Comment[da]=Navigér programmer og skriv ved hjælp af en alternativ indataenhed
Comment[de]=Mit alternativen Eingabegeräten schreiben und in Anwendungen bewegen
Comment[el]=Πλοήγηση σε εφαρμογές και πληκτρολόγηση με χρήση εναλλακτικών συσκευών εισόδου
Comment[en@shaw]=𐑯𐑨𐑝𐑦𐑜𐑱𐑑 𐑩𐑐𐑤𐑦𐑒𐑱𐑕𐑩𐑯𐑟 𐑯 𐑑𐑲𐑐 𐑿𐑟𐑦𐑙 𐑷𐑤𐑑𐑻𐑯𐑩𐑑𐑦𐑝 𐑦𐑯𐑐𐑫𐑑 𐑛𐑦𐑝𐑲𐑕𐑩𐑟
Comment[en_GB]=Navigate applications and type using alternative input devices
Comment[es]=Navegue por las aplicaciones y escriba usando dispositivos de entrada alternativos
Comment[eu]=Arakatu aplikazioak eta Idatzi bestelako sarrerako gailuak erabiliz
Comment[fi]=Liiku sovelluksissa ja kirjoita käyttäen vaihtoehtoisia syötelaitteita
Comment[fr]=Navigation au sein des applications et saisie de texte via des périphériques d'entrée alternatifs
Comment[gl]=Navegar nos aplicativos e escribir usando dispositivos de entrada alternativos
Comment[gu]=વૈકલ્પિક ઈનપુટ ઉપકરણોની મદદથી કાર્યક્રમો અને પ્રકારને ચલાવો
Comment[he]=הקלד ונווט ביישומים בעזרת התקני קלט חלופיים
Comment[hi]=वैकल्पिक इनपुट युक्ति के प्रयोग से अनुप्रयोग संचरित करें और टाइप करें
Comment[hu]=Alkalmazások közti navigáció és gépelés alternatív beviteli eszközökkel
Comment[it]=Digita e naviga tra le applicazioni utilizzando dispositivi di input alternativi
Comment[ja]=別の入力デバイスを利用してアプリケーションを操作したり文字を入力します
Comment[kn]=ಅನ್ವಯಗಳಿಗೆ ನ್ಯಾವಿಗೇಟ್ ಮಾಡು ಹಾಗು ಪರ್ಯಾಯ ಇನ್‌ಪುಟ್‌ ಸಾಧನಗಳನ್ನು ಬಳಸಿಕೊಂಡು ನಮೂದಿಸು
Comment[ko]=다른 입력 장치를 이용해 프로그램을 둘러 보고 텍스트를 입력합니다
Comment[lt]=Valdykite programas ir rašykite tekstą alternatyviais įvedimo įrenginiais
Comment[ml]=പ്രയോഗങ്ങള്‍ കണ്ടു് മറ്റൂ് ഇന്‍പുട്ട് ഡിവൈസുകളുപയോഗിച്ചു് ടൈപ്പ് ചെയ്യുക
Comment[mr]=पर्यायी इंनपुट साधनचा वापर करून अनुप्रयोग अंतर्गत संचारन करा
Comment[nb]=Skriv og naviger i programmer med bruk av alternative inndataenheter.
Comment[nl]=Typen en navigeren in programma's via alternatieve invoerapparaten
Comment[or]=ବୈକଳ୍ପିକ ନିବେଶ ଉପକରଣଗୁଡ଼ିକୁ ବ୍ୟବହାର କରି ପ୍ରୟୋଗଗୁଡ଼ିକୁ ଅନୁସରଣ କରନ୍ତୁ
Comment[pa]=ਬਦਲਵੇਂ ਇੰਪੁੱਟ ਜੰਤਰਾਂ ਨਾਲ ਐਪਲੀਕੇਸ਼ਨ ਵਿੱਚ ਲਿਖੋ ਅਤੇ ਜਾਓ
Comment[pl]=Umożliwia pisanie i nawigowanie w programach za pomocą alternatywnych urządzeń wejściowych
Comment[pt]=Navegue nas aplicações e introduza texto utilizando dispositivos de entrada alternativos
Comment[pt_BR]=Navegue por aplicativos e digite usando dispositivos de entrada alternativos
Comment[ro]=Navigare aplicații și tastare folosind dispozitive alternative de intrare
Comment[ru]=Перемещение между приложениями и ввод текста, используя альтернативные устройства ввода
Comment[sl]=Upravljajte s programi preko alternativnih vnosnih naprav.
Comment[sq]=Shfleto aplikativët dhe shkruaj duke përdorur dispozitivë alternativë për input
Comment[sr]=Кретање кроз програме и куцање употребом алтернативних уређаја за унос
Comment[sr@latin]=Kretanje kroz programe i kucanje upotrebom alternativnih uređaja za unos
Comment[sv]=Skriv och navigera i program med alternativa inmatningsenheter
Comment[ta]=மற்ற உள்ளீட்டு சாதனங்களை பயன்படுத்தி தட்டச்சவும் மற்றும் பயன்பாடுகளில் உலாவவும்.
Comment[te]=అనువర్తనములను చూచి ప్రత్యామ్నాయ ఇన్‌పుట్ పరికరములను వుపయోగించి టైపుచేయుము
Comment[th]=ท่องดูโปรแกรมต่างๆ และพิมพ์โดยใช้อุปกรณ์ป้อนข้อมูลอีกแบบหนึ่ง
Comment[tr]=Uygulamaları dolaş ve alternatif girdi aygıtları ile yaz
Comment[uk]=Переміщення між програмами та введення тексту, використовуючи альтернативні пристрої вводу
Comment[vi]=Duyệt qua các ứng dụng và gõ dùng thiết bị nhập thay thế
Comment[zh_CN]=使用其它输入设备来打字或浏览应用程序
Comment[zh_HK]=使用替代的輸入裝置來輸入並使用應用程式
Comment[zh_TW]=使用替代的輸入裝置來輸入並使用應用程式
Exec=gok
Terminal=false
Type=Application
Icon=gok
Categories=GNOME;GTK;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gok
X-GNOME-Bugzilla-Component=general
