[Desktop Entry]
X-AppInstall-Package=gramps
X-AppInstall-Popcon=136
X-AppInstall-Section=main

Name=Gramps Genealogy System
Name[bg]=Генеалогична система Gramps
Name[ca]=Sistema Genealògic Gramps
Name[de]=Gramps Genealogiesystem
Name[es]=Sistema de Genealogía Gramps
Name[fr]=Gramps système de généalogie
Name[he]=Gramps מערכת גינאולוגית
Name[hr]=GRAMPS Geneaološki sustav
Name[it]=Sistema Genealogico Gramps
Name[lt]=Gramps Genealogijos Sistema
Name[nb]=Gramps Slektsforskersystem
Name[nl]=Gramps genealogiesysteem
Name[pl]=Gramps System Genealogiczny
Name[ru]=Генеалогическая Система Gramps
Name[sk]=Gramps Genealogy System
Name[sl]=Rodoslovni sistem Gramps
Name[sv]=Gramps Genealogisystem
Name[zh_CN]=GRAMPS 家谱系统 
Comment=Manage genealogical information, perform genealogical research and analysis
Comment[bg]=Управление на генеалогична информация, извършване на генеалогични изследвания и анализи
Comment[ca]=Gestió d'informació genealògica, anàlisi i recerca genealògiques
Comment[cs]=Spravuje genealogické informace, provádí genealogický výzkum a analýzy
Comment[da]=Arbejd med slægtsoplysninger, udfør slægtsforskning og analyser
Comment[de]=Verwaltet genealogische Informationen, organisiert genealogische Forschung und Analyse
Comment[es]=Gestionar información genealógica, realizar investigación y análisis genealógico
Comment[fi]=Hallinnoi sukutietoja, sekä tee sukututkimusta ja sukutietojen analysointia
Comment[fr]=Gestion des informations généalogiques, optimisation de la recherche et de l'analyse
Comment[hr]=Upravljanje rodoslovnim podacima, izvođenje rodoslovnih istraživanja i analiza
Comment[hu]=Genealógiai információkat kezel, geneológiai kutatást és analízist hajt végre
Comment[it]=Gestisce informazioni genealogiche, effettua ricerche ed analisi genealogiche
Comment[lt]=Tvarkyti geneologinę informaciją, atlikti geneologinius tyrinėjimus ir analizę
Comment[nb]=Håndtere slektsforskerinformasjon, utføre slektsforskning og analyse
Comment[nl]=Beheer genealogische informatie, doe genealogisch onderzoek en analyse
Comment[nn]=Handsama slektsgranskarinformasjon, utføra slektsgransking og analyse
Comment[pl]=Zarządzaj informacjami genealogicznymi, wykonuj badania genealogiczne
Comment[sk]=Manage genealogical information, perform genealogical research and analysis
Comment[sl]=Upravljaj z rodoslovnimi podatki, vodi rodoslovne raziskave in analize
Comment[sq]=Menaxho informacione gjenalogjike,bëj analiza dhe hulumtim gjenealogjik
Comment[sv]=Hantera genealogiska data, utför genealogisk forskning och analys
Comment[zh_CN]=管理家谱信息，实施家谱搜索和分析
Icon=gramps
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Office;
X-GNOME-DocPath=gramps/gramps-manual.xml
MimeType=application/x-gramps;application/x-gedcom;application/x-gramps-package;application/x-gramps-xml;
Exec=gramps %F
