[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Help Hannah's Horse
Comment=A pacman-like game
Comment[es]=Un juego similar al pacman
Icon=hannah.xpm
TryExec=hannah
Exec=hannah
Terminal=false
Categories=Application;Game;
StartupNotify=false
X-AppInstall-Package=hannah
X-AppInstall-Popcon=20
X-AppInstall-Section=main
