[Desktop Entry]
X-AppInstall-Package=homebank
X-AppInstall-Popcon=91
X-AppInstall-Section=main

Name=HomeBank
Name[ar]=مصرف البيت
Name[ast]=HomeBank
Name[be]=HomeBank
Name[bg]=HomeBank
Name[br]=HomeBank
Name[ca]=HomeBank
Name[cs]=HomeBank
Name[da]=HomeBank
Name[de]=HomeBank
Name[el]=HomeBank
Name[en_AU]=HomeBank
Name[en_CA]=HomeBank
Name[en_GB]=HomeBank
Name[es]=HomeBank
Name[et]=HomeBank
Name[eu]=HomeBank (Etxeko kontuak)
Name[fa]=بانک خانگی
Name[fi]=Kotipankki
Name[fr]=HomeBank
Name[gl]=HomeBank
Name[he]=HomeBank
Name[hr]=HomeBank
Name[ht]=HomeBank
Name[hu]=HomeBank
Name[id]=HomeBank
Name[is]=Heimabanki
Name[it]=HomeBank
Name[ja]=HomeBank
Name[ka]=საშინაო ბანკი
Name[ko]=홈 뱅크
Name[lt]=Namų buhalterija (HomeBank)
Name[lv]=HomeBank
Name[ml]=ഹോംബാങ്ക്
Name[ms]=HomeBank
Name[nb]=HjemmeBank
Name[nds]=HomeBank
Name[nl]=HomeBank
Name[oc]=HomeBank
Name[pl]=HomeBank
Name[pt]=HomeBank
Name[pt_BR]=HomeBank
Name[pt_PT]=HomeBank
Name[ro]=HomeBank
Name[ru]=HomeBank
Name[sk]=DomácaBanka
Name[sl]=Domača banka
Name[sr]=Кућна банка
Name[sv]=HomeBank
Name[ta]=இல்லவங்கி
Name[th]=โฮมแบงค์
Name[tr]=HomeBank
Name[uk]=HomeBank
Name[vi]=Ngân hàng tại nhà
Name[zh_CN]=HomeBank
Name[zh_HK]=居家銀行
Name[zh_TW]=HomeBank
Comment=Free, easy, personal accounting for everyone.
Comment[ar]=محاسب شخصي سهل، مجاني للجميع
Comment[ast]=Contabilidá personal llibre y fácil pa tol mundiu.
Comment[be]=Простае і лёгкае кіраванне асабістымі фінансамі для кожнага.
Comment[bg]=Свободно и лесно лично счетоводство за всеки
Comment[ca]=Comptabilitat lliure, fàcil i personal per a tothom.
Comment[cs]=Jednoduché osobní účetnictví zdrarma pro každého
Comment[da]=Gratis, nem, personlig regnskabsføring for enhver.
Comment[de]=Freie, einfache, persönliche Buchhaltung für jedermann.
Comment[el]=Δωρεάν, εύκολο, πρόγραμμα προσωπικών οικονομικών για όλους.
Comment[en_AU]=Free, easy, personal accounting for everyone.
Comment[en_CA]=Free, easy, personal accounting for everyone.
Comment[en_GB]=Free, easy, personal accounting for everyone.
Comment[es]=Contabilidad personal libre y fácil para todo el mundo.
Comment[et]=Vaba, kerge isiklik arveldus kõigile.
Comment[eu]=Denen eta norberarendako kontugintza askea, erraza.
Comment[fa]=حسابداری شخصی آسان و رایگان برای همه.
Comment[fi]=Vapaata ja helppoa yksityiskirjanpitoa kaikille.
Comment[fr]=Comptabilité personnelle libre et facile, pour tous.
Comment[gl]=Contabilidade libre, fácil e persoal para todos
Comment[he]=ניהול חשבונות קל ופשוט לכולם.
Comment[hr]=Slobodno, jednostavno, osobno računovodstvo za sve.
Comment[ht]=Kontablite pèsonèl  gratis, fasil pou tout moun
Comment[hu]=Ingyenes, egyszerű személyi számlavezetés mindenkinek.
Comment[id]=Bebas, mudah, Pembukuan pribadi untuk siapa saja.
Comment[is]=Ókeypis og einfalt heimilisbókhaldskerfi fyrir alla.
Comment[it]=Contabilità famigliare gratuita, semplice, per tutti.
Comment[ja]=フリーで簡単、みんなのパーソナル会計
Comment[ka]=უფასო, მარტივი, პერსონალური ბუღალტერია ყველასათვის
Comment[ko]=모두를 위한 무료, 쉬운, 개인 계정 관리
Comment[lt]=Nemokama, paprasta naudoti asmeninių finansų apskaita kiekvienam
Comment[lv]=Bezmaksas, viegla personīgā grāmatvedība katram
Comment[ml]=അനായാസമായി എല്ലാവര്‍ക്കും ഉപയോഗിക്കാവുന്ന ലളിതമായ സ്വതന്ത്ര വ്യക്തിഗത കണക്കെഴുത്തു സോഫ്റ്റ്വെയര്‍
Comment[ms]=Perakaunan peribadi, percuma, mudah untuk semua orang.
Comment[nb]=Gratis og enkelt personlig regnskap for alle
Comment[nds]=Kostenlose, einfache, persönliche Buchhaltung für jedermann.
Comment[nl]=Gratis en eenvoudig financiën beheren voor iedereen.
Comment[oc]=Comptabilitat personala, liura, aisida, per cadun.
Comment[pl]=Bezpłatna i łatwa księgowość osobista dla każdego.
Comment[pt]=Contabilidade pessoal, livre e fácil, para toda a gente.
Comment[pt_BR]=Gerenciador pessoal de contas livre, fácil e para todos
Comment[pt_PT]=Contabilidade pessoal gratuita e fácil para todos.
Comment[ro]=Contabilitate personală pentru fiecare, gratis și ușor
Comment[ru]=Простое и лёгкое управление личными финансами для каждого.
Comment[sk]=Voľné, ľahko dostupné, osobné účtovníctvo pre každého.
Comment[sl]=Enostavno in brezplačno osebno računovodstvo za vsakogar.
Comment[sr]=Слободно, лако, лично рачуноводство за свакога.
Comment[sv]=Enkelt och gratis privatekonomiprogram för alla.
Comment[ta]=அனைவருக்குமான இலவச, எளிய, தனிநபர் கணக்கு
Comment[th]=บัญชีส่วนบุคคล ฟรี ใช้งานง่าย และเหมาะสำหรับทุกคน
Comment[tr]=Herkes için özgür,kolay,kişisel muhasebe.
Comment[uk]=Персональна бухгалтерія: просто і легко для кожного!
Comment[vi]=Kế toán Miễn phí,dễ dùng,cá nhân cho mọi người
Comment[zh_CN]=免费，易用的个人财务软件。
Comment[zh_HK]=費用全免，容易上手，全能的個人帳目
Comment[zh_TW]=讓每個人都能自由、簡易的進行個人財務管理。
Exec=homebank %F
Terminal=false
StartupNotify=true
Type=Application
Icon=homebank
Categories=GTK;Office;Finance;X-MandrivaLinux-CrossDesktop;
MimeType=application/x-homebank;
