[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IDLE 3
Comment=Integrated DeveLopment Environment for Python3
Icon=/usr/share/pixmaps/idle3.xpm
TryExec=/usr/bin/idle3
Exec=/usr/bin/idle3 -n
Terminal=false
Categories=Application;Development;
StartupNotify=true
X-AppInstall-Package=python
X-AppInstall-Popcon=18
X-AppInstall-Section=main
X-Arch-Package=python 3.4.3-2
X-Arch-Package-Name=python
X-Arch-Package-Version=3.4.3-2
X-Arch-Package-Description=Next generation of the python high-level scripting language
X-Arch-Package-URL=http://www.python.org/
