[Desktop Entry]
Type=Application
Name=Info
Comment=GNU Info browser
TryExec=/usr/bin/info
Exec=info
Terminal=true
Categories=X-Debian-Help;
StartupNotify=false
X-AppInstall-Package=texinfo
X-AppInstall-Popcon=0
X-AppInstall-Section=core
X-Arch-Package=texinfo 5.2-3
X-Arch-Package-Repository=core
X-Arch-Package-Name=texinfo
X-Arch-Package-Version=5.2-3
X-Arch-Package-Description=GNU documentation system for on-line information and printed output
X-Arch-Package-Groups=base  base-devel
X-Arch-Package-URL=http://www.gnu.org/software/texinfo/
