[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Jc_Gui
GenericName=Jconvolver Gui
Comment=Host for jconvolver
Icon=Jc_Gui
TryExec=Jc_Gui
Exec=Jc_Gui
Terminal=false
Categories=AudioVideo;X-Jack;
StartupNotify=false
X-AppInstall-Package=jcgui
X-AppInstall-Popcon=10
X-AppInstall-Section=main
X-Arch-Package-Name=jcgui
X-Arch-Package-Version=0.8.r4.446b5e6-1
X-Arch-Package-Description=A simple little gui for jconvolver
X-Arch-Package-Groups=None
X-Arch-Package-URL=https://github.com/zzzzrrr/jcgui
X-Arch-Package-Votes=10
