[Desktop Entry]
Type=Application
Name=Katoob
Name[ar]=كتوب
Comment=Multilingual Unicode Text Editor
Comment[ar]=محرر نصوص متعدد اللغات
Comment[cz]=Vícejazykový textový editor
Comment[fr]=Éditeur de texte multilingue Unicode
Comment[he]=עורך טקסט יוניקוד רב-לשוני
Comment[ja]=多国語対応Unicodeテキストエディタ
Icon=katoob-icon.pmg
TryExec=/usr/bin/katoob
Exec=/usr/bin/katoob %F
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=false
X-AppInstall-Package=katoob
X-AppInstall-Popcon=7
X-AppInstall-Section=main
