[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Kiki
Comment=Regular expression testing
Icon=kiki
TryExec=kiki
Exec=kiki
Terminal=false
Categories=Development;
StartupNotify=false
X-AppInstall-Package=kiki
X-AppInstall-Popcon=2
X-AppInstall-Section=main
X-Arch-Package-Name=kiki
X-Arch-Package-Version=1.0.2-5
X-Arch-Package-Description=A 3D-puzzle Sokoban-like game
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://kiki.sourceforge.net/
X-Arch-Package-Votes=2
