[Desktop Entry]
Type=Application
Name=Kollision
Name[hne]=कोलिसन
Name[nn]=Kollisjon
Name[ro]=Koliziune
Name[sr@ijekavian]=Колизија
Name[sr@ijekavianlatin]=Kolizija
Name[sr@latin]=Kolizija
Name[sr]=Колизија
Name[x-test]=xxKollisionxx
Comment=A simple ball dodging game
Comment[ca@valencia]=Un senzill joc d'esquivar una bola
Comment[ca]=Un senzill joc d'esquivar una bola
Comment[da]=Et enkelt undvigelsesspil med bolde
Comment[de]=Ein einfaches Ausweich-Ballspiel
Comment[el]=Ένα απλό παιχνίδι ελιγμών με μπάλες
Comment[es]=Un juego sencillo de esquivar pelotas
Comment[et]=Lihtne pallitogimise mäng
Comment[eu]=Pilota saihesteko joku bat
Comment[fa]=بازی ساده جا‌خالی دادن
Comment[fi]=Yksinkertainen väistelypeli
Comment[fr]=Un jeu simple d'évitement de balles
Comment[ga]=Cluiche simplí ina bhfuil ort liathróidí a sheachaint
Comment[gl]=Un xogo de bólas
Comment[hne]=एक सादा गेंद डाज करे के खेल
Comment[hu]=Egyszerű labdakikerülős játék
Comment[it]=Un semplice gioco in cui devi schivare delle palle
Comment[ja]=ボールをよけるシンプルなゲーム
Comment[lv]=Vienkārša izvairīšanās spēle
Comment[nds]=En eenfach Ball-Utwiekspeel
Comment[nl]=Een eenvoudig "stuiterende bal"-spel
Comment[nn]=Enkelt spel der du skal unngå kollisjonar
Comment[pl]=Gra w unikanie kul
Comment[pt]=Um jogo simples de desvio de bolas
Comment[pt_BR]=Um jogo simples: desvie das bolas
Comment[ru]=Простая игра в уклонение от шариков
Comment[sk]=Hra s vyhýbaním loptičiek
Comment[sl]=Preprosta igra izmikanja kroglam
Comment[sr@ijekavian]=Једноставна игра избјегавања лопти
Comment[sr@ijekavianlatin]=Jednostavna igra izbjegavanja lopti
Comment[sr@latin]=Jednostavna igra izbegavanja lopti
Comment[sr]=Једноставна игра избегавања лопти
Comment[sv]=Ett enkelt spel för att undvika bollar
Comment[tr]=Basit bir top sıçratma oyunu
Comment[uk]=Проста гра з кулькою
Comment[x-test]=xxA simple ball dodging gamexx
Comment[zh_CN]=一个简单的躲避球游戏
Comment[zh_TW]=簡單的閃躲球遊戲
Icon=kollision
TryExec=/usr/bin/kollision
Exec=kollision
Categories=Game;ArcadeGame;KDE;Qt;
StartupNotify=false
X-DocPath=kollision/index.html
X-AppInstall-Package=kollision
X-AppInstall-Popcon=163
X-AppInstall-Section=extra
X-Arch-Package-Repository=extra
X-Arch-Package-Name=kollision
X-Arch-Package-Version=15.04.2-1
X-Arch-Package-Description=A simple ball dodging game
X-Arch-Package-Groups=kde-applications  kdegames
X-Arch-Package-URL=http://kde.org/applications/games/kollision/
