[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Loopy
Comment=Draw lines around a digit according to the number in it
Comment[de]=Zeichne Linien um eine Ziffer entsprechend der enthaltenen Zahl
Comment[fr]=Dessiner autour d'un digit le nombre de lignes correspondantes
Icon=loopy
TryExec=loopy
Exec=loopy
Terminal=false
Categories=Game;LogicGame;
StartupNotify=false
X-AppInstall-Package=sgt-puzzles
X-AppInstall-Popcon=137
X-AppInstall-Section=main
