[Desktop Entry]
X-AppInstall-Package=lxde
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Name=ScreenLock
Name[zh_TW]=鎖住螢幕
Comment=Lock your screen
Icon=system-lock-screen
Exec=xscreensaver-command -lock
