[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Meritous
GenericName=
Comment=action-adventure dungeon crawl game
Icon=meritous
TryExec=meritous
Exec=meritous
Terminal=false
Categories=Application;Game;AdventureGame;
StartupNotify=false
X-AppInstall-Package=meritous
X-AppInstall-Popcon=14
X-AppInstall-Section=main
