[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=MeshLab
Name[en_GB]=MeshLab
GenericName=Mesh processing
GenericName[en_GB]=Mesh processing
Comment=View and process meshes
Icon=_usr_share_pixmaps_meshlab_32x32
TryExec=/usr/bin/meshlab
Exec=meshlab
Terminal=false
Categories=Graphics;3DGraphics;Viewer;Qt;
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
StartupNotify=false
X-AppInstall-Package=meshlab
X-AppInstall-Popcon=60
X-AppInstall-Section=main
X-Arch-Package-Name=meshlab
X-Arch-Package-Version=1.3.3-3
X-Arch-Package-Description=System for processing and editing triangular meshes
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://meshlab.sourceforge.net/
X-Arch-Package-Votes=60
