[Desktop Entry]
X-AppInstall-Package=mistelix
X-AppInstall-Popcon=11
X-AppInstall-Section=main

Version=1.0
Name=Mistelix
Name[ca]=Mistelix
Name[cs]=Mistelix
Name[da]=Mistelix
Name[de]=Mistelix
Name[en_GB]=Mistelix
Name[es]=Mistelix
Name[fr]=Mistelix
Name[nn]=Mistelix
Name[pt]=Mistelix
Name[pt_BR]=Mistelix
Name[sk]=Mistelix
Name[sl]=Mistelix
Name[sv]=Mistelix
GenericName=DVDs and slideshows
GenericName[ca]=DVD i presentació de diapositives
GenericName[cs]=DVD a promítání snímků
GenericName[da]=Dvd'er og diasshow
GenericName[de]=DVDs und Dia-Vorführungen
GenericName[en_GB]=DVDs and slideshows
GenericName[es]=DVD y diapositivas
GenericName[fr]=DVD et diaporamas
GenericName[nn]=DVD-ar og lisbilete
GenericName[pt]=DVDs e apresentações
GenericName[pt_BR]=DVDs e slideshows
GenericName[sk]=DVD a prezentácie
GenericName[sl]=DVD in diaprojekcije
GenericName[sv]=DVD-skivor och bildspel
Comment=Author DVDs and slideshows
Comment[ca]=Autoria de DVD i presentació de diapositives
Comment[cs]=Tvorba DVD a promítání snímků
Comment[da]=Lav dvd'er og diasshow
Comment[de]=DVDs und Dia-Vorführungen erstellen
Comment[en_GB]=Author DVDs and slideshows
Comment[es]=Cree DVD y diapositivas
Comment[fr]=Auteur DVD et Diaporamas
Comment[nn]=Lag DVD-ar og lysbilete
Comment[pt]=Autoria de DVDs e apresentações
Comment[pt_BR]=Criação de DVDs e slideshows
Comment[sk]=Robte vlastné DVD a prezentácie
Comment[sl]=Avtorski DVD-ji in diaprojekcije
Comment[sv]=Skapa DVD-skivor och bildspel
Exec=mistelix
Icon=mistelix
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
X-AppInstall-Architectures=amd64,armel,i386,ia64,kfreebsd-amd64,kfreebsd-i386,powerpc,s390,sparc
