[Desktop Entry]
X-AppInstall-Package=muine
X-AppInstall-Popcon=11
X-AppInstall-Section=main

Version=1.0
Name=Muine Music Player
Name[az]=Muine Musiqi Çalğıcısı
Name[bg]=Слушане на музика (Muine)
Name[ca]=Reproductor de música Muine
Name[cs]=Přehrávač hudby Muine
Name[da]=Muine - musikafspiller
Name[de]=Muine Musik-Player
Name[dz]=མུའིན་སྙན་ཆ་གཏང་མི།
Name[el]=Muine αναπαραγωγή μουσικής
Name[en_CA]=Muine Music Player
Name[en_GB]=Muine Music Player
Name[es]=Reproductor de música Muine
Name[et]=Muusikamängija Muine
Name[eu]=Muine musika erreproduzitzailea
Name[fi]=Muine-musiikkisoitin
Name[fr]=Lecteur de musique Muine
Name[hu]=Muine zenelejátszó
Name[is]=Muine tónlistarspilari
Name[it]=Riproduttore musicale Muine
Name[ja]=Muine 楽曲プレイヤー
Name[ko]=Muine 음악 연주기
Name[lt]=Muzikos grotuvas „Muine“
Name[lv]=Muine mūzikas atskaņotājs
Name[mk]=Muine пуштач на музика
Name[ms]=Pemain Muzik Muine
Name[nb]=Muine musikkavspiller
Name[ne]=मुइन सङ्गीत प्लेयर
Name[nl]=Muine muziekspeler
Name[pa]=ਮੁਈਨ ਸੰਗੀਤ ਪਲੇਅਰ
Name[pl]=Odtwarzacz muzyki Muine
Name[pt]=Reprodutor de Música Muine
Name[pt_BR]=Muine - Reprodutor de Músicas
Name[ro]=Muine Player Muzical
Name[ru]=Музыкальный проигрыватель Muine
Name[sk]=Muine Prehrávač hudby
Name[sr]=Музички програм Мујна
Name[sr@Latn]=Muzički program Mujna
Name[sv]=Musikspelaren Muine
Name[th]=Muine: โปรแกรมเล่นเพลง
Name[uk]=Музичний програвач Muine
Name[vi]=Bộ phát nhạc Muine
Name[zh_CN]=Muine 音乐播放器
Comment=Listen to your music
Comment[az]=Mahnılarınızı dinləyin
Comment[bg]=Слушане на музика
Comment[ca]=Escolteu la vostra música
Comment[cs]=Poslouchejte vaši hudbu
Comment[da]=Lyt til din musik
Comment[de]=Ihre Musik anhören
Comment[dz]=ཁྱོད་རའི་སྙན་ཆ་ལུ་ཉན།
Comment[el]=Ακούστε την μουσική σας
Comment[en_CA]=Listen to your music
Comment[en_GB]=Listen to your music
Comment[es]=Escuchar tu música
Comment[et]=Kuula oma muusikat
Comment[eu]=Entzun zure musika
Comment[fi]=Kuuntele musiikkia
Comment[fr]=Écoutez votre musique
Comment[hu]=Zenehallgatás
Comment[is]=Hlusta á mína tónlist
Comment[it]=Ascolta la tua musica
Comment[ja]=お気に入りの音楽を聴きます
Comment[ko]=음악을 듣습니다
Comment[lt]=Klausykitės muzikos
Comment[lv]=Klausīties savu mūziku
Comment[mk]=Слушај ја твојата музика
Comment[ms]=Dengar muzik anda
Comment[nb]=Hør på din musikk
Comment[ne]=तपाईँको सङ्गीत सुन्नुहोस्
Comment[nl]=Naar uw muziek luisteren
Comment[oc]=Escotar vòstra musica
Comment[pa]=ਆਪਣਾ ਸੰਗੀਤ ਚੁਣੋ
Comment[pl]=Odtwarza kolekcje muzyczne
Comment[pt]=Escute a sua música
Comment[pt_BR]=Ouça suas músicas
Comment[ro]=Ascultaţi muzica
Comment[ru]=Слушайте вашу музыку
Comment[sk]=Počúvajte vašu hudbu
Comment[sr]=Слушајте вашу музику 
Comment[sr@Latn]=Slušajte vašu muziku 
Comment[sv]=Lyssna på din musik
Comment[th]=ฟังเพลงของคุณ
Comment[uk]=Прослуховування музики
Comment[vi]=Nghe nhạc bạn
Comment[zh_CN]=听您的音乐
Exec=muine
Icon=muine
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;X-Ximian-Main;X-Red-Hat-Base;
MimeType=audio/x-mpegurl;application/x-ogg;application/ogg;application/x-flac;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/mpeg;
X-AppInstall-Architectures=amd64,armel,i386,ia64,powerpc,s390,sparc
