[Desktop Entry]
X-AppInstall-Package=netrek-client-cow
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Name=Netrek
Exec=/usr/games/netrek-client-cow
Icon=_usr_share_pixmaps_netrek-client-cow_icon
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;StrategyGame;
