[Desktop Entry]
Version=0.4.0
Type=Application
Name=OBM
Comment=Logs GSM and GPS and uploads to openBmap.
Icon=openBmap-desktop
TryExec=/usr/bin/openBmapGTK
Exec=openBmapGTK
Terminal=true
Categories=Application;Geography;GTK;
StartupNotify=true
X-MB-SingleInstance=true
X-AppInstall-Package=openbmap-logger
X-AppInstall-Popcon=4
X-AppInstall-Section=main
