[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=OpenERP Client
Comment=Enterprise Resource Management (client)
Icon=openerp-client
TryExec=openerp-client
Exec=openerp-client
Terminal=false
Categories=Application;Network;
StartupNotify=false
X-AppInstall-Package=openerp-client
X-AppInstall-Popcon=25
X-AppInstall-Section=main
X-Arch-Package-Name=openerp-client
X-Arch-Package-Version=6.1_1-4
X-Arch-Package-Description=OpenERP GTK client
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://openerp.com/
X-Arch-Package-Votes=25
