[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=File Manager
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[es]=Gestor de archivos
Name[fa]=مدیر فایل
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[it]=File Manager
Name[ja]=ファイルマネージャ
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[ru]=Файловый менеджер
Name[uk]=Менеджер файлів
Name[zh_TW]=檔案管理程式
GenericName=File Manager
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[es]=Gestor de archivos
GenericName[fa]=مدیر فایل
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[it]=File Manager
GenericName[ja]=ファイルマネージャ
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ru]=Файловый менеджер
GenericName[uk]=Менеджер файлів
GenericName[zh_TW]=檔案管理程式
Comment=Browse the file system and manage the files
Comment[de]=Das Dateisystem durchsuchen und Dateien verwalten
Comment[el]=Περιήγηση στο σύστημα αρχείων και διαχείριση αρχείων
Comment[es]=Explorar el sistema de archivos y gestionar los archivos
Comment[fa]=مرور فایل سیستم و مدیریت فایل ها
Comment[gl]=Navegar polo sistema de ficheiros e xestionar os ficheiros
Comment[he]=עיון במערכת הקבצים וניהול הקבצים
Comment[it]=Sfoglia il file system e gestisci i file
Comment[ja]=ファイルシステムをブラウズし、ファイルの管理を行います
Comment[pt]=Navegar no sistema e gerir ficheiros
Comment[pt_BR]=Navegue pelo sistema de arquivos e gerencie arquivos e pastas
Comment[ru]=Просмотр файловой системы и управление файлами
Comment[uk]=Показує файлову систему і керує файлами
Comment[zh_TW]=瀏覽檔案系統及管理檔案
Icon=system-file-manager
Exec=pcmanfm %U
Terminal=false
Categories=FileManager;Utility;Core;GTK;FileTools;System;
MimeType=inode/directory;
StartupNotify=true
X-Desktop-File-Install-Version=0.18
X-AppInstall-Package=pcmanfm
X-AppInstall-Popcon=1189
X-AppInstall-Section=main
