[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=90
X-AppInstall-Section=main

Type=Application
Name=Penguin Taipei
GenericName=
Comment=
Icon=
Exec=/usr/games/ace-taipei
Terminal=false
Categories=Game;BoardGame;
