[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Penguin Taipei
TryExec=/usr/games/ace-taipei
Exec=/usr/games/ace-taipei
Terminal=false
Categories=Game;BoardGame;
StartupNotify=false
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=90
X-AppInstall-Section=main
X-Arch-Package-Name=ace-of-penguins
X-Arch-Package-Version=1.4-2
X-Arch-Package-Description=A set of Unix/X solitaire games.
X-Arch-Package-URL=http://www.delorie.com/store/ace/
