[Desktop Entry]
X-AppInstall-Package=pgadmin3
X-AppInstall-Popcon=488
X-AppInstall-Section=main

Name=pgAdmin III
Comment=PostgreSQL Administration Tool
Exec=pgadmin3
Terminal=false
Type=Application
Icon=pgadmin3
Categories=Development;Database;
