[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=pgAdmin III
Comment=PostgreSQL Administration Tool
Icon=pgadmin3
TryExec=/usr/bin/pgadmin3
Exec=pgadmin3
Terminal=false
Categories=Development;Database;
StartupNotify=false
X-AppInstall-Package=pgadmin3
X-AppInstall-Popcon=488
X-AppInstall-Section=main
X-Arch-Package-Name=pgadmin3
X-Arch-Package-Version=1.20.0-5
X-Arch-Package-Description=Comprehensive design and management interface for PostgreSQL
X-Arch-Package-URL=http://www.pgadmin.org
