[Desktop Entry]
Type=Application
Name=Poe
Comment=Vorbis comment editor
Comment[bg]=Редактор на коментари на файлове във формат Ogg Vorbis
Icon=/usr/lib/GNUstep/Applications/Poe.app/Resources/Poe.tiff
TryExec=/usr/bin/Poe
Exec=Poe
Categories=AudioVideo;Audio;AudioVideoEditing;
StartupNotify=false
X-AppInstall-Package=poe.app
X-AppInstall-Popcon=41
X-AppInstall-Section=main
