[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Pyntor
Comment=Viewer for presentation slides
Comment[de]=Präsentationsprogramm
Icon=pyntor
TryExec=/usr/bin/pyntor
Exec=pyntor %f
Terminal=false
Categories=Office;
MimeType=application/x-pyntor;
StartupNotify=false
X-AppInstall-Package=pyntor
X-AppInstall-Popcon=9
X-AppInstall-Section=main
