[Desktop Entry]
X-AppInstall-Package=pysycache
X-AppInstall-Popcon=68
X-AppInstall-Section=main

Encoding=UTF-8
Exec=pysycache
Icon=_usr_share_pixmaps_pysycache
Type=Application
Categories=Education;KidsGame
Name=PySyCache
GenericName=PySyCache
Comment=Teach kids to move the mouse
Comment[fr]=Apprendre aux enfants à manipuler la souris
Comment[es]=Enseña a los niños a usar el ratón
Terminal=true
StartupNotify=false
