[Desktop Entry]
Type=Application
Name=Quantum GIS
GenericName=Geographical Information System
GenericName[de]=Geographisches Informationssystem
Icon=qgis-icon
TryExec=/usr/bin/qgis
Exec=/usr/bin/qgis %F
Categories=Education;Science;Geography;Qt;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-raster-ecw;application/x-raster-mrsid;application/x-mapinfo-mif;application/x-esri-shape;
StartupNotify=false
X-AppInstall-Package=None
X-AppInstall-Popcon=129
X-AppInstall-Section=main
X-Arch-Package-Name=None
X-Arch-Package-Version=-
X-Arch-Package-Description=None
X-Arch-Package-Groups=None
X-Arch-Package-URL=None
X-Arch-Package-Votes=129
