[Desktop Entry]
Type=Application
Name=DSP configuration
Name[es]=Configuración del DSP
Name[fr]=Configuration DSP
Name[it]=Configurazione DSP
Name[pl_PL]=Konfiguracja DSP
Comment=Utility to manage emu10k1/2 patch loader
Comment[es]=Utilidad para gestionar emu10k1/2 cargadora de parches
Comment[fr]=Utilitaire permettant de gérer emu10k1/2 correctifs chargeuse
Comment[it]=Utilità per la gestione emu10k1/2 cerotto caricatore
Comment[pl_PL]=Narzędzie do zarządzania ładowarką łatek w emu10k1/2
Icon=audio-card
TryExec=/usr/bin/qlo10k1
Exec=qlo10k1
X-MultipleArgs=false
Categories=AudioVideo;Audio;QT;
X-AppInstall-Package=alsa-tools-emu10k1-gui
X-AppInstall-Popcon=11
X-AppInstall-Section=aur
X-Arch-Package=alsa-tools-emu10k1-gui 1.0.29-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=alsa-tools-emu10k1-gui
X-Arch-Package-Version=1.0.29-1
X-Arch-Package-Description=a GUI utility to manage emu10k1/2 patch loader
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://alsa-project.org/
X-Arch-Package-Votes=11
