[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Qucs
Comment=A Universal Circuit Simulator
Comment[de]=Ein universeller Schaltkreissimulator
Comment[es]=Un simulador universal de circuitos
Icon=_usr_share_pixmaps_big.qucs
TryExec=qucs
Exec=qucs %U
Terminal=false
Categories=Education;Electronics
StartupNotify=false
X-AppInstall-Package=qucs
X-AppInstall-Popcon=105
X-AppInstall-Section=main
X-Arch-Package=qucs 0.0.18-1
X-Arch-Package-Name=qucs
X-Arch-Package-Version=0.0.18-1
X-Arch-Package-Description=An integrated circuit simulator with a graphical user interface
X-Arch-Package-URL=http://qucs.sourceforge.net
