[Desktop Entry]
Version=0.5
Encoding=UTF-8
Type=Application
Name=qwo
Comment=An input method for touchscreens
Icon=qwo
TryExec=/usr/bin/qwo
Exec=qwo
Terminal=false
Categories=Utility;Keyboard;
StartupNotify=false
X-MB-SingleInstance=true
X-AppInstall-Package=qwo
X-AppInstall-Popcon=1
X-AppInstall-Section=main
X-Arch-Package-Name=qwo
X-Arch-Package-Version=0.5-1
X-Arch-Package-Description=An implementation of Quikwriting
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.nongnu.org/qwo/
X-Arch-Package-Votes=1
