[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ReZound
Icon=rezound32.xpm
TryExec=/usr/bin/rezound
Exec=/usr/bin/rezound --audio-method=jack
Terminal=false
Categories=Application;AudioVideo;Audio;
StartupNotify=false
X-AppInstall-Package=rezound
X-AppInstall-Popcon=14
X-AppInstall-Section=main
X-Arch-Package-Name=rezound
X-Arch-Package-Version=0.12.3beta-4
X-Arch-Package-Description=ReZound aims to be a stable, open source, and graphical audio
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://rezound.sourceforge.net/
X-Arch-Package-Votes=14
