[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Import Key
Name[ar]=استورد مفتاح
Name[as]=কি ইম্পোৰ্ট কৰক
Name[ast]=Importar clave
Name[be@latin]=Impartuj kluč
Name[bg]=Внасяне на ключ
Name[bn]=কী ইম্পোর্ট করুন
Name[bn_IN]=কি ইম্পোর্ট করুন
Name[br]=Enporzhiañ an alc'hwez
Name[ca@valencia]=Importa clau
Name[ca]=Importa clau
Name[cs]=Importovat klíč
Name[da]=Importér nøgle
Name[de]=Schlüssel importieren
Name[dz]=ལྡེ་མིག་ནང་འདྲེན་འབད་
Name[el]=Εισαγωγή κλειδιού
Name[en@shaw]=𐑦𐑥𐑐𐑹𐑑 𐑒𐑰
Name[en_CA]=Import Key
Name[en_GB]=Import Key
Name[es]=Importar clave
Name[et]=Võtme importimine
Name[eu]=Inportatu gakoa
Name[fi]=Tuo avain
Name[fr]=Importer une clé
Name[gl]=Importar chave
Name[gu]=કી આયાત કરો
Name[he]=יבא נפתח
Name[hi]=कुंजी आयात करें
Name[hu]=Kulcs importálása
Name[it]=Importa chiave
Name[ja]=鍵のインポート
Name[kn]=ಕೀಲಿಯನ್ನು ಆಮದು ಮಾಡಿಕೊ
Name[ko]=키 가져오기
Name[lt]=Importuoti raktą
Name[lv]=Importēt atslēgu
Name[mk]=Увези клуч
Name[ml]=കീ ഇംപോറ്‍ട്ട് ചെയ്യുക
Name[mr]=किल्ली प्राप्त करा
Name[nb]=Importer nøkkel
Name[ne]=कुञ्जी आयात गर्नुहोस्
Name[nl]=Sleutel importeren
Name[nn]=Importer nøkkel
Name[oc]=Importar una clau
Name[or]=କି ଆମଦାନି କରନ୍ତୁ
Name[pa]=ਕੁੰਜੀ ਇੰਪੋਰਟ
Name[pl]=Importowanie klucza
Name[pt]=Importar Chave
Name[pt_BR]=Importar chave
Name[ro]=Import cheie
Name[ru]=Импортировать ключ
Name[sl]=Uvozi ključ
Name[sr@latin]=Uvezi ključ
Name[sr]=Увези кључ
Name[sv]=Importera nyckel
Name[ta]=விசையை இறக்குமதி செய்க
Name[te]=కీను దిగుమతిచేయి
Name[th]=นำเข้ากุญแจ
Name[tr]=İçe Anahtar Aktar
Name[uk]=Імпортувати ключ
Name[vi]=Nhập khoá
Name[zh_CN]=导入密钥
Name[zh_HK]=匯入密碼匙
Name[zh_TW]=匯入金鑰
TryExec=seahorse-tool
Exec=seahorse-tool --import
Terminal=false
NoDisplay=true
MimeType=application/pgp-keys;
StartupNotify=false
X-GNOME-DocPath=seahorse/seahorse.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.30.1
X-AppInstall-Package=seahorse-plugins
X-AppInstall-Popcon=7285
X-AppInstall-Section=main
