[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Spydr
GenericName=FITS Image Viewer
Comment=FITS image display and simple analysis
Icon=spydr48
TryExec=yorick
Exec=yorick -i spydr.i -c --batch  %F
Terminal=false
Categories=Education;Science;Astronomy;
MimeType=image/x-fits;
StartupNotify=false
X-AppInstall-Package=yorick-spydr
X-AppInstall-Popcon=5
X-AppInstall-Section=main
