[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Sweep
GenericName=Sound Editor
Comment=Sweep Sound Editor
Icon=sweep.svg
TryExec=sweep
Exec=sweep
Terminal=false
Categories=Application;AudioVideo;
MimeType=audio/x-wav
StartupNotify=false
X-AppInstall-Package=sweep
X-AppInstall-Popcon=90
X-AppInstall-Section=main
