[Desktop Entry]
Type=Application
Name=Tipptrainer Typing Tutor
GenericName=Typing Tutor
Comment=A program to learn touch typing
Comment[de]=Programm zur Erlernung des Blindschreibens
Icon=/usr/share/tipptrainer/tipptrainer
TryExec=/usr/bin/tipptrainer
Exec=tipptrainer
Categories=Education;
StartupNotify=false
X-AppInstall-Package=tipptrainer
X-AppInstall-Popcon=32
X-AppInstall-Section=main
