[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Adun
Comment=Biomoleculal Simulator
Icon=/usr/lib/GNUstep/Applications/UL.app/Resources/icon.tiff
TryExec=/usr/bin/UL
Exec=UL
Terminal=false
Categories=Education;Science;Biology;
StartupNotify=false
X-AppInstall-Package=adun.app
X-AppInstall-Popcon=25
X-AppInstall-Section=main
