[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Verbiste
Name[fr]=Verbiste
Comment=French conjugation system
Comment[fr]=Système de conjugaison française
Icon=verbiste.png
TryExec=verbiste
Exec=verbiste
Terminal=false
Categories=Office;Dictionary;
StartupNotify=false
X-AppInstall-Package=verbiste-gnome
X-AppInstall-Popcon=7
X-AppInstall-Section=main
X-Arch-Package-Name=verbiste-gnome
X-Arch-Package-Version=0.1.33-1
X-Arch-Package-Description=Generates conjugations of french verbs - with gnome-panel
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://sarrazip.com/dev/verbiste.html
X-Arch-Package-Votes=7
