[Desktop Entry]
Type=Application
Name=vnc-client
TryExec=/usr/bin/vnc-client
Exec=vnc-client
Categories=Network;System;Utility;GTK;
StartupNotify=false
X-AppInstall-Package=xenwatch
X-AppInstall-Popcon=74
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,i386
