[Desktop Entry]
Type=Application
Name=WrapperFactory
Comment=Graphically create Unix application wrappers for GNUstep
Comment[bg]=Графично създаване на стартери за GNUstep
Icon=_usr_lib_GNUstep_Applications_WrapperFactory.app_Resources_WrapperFactory
TryExec=/usr/bin/WrapperFactory
Exec=WrapperFactory
Categories=System;FileTools;
StartupNotify=false
X-AppInstall-Package=wrapperfactory.app
X-AppInstall-Popcon=126
X-AppInstall-Section=main
