[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=xdrawchem Chemistry Editor
GenericName=Chemistry Editor
Comment=Edit chemical structures and reactions
Icon=xdc
Exec=xdrawchem
Terminal=false
Categories=Education;Science;Chemistry;
StartupNotify=false
X-AppInstall-Package=xdrawchem
X-AppInstall-Popcon=47
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
