[Desktop Entry]
X-AppInstall-Package=xfwm4
X-AppInstall-Popcon=2248
X-AppInstall-Section=main

Version=1.0
Name=Window Manager Tweaks
Name[am]=የመስኮት አስተዳዳሪ ማሰማመር
Name[ar]=تضبيطات لمدير النوافذ
Name[ast]=Axustes del xestor de ventanes
Name[be]=Наладкі Кіраўніка вокнаў
Name[ca]=Ajustaments avançats del gestor de finestres
Name[cs]=Vyladění správce oken
Name[da]=Vindueshåndtering tweaks
Name[de]=Feineinstellungen des Fensterverhaltens
Name[dz]=སྒོ་སྒྲིག་འཛིན་སྐྱོང་པ་གཅུཝ་ཨིན།
Name[el]=Προσαρμογή διαχειριστή παραθύρων
Name[en_GB]=Window Manager Tweaks
Name[eo]=Rafina Agordo de la Administradilo de Fenestroj
Name[es]=Ajustes del gestor de ventanas
Name[et]=Aknahalduri ülehäälestamine
Name[eu]=Leiho kudeatzaile ezarpenak
Name[fi]=Ikkunamanagerin viritys
Name[fr]=Peaufinage des fenêtres
Name[he]=הגדרות נוספות של מנהל החלונות
Name[hu]=Ablakkezelő hangolása
Name[id]=Tweak Manajer Jendela
Name[it]=Regolazioni del gestore delle finestre
Name[ja]=ウィンドウマネージャ (詳細)
Name[kk]=Терезе басқарушының қу баптаулары
Name[ko]=창 관리자 기능향상
Name[lv]=Logu pārvaldnieka piedares
Name[mk]=Подобрувања на менаџерот за прозорци
Name[nb]=Vindusbehandler Tweaks
Name[nl]=Venster Beheer Bijstellen
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
Name[pl]=Menedżer okien
Name[pt]=Ajustes do Gestor de Janelas
Name[pt_BR]=Ajustes do Gerenciador de Janelas
Name[ro]=Opțiuni avansate ferestre
Name[ru]=Оконный менеджер 
Name[sk]=Pokročilé nastavenie správcu okien
Name[sq]=Rregullime të Imta për Përgjegjës Dritaresh
Name[sv]=Justeringar för fönsterhanterare
Name[tr]=Pencere Yöneticisi İnce Ayarları
Name[ug]=كۆزنەك باشقۇرغۇ (Tweaks)
Name[uk]=Налаштування менеджера вікон
Name[ur]=ونڈو منیجر کار کردگی
Name[ur_PK]=ونڈو منیجر کار کردگی
Name[vi]=Tinh chỉnh của trình quản lí cửa sổ
Name[zh_CN]=窗口管理器调整
Name[zh_TW]=視窗管理程式調校
Comment=Fine-tune window behaviour and effects
Comment[ast]=Axuste finu de comportamientu y efeutos de ventanes
Comment[ca]=Ajusta el comportament i els efectes de les finestres
Comment[cs]=Doladění chování okna a efektů
Comment[da]=Fin-indstil vindueopførsel og effekter
Comment[de]=Nehmen Sie Feineinstellungen am Fensterverhalten und den Fenstereffekten vor
Comment[el]=Ρύθμιση συμπεριφοράς παραθύρων και φαινόμενων
Comment[en_GB]=Fine-tune window behaviour and effects
Comment[es]=Ajuste fino de comportamiento y efectos de ventanas
Comment[eu]=Leiho portaera eta efektuak doitu
Comment[fi]=Hienosäädä ikkunoiden käytöstä ja tehosteita
Comment[fr]=Ajuster le comportement des fenêtres et leurs effets
Comment[gl]=Axustar o comportamento e os efectos das ventás
Comment[hu]=Ablakviselkedés és -effektusok finomhangolása
Comment[id]=Atur perilaku jendela dah efek
Comment[it]=Regolazione del comportamento della finestra e delle scorciatoie
Comment[ja]=ウィンドウの振る舞いと効果を微調整します
Comment[kk]=Терезе әрекеттерін мен жарлықтарды туралау
Comment[lv]=Noskaņot logu uzvedību un efektus
Comment[nb]=Finjuster vindusoppførsel og effekter
Comment[nl]=Perfectioneer venster gedrag en effecten
Comment[pl]=Konfiguruje ustawienia menedżera okien oraz efekty wizualne
Comment[pt]=Configuração avançada de comportamento e efeitos das janelas
Comment[pt_BR]=Configure o comportamento da janela
Comment[ro]=Optimizați comportamentul ferestrelor și efectele
Comment[ru]=Дополнительная настройка поведения окна и эффектов 
Comment[sk]=Doladenie správania okna a efektov
Comment[sq]=Rregulloni më imët efekte dhe sjellje dritaresh
Comment[sv]=Finjustera fönsterbeteende och effekter
Comment[tr]=Pencere davranışı ve olaylarını ayarla
Comment[ug]=كۆزنەك ھەرىكىتى ۋە ئۈنۈمىنى ئىنچىكە تەڭشەش
Comment[uk]=Тонке налаштування заголовку вікна і ефектів
Comment[ur]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[ur_PK]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[zh_CN]=微调窗口行为及效果
Exec=xfwm4-tweaks-settings
Icon=wmtweaks
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpFile=xfwm4.html
