[Desktop Entry]
X-AppInstall-Package=xpuzzles
X-AppInstall-Popcon=14
X-AppInstall-Section=main

Name=xpyraminx
GenericName=pyraminx game
Exec=/usr/games/xpyraminx
Icon=_usr_share_pixmaps_xpyraminx.m
Terminal=false
Type=Application
Categories=Game;
