[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XTide Tide Predictor
GenericName=Tide Predictor
Comment=View tide and current predictions
Icon=xtide
TryExec=/usr/bin/xtide
Exec=xtide
Terminal=false
Categories=Education;Science;
StartupNotify=false
X-AppInstall-Package=xtide
X-AppInstall-Popcon=6
X-AppInstall-Section=main
X-Arch-Package-Name=xtide
X-Arch-Package-Version=2.13-2
X-Arch-Package-Description=Harmonic tide clock and tide predictor
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.flaterco.com/xtide/xtide.html
X-Arch-Package-Votes=6
