[Desktop Entry]
Type=Application
Name=YahtzeeSharp
GenericName=YahtzeeSharp
Comment=An open source Yahtzee like game written in C#
Icon=yahtzeesharp
TryExec=/usr/bin/yahtzeesharp
Exec=yahtzeesharp
Categories=Game;BoardGame;
StartupNotify=false
X-AppInstall-Package=yahtzeesharp
X-AppInstall-Popcon=1
X-AppInstall-Section=main
