[Desktop Entry]
Type=Application
Name=Capitalism
Comment=A client for playing monopoly
Icon=capitalism.png
TryExec=/usr/bin/capitalism
Exec=/usr/bin/capitalism
Categories=Application;Game;BoardGame;
X-AppInstall-Package=capicity
X-AppInstall-Popcon=3
X-AppInstall-Section=aur
X-Arch-Package=capicity 1.0-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=capicity
X-Arch-Package-Version=1.0-1
X-Arch-Package-Description=A client for playing monopoly, compatible to monopd and capid
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://qt-apps.org/content/show.php/Capicity?content=113173
X-Arch-Package-Votes=3
