[Desktop Entry]
Type=Application
Name=Qt Assistant
GenericName=Qt Document Browser
Icon=assistant
TryExec=/usr/bin/assistant
Exec=/usr/bin/assistant
NoDisplay=true
Categories=Development;Documentation;Qt;
X-AppInstall-Package=fixed_qt-appmenu
X-AppInstall-Section=aur
X-Arch-Package=fixed_qt-appmenu 4.7.3-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=fixed_qt-appmenu
X-Arch-Package-Version=4.7.3-1
X-Arch-Package-Description=A cross-platform application and UI framework
X-Arch-Package-URL=http://qt.nokia.com/
Aliases=assistant;
