[Desktop Entry]
Version=0.0.4
Type=Application
Name=Gadmin Control Panel
Icon=gadmin-control-panel.png
TryExec=/usr/bin/gadmin-control-panel
Exec=gadmin-control-panel
Categories=System;Applications;
X-AppInstall-Package=gadmin-control-panel
X-AppInstall-Section=aur
X-Arch-Package=gadmin-control-panel 0.0.4-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=gadmin-control-panel
X-Arch-Package-Version=0.0.4-1
X-Arch-Package-Description=Control Panel for Gadmin Tools
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://mange.dynalias.org/linux/gadmintools-webpage/app_pages/gadmin-control-panel.html
X-Arch-Package-Votes=0
