[Desktop Entry]
Type=Application
Name=Login Window
Name[af]=Aantekenskermopstelling
Name[ar]=نافذة الولوج
Name[as]=প্ৰৱেশ উইন্ডো
Name[az]=Giriş Ekranı Qurğuları
Name[be]=Наладка экрану ўваходу
Name[bg]=Екран за идентификация
Name[bn]=লগ-ইন উইন্ডো
Name[bn_IN]=লগ-ইন উইন্ডো
Name[bs]=PodeĹˇavanje prikaza za prijavu
Name[ca]=Finestra d'entrada
Name[cs]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[da]=Logind-skærm
Name[de]=Anmeldefenster
Name[dz]=ནང་བསྐྱོད་སྒོ་སྒྲིག
Name[el]=Παράθυρο εισόδου
Name[es]=Ventana de entrada
Name[et]=Sisselogimisaken
Name[eu]=Saio-hasieraren pantaila
Name[fa]=پنجرهٔ ورود به سیستم
Name[fi]=Kirjautumisikkuna
Name[fr]=Fenêtre de connexion
Name[gl]=Ventá de inicio de sesión
Name[gu]=પ્રવેશ વિન્ડો
Name[he]=חלון התחברות
Name[hi]=लॉगइन विंडो
Name[hr]=Podešavanje zaslona za prijavu
Name[hu]=Bejelentkező ablak
Name[id]=Jendela Login
Name[it]=Finestra di accesso
Name[ja]=ログイン画面
Name[ka]=შემოსასვლელი სარკმელი
Name[km]=បង្អួច​ចូល
Name[kn]=ದಾಖಲಾತಿ ವಿಂಡೋ
Name[ko]=로그인 창
Name[ku]=Paceya Têketinê
Name[lt]=Prisijungimo langas
Name[lv]=Pieslēgšanās logs
Name[mg]=Fikandran'ny fidirana
Name[mk]=Прозорец за најава
Name[ml]=ലോഗിന്‍ ജാലകം
Name[mn]=Нэвтрэх цонхны тохиргоо
Name[mr]=लॉगइन स्क्रीन सेटअप
Name[ms]=Konfigurasi skrin logmasuk
Name[nb]=Påloggingsskjerm
Name[ne]=सञ्झ्याल लगइन गर्नुहोस्
Name[nl]=Aanmeldvenster
Name[nn]=Innloggingsvindauge
Name[nso]=Peakanyo ya Sekirini sa go Tsena
Name[oc]=Fenèstra de connexion
Name[or]=ଲଗଇନ ୱିଣ୍ଡୋ
Name[pa]=ਲਾਗਇਨ ਵਿੰਡੋ
Name[pl]=Ekran logowania
Name[pt]=Janela de Início de Sessão
Name[pt_BR]=Janela de início de sessão
Name[ro]=Fereastră de autentificare
Name[ru]=Окно входа в систему
Name[si]=පිවිසුම් කවුළුව
Name[sk]=Prihlasovacie okno
Name[sl]=Prijavno okno
Name[sq]=Dritarja e hyrjes
Name[sr@Latn]=Prozor za prijavu
Name[sr]=Прозор за пријаву
Name[sv]=Inloggningsfönster
Name[ta]=நுழைவாயில்
Name[te]=ప్రవేశద్వార గవాక్షం
Name[th]=หน้าจอเข้าระบบ
Name[tr]=Giriş Penceresi
Name[uk]=Вікно входу у систему
Name[vi]=Cửa sổ đăng nhập
Name[xh]=Indlela Yokumisela Isikrini Sokungena
Name[zh_CN]=登录窗口
Name[zh_HK]=登入畫面
Name[zh_TW]=登入畫面
Name[zu]=Ukuhlelwa Kwesibuko Sokungena
GenericName=Login Screen Setup
GenericName[af]=Aantekenskermopstelling
GenericName[ar]=تعيين شاشة التسجيل
GenericName[az]=Giriş Ekranı Qurğuları
GenericName[be]=Наладка экрану ўваходу
GenericName[bg]=Настройка на изгледа на входната програма
GenericName[bn]=লগইনে ব্যবহৃত ছবি
GenericName[bs]=PodeĹˇavanje prikaza za prijavu
GenericName[ca]=Configuració de la pantalla d'entrada
GenericName[cs]=Nastavení přihlašovací obrazovky
GenericName[da]=Indstillinger for logind-skærm
GenericName[de]=Einrichtung des Anmeldebildschirms
GenericName[el]=Ρύθμιση οθόνης εισόδου
GenericName[es]=Configuración de la pantalla de inicio de sesión
GenericName[et]=Sisselogimisekraani sätted
GenericName[eu]=Saio-hasierako pantailaren konfigurazioa
GenericName[fa]=برپاسازی صفحه‌ی نمایش ورود به سیستم
GenericName[fi]=Kirjautumisruudun asetukset
GenericName[fr]=Configuration de l'écran de connexion
GenericName[gl]=Configuración da pantalla de inicio de sesión
GenericName[gu]=લોગઈન સ્ક્રીન સેટઅપ
GenericName[he]=הגדרת מסך התחברות
GenericName[hi]=लॉगइन स्क्रीन सेटअप
GenericName[hr]=Podešavanje zaslona za prijavu
GenericName[hu]=A bejelentkező képernyő beállítása
GenericName[id]=A bejelentkező képernyő beállítása
GenericName[it]=Impostazione della schermata di login
GenericName[ja]=ログイン画面の設定
GenericName[km]=រៀបចំ​អេក្រង់​ចូល
GenericName[lt]=Prisijungimo ekrano sąranka
GenericName[mk]=Поставувања на екранот за најава
GenericName[mn]=Нэвтрэх цонхны тохиргоо
GenericName[mr]=लॉगइन स्क्रीन सेटअप
GenericName[ms]=Konfigurasi skrin logmasuk
GenericName[nb]=Oppsett av påloggingsskjerm
GenericName[ne]=पर्दाको सेट-अपलाई लग-इन गर्नुहोस्
GenericName[nl]=Instellingen voor aanmeldscherm
GenericName[nn]=Oppsett av innloggingsskjermen
GenericName[nso]=Peakanyo ya Sekirini sa go Tsena
GenericName[pa]=ਲਾਗ-ਇਨ ਸਕਰੀਨ ਸੈੱਟਅੱਪ
GenericName[pl]=Ustawienia ekranu logowania
GenericName[pt]=Configuração de Ecrã de Início de Sessão
GenericName[pt_BR]=Configuração da Tela de Início de Sessão
GenericName[ro]=Setări autentificare
GenericName[ru]=Настройка экрана входа в систему
GenericName[sk]=Nastavenie obrazovky prihlásenia
GenericName[sl]=Nastavitev prijavnega zaslona
GenericName[sq]=Rregullimi i dritares së Login
GenericName[sr@Latn]=Podešavanje ekrana za prijavu
GenericName[sr]=Подешавање екрана за пријаву
GenericName[sv]=Konfiguration av inloggningsskärm
GenericName[ta]=நுழைவு திறை அமைவு
GenericName[th]=การตั้งค่าหน้าจอเข้าระบบ
GenericName[tr]=Giriş Ekranı Ayarları
GenericName[uk]=Налаштовування екрану входу в систему
GenericName[vi]=Thiết lập màn hình đăng nhập
GenericName[xh]=Indlela Yokumisela Isikrini Sokungena
GenericName[zh_CN]=登录屏幕设置
GenericName[zh_TW]=登入畫面設定
GenericName[zu]=Ukuhlelwa Kwesibuko Sokungena
Comment=Configure GDM login window appearance and behavior
Comment[af]=Konfigureer die aantekenskerm (GNOME-skermbestuurder)
Comment[ar]=إعداد مظهر وسلوك نافذة ولوج م‌ع‌ج
Comment[bg]=Настройване на поведението и външния вид на екрана за идентификация
Comment[bn]=GDM লগ-ইন উইন্ডোর চেহারা ও আচরণ কনফিগার করুন
Comment[bn_IN]=GDM লগ-ইন উইন্ডোর চেহারা ও আচরণ কনফিগার করুন
Comment[bs]=Podesite menadžer prijavom (KDM)
Comment[ca]=Configureu la pantalla d'entrada (el gestor d'entrades del GNOME)
Comment[cs]=Nastavit vzhled a chování přihlašovacího okna GDM
Comment[da]=Konfigurér GDM logind-vinduets udseende og opførsel
Comment[de]=Aussehen und Verhalten des Anmeldefensters konfigurieren
Comment[dz]=ཇི་ཌི་ཨེམ་ནང་བསྐྱོད་སྒོ་སྒྲིག་ འབྱུངསྣང་དང་སྤྱོད་ལམ་ རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση εμφάνισης και συμπεριφοράς του παραθύρου εισόδου (Gnome Display Manager)
Comment[en_CA]=Configure GDM login window appearance and behaviour
Comment[en_GB]=Configure GDM login window appearance and behaviour
Comment[es]=Configure la apariencia y comportamiento de la pantalla de entrada
Comment[et]=GDM-i sisselogimisakna välimuse ja käitumise seadistamine
Comment[eu]=Konfiguratu GDM saio-hasieraren pantailaren itxura eta portaera
Comment[fa]=پیکربندی صفحه‌ی نمایش ورود به سیستم (مدیر نمایش گنوم)
Comment[fi]=Määritä GDM-kirjautumisikkunan ulkoasu ja toiminta
Comment[fr]=Configurer l'apparence et le comportement de la fenêtre de connexion GNOME
Comment[gl]=Configurar a aparencia e comportamento da ventá de inicio de sesión do GDM
Comment[gu]=GDM પ્રવેશ વિન્ડો દેખાવ અને વર્તણૂક રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות מנהל הכניסה למערכת (KDM)
Comment[hi]=GDM लॉगिन विंडो प्रकटन व आचरण विन्यस्त करें
Comment[hr]=Podesite upravitelja logina (KDM)
Comment[hu]=A bejelentkezéskezelő ablak megjelenésének és viselkedésének beállítása
Comment[id]=A bejelentkező képernyő (GNOME Display Manager) beállítása
Comment[it]=Configura l'aspetto e il comportamento della finestra di accesso di GDM
Comment[ja]=GDM ログイン画面の外観や動作を変更します
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង​ និង​ឥរិយាបថ​បង្អួច​ចូល​របស់ GDM
Comment[kn]=GDM ಪ್ರವೇಶ ಕಿಟಕಿಯ ರೂಪ ಹಾಗು ವರ್ತನೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=GDM 로그인 창 모양 및 동작 설정
Comment[lo]=ປັບແຕ່ງປລັກອິນແລະການເຊື່ອມ ຕໍ່ສຳລັບລະບົບ KDB
Comment[lt]=Konfigūruoti GDM prisijungimo lango išvaizdą bei veikimą
Comment[lv]=Konfigurēt GDM pieslēgšanās loga izskatu un uzvedību
Comment[mk]=Конфигурирај го изгледот на најавниот прозорец на GDM и неговото однесување
Comment[ml]=GDM ലോഗിന്‍ ജാലകം എങ്ങനെ എന്ന് ക്റമികരിക്കുക
Comment[mr]=लॉग इन स्क्रीनचा आकृतीबंध बनवा(ग्नोम डिस्प्ले मॅनेजर)
Comment[nb]=Konfigurer utseende og oppførsel for påloggingsskjerm
Comment[ne]=जीडीएम लगइन सञ्झ्याल देखावट र व्यवहार कन्फिगर गर्नुहोस्
Comment[nl]=Stel het uiterlijk en gedrag in van de GDM-aanmeldbeheerder.
Comment[nn]=Still inn åtferda og utsjåandet til påloggingsvindauget i GDM
Comment[pa]=GDM ਲਾਗਇਨ ਵਿੰਡੋ ਦਿੱਖ ਅਤੇ ਰਵੱਈਆ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu i działania ekranu logowania GDM
Comment[pt]=Configurar a aparência e comportamento do ecrã de início de sessão do GDM
Comment[pt_BR]=Configurar aparência e comportamento da janela de acesso do GDM
Comment[ro]=Configurare fereastră de autentificare GDM
Comment[ru]=Настройка внешнего вида и поведения экрана входа в систему GDM
Comment[sk]=Nastaviť vzhľad a správanie prihlasovacieho okna
Comment[sl]=Nastavi obnašanje in videz prijavnega okna
Comment[sq]=Konfiguro paraqitjen dhe sjelljen e dritares së hyrjes GDM
Comment[sr@Latn]=Подеси екран за пријаву (Гномов управник пријаве)
Comment[sr]=Подеси екран за пријаву (Гномов управник пријаве)
Comment[sv]=Konfigurera GDM-inloggningsfönstrets utseende och beteende
Comment[ta]=ஜிடிஎம் நுழைவாயில் சாளர பார்வை மற்றும் நடத்தையை உருவமை.
Comment[te]=జిడియం ప్రవేశద్వారం గవాక్షం రూపం మరియు ప్రవర్తన రూపకరించు
Comment[th]=ปรับแต่งรูปโฉมและพฤติกรรมของหน้าจอเข้าระบบ GDM
Comment[tr]=GDM giriş ekranı görünüm ve davranışını yapılandır
Comment[uk]=Налаштовування зовнішнього вигляду та поведінки екрану входу у систему GDM
Comment[vi]=Cấu hình diện mạo và ứng xử của cửa sổ đăng nhập GDM
Comment[xh]=Yenza ubumbeko lwesikrini sokungena (Umlawuli Womboniso we-GNOME)
Comment[zh_CN]=配置 GDM 登录窗口的外观和行为
Comment[zh_TW]=Comment(gdmsetup.desktop)： Configure the login window (GNOME Display Manager)
Comment[zu]=Hlela isibuko (screen) sokungena (Umlawuli Wokubonisa we-GNOME)
Icon=gdmsetup
TryExec=/usr/bin/gdmsetup
Exec=pkexec /usr/bin/gdmsetup
Categories=Settings;System;GNOME;GTK;
StartupNotify=true
DocPath=gdm
X-KDE-RootOnly=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
X-AppInstall-Package=gdm-old
X-AppInstall-Section=custom
X-Arch-Package=gdm-old 2.20.11-9.2
X-Arch-Package-Repository=custom
X-Arch-Package-Name=gdm-old
X-Arch-Package-Version=2.20.11-9.2
X-Arch-Package-Description=Gnome Display Manager (a reimplementation of xdm)
X-Arch-Package-Groups=gnome-extra
X-Arch-Package-URL=http://www.gnome.org
X-SuSE-added=Comment,zh_TW;Comment,lo;Comment,he;Comment,sr@Latn;Comment,hr;Comment,km;Comment,bs;Name,km;Comment,tr;Comment,sl;Comment,sk;Comment,ro;Comment,it;Comment,gl;Comment,fr;Comment,fi;Comment,es;Comment,cs;Name,pt_BR;Name,it;Name,es;
X-SuSE-translate=true
