[Desktop Entry]
Type=Application
Name=Gpiv
Comment=Program for Particle Image Velocimetry
Icon=gpiv_logo.png
TryExec=/usr/bin/gpiv
Exec=gpiv
Categories=Science;
X-AppInstall-Package=gpiv
X-AppInstall-Section=aur
X-Arch-Package=gpiv 0.6.1-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=gpiv
X-Arch-Package-Version=0.6.1-1
X-Arch-Package-Description=GUI for Particle Image Velocimetry (PIV).
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://gpiv.sourceforge.net/
X-Arch-Package-Votes=0
