[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GSmartControl
GenericName=Hard Disk Health Inspection
Comment=Monitor and control SMART data on hard disks
Icon=gsmartcontrol
TryExec=/usr/bin/gsmartcontrol_polkit
Exec=/usr/bin/gsmartcontrol_polkit
Terminal=false
Categories=System;Monitor;GTK;
StartupNotify=false
X-AppInstall-Package=gsmartcontrol
X-AppInstall-Popcon=136
X-AppInstall-Section=main
X-Arch-Package=gsmartcontrol 0.8.7-5
X-Arch-Package-Name=gsmartcontrol
X-Arch-Package-Version=0.8.7-5
X-Arch-Package-Description=A graphical user interface for the smartctl hard disk drive health inspection tool.
X-Arch-Package-URL=http://gsmartcontrol.sourceforge.net/home/
X-SuSE-translate=false
