[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gThumb Image Viewer
Name[am]=የgThumb ምስል ተመልካች
Name[ar]=عرص صور جي ثمب
Name[az]=gThumb Rəsm Nümayişçisi
Name[be]=Зьбіральнік відарысаў
Name[bg]=Преглед на изображения (gThumb)
Name[ca]=Visualitzador d'imatges gThumb
Name[cs]=Prohlížeč obrázků gThumb
Name[da]=gThumb - billedfremviseren
Name[de]=gThumb Bildbetrachter
Name[dz]=ཇི་ཐམཔ་ གཟུགས་བརྙན་ མཐོང་བྱེད།
Name[el]=Προβολή εικόνων gThumb
Name[en_CA]=gThumb Image Viewer
Name[en_GB]=gThumb Image Viewer
Name[es]=Visor de imágenes gThumb
Name[et]=gThumb Pildivaataja
Name[eu]=gThumb irudi ikustailea
Name[fa]=نمایش‌دهنده‌ی تصویر gThumb
Name[fi]=gThumb-kuvakatselin
Name[fr]=Visionneur d'images gThumb
Name[gl]=Visor de imaxes gThumb
Name[gu]=જીથમ્બ ઈમેજ દર્શક
Name[he]=מציג התמונות GThumb
Name[hr]=gThumb preglednik slika
Name[hu]=gThumb képmegjelenítő
Name[id]=gThumb Penampil Gambar
Name[it]=Visualizzatore immagini (gThumb)
Name[ja]=gThumb 画像ビューア
Name[ko]=gThumb 그림 보기
Name[lt]=Paveikslėlių peržiūros programa gThumb
Name[lv]=gThumb Attēlu Skatītājs
Name[mk]=gThumb прегледувач на слики
Name[ms]=Pelihat Imej gThumb
Name[nb]=gThumb bildeviser
Name[ne]=जीथम्ब छवि दर्शक
Name[nl]=gThumb afbeeldingenviewer
Name[pa]=ਜੀ-ਥੰਮ ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów gThumb
Name[pt]=Visualizador de Imagens gThumb
Name[pt_BR]=Visualizador de Imagens gThumb
Name[ro]=gThumb vizualizator de imagini
Name[ru]=Просмотр изображений gThumb
Name[sk]=Prehliadač obrázkov gThumb
Name[sr@Latn]=gThumb Pregledač slika
Name[sr]=gThumb Прегледач слика
Name[sv]=Bildvisaren gThumb
Name[th]=โปรแกรมดูภาพ gThumb
Name[tr]=gThumb Resim Gösterici
Name[uk]=Переглядач зображень GThumb
Name[vi]=Bộ xem ảnh gThumb
Name[xh]=IsiBonakalisi soMfanekiso i-gThumb
Name[zh_CN]=gThumb 图像浏览器
Name[zh_HK]=gThumb 圖片管理工具
Name[zh_TW]=gThumb 圖片管理工具
GenericName=Image Viewer
GenericName[ar]=عارض الصّور
GenericName[bs]=Preglednik slika
GenericName[ca@valencia]=Visualitzador d'imatges
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=gThumb Bildbetrachter
GenericName[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_CA]=Image Viewer
GenericName[en_GB]=Image Viewer
GenericName[eo]=Bildomontrilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi ikustailea
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visionneur d'image
GenericName[gl]=Visor de imaxes
GenericName[gu]=ઈમેજ દર્શક
GenericName[he]=מציג תמונות
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Gambar
GenericName[it]=Visualizzatore immagini
GenericName[ja]=画像ビューアー
GenericName[kn]=ಚಿತ್ರ ನೋಡುಗ
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[lv]=Attēlu skatītājs
GenericName[mk]=Прегледувач на слики
GenericName[nb]=Bildeviser
GenericName[nds]=Billopwieser
GenericName[ne]=छवि दर्शक
GenericName[nl]=Afbeeldingenviewer
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów
GenericName[ps]=انځور ليدونی
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizator imagini
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr@latin]=Preglednik slika
GenericName[sr]=Прегледник слика
GenericName[sv]=Bildvisare
GenericName[th]=โปรแกรมดูภาพ
GenericName[uk]=Перегляд зображень
GenericName[vi]=Bộ xem ảnh
GenericName[zh_CN]=图像浏览器
GenericName[zh_HK]=圖片檢視工具
GenericName[zh_TW]=圖片檢視器
X-GNOME-FullName=gThumb Image Viewer
X-GNOME-FullName[am]=የgThumb ምስል ተመልካች
X-GNOME-FullName[az]=gThumb Rəsm Nümayişçisi
X-GNOME-FullName[bg]=Преглед на изображения (gThumb)
X-GNOME-FullName[bs]=gThumb Preglednik slika
X-GNOME-FullName[ca@valencia]=Visualitzador d'imatges gThumb
X-GNOME-FullName[ca]=Visualitzador d'imatges gThumb
X-GNOME-FullName[cs]=Prohlížeč obrázků gThumb
X-GNOME-FullName[da]=gThumb - billedfremviseren
X-GNOME-FullName[de]=gThumb Bildbetrachter
X-GNOME-FullName[dz]=ཇི་ཐམཔ་ གཟུགས་བརྙན་ མཐོང་བྱེད།
X-GNOME-FullName[el]=Προβολή εικόνων gThumb
X-GNOME-FullName[en_CA]=gThumb Image Viewer
X-GNOME-FullName[en_GB]=gThumb Image Viewer
X-GNOME-FullName[eo]=Bildomontrilo gThumb
X-GNOME-FullName[es]=Visor de imágenes gThumb
X-GNOME-FullName[et]=gThumb Pildivaataja
X-GNOME-FullName[eu]=gThumb irudi ikustailea
X-GNOME-FullName[fa]=نمایش‌دهنده‌ی تصویر gThumb
X-GNOME-FullName[fi]=gThumb-kuvakatselin
X-GNOME-FullName[fr]=Visionneur d'images gThumb
X-GNOME-FullName[gl]=Visor de imaxes gThumb
X-GNOME-FullName[gu]=જીથમ્બ ઈમેજ દર્શક
X-GNOME-FullName[he]=מציג התמונות GThumb
X-GNOME-FullName[hr]=gThumb preglednik slika
X-GNOME-FullName[hu]=gThumb képmegjelenítő
X-GNOME-FullName[id]=gThumb Penampil Gambar
X-GNOME-FullName[it]=Visualizzatore immagini gThumb
X-GNOME-FullName[ja]=gThumb 画像ビューアー
X-GNOME-FullName[kn]=gThumb ಚಿತ್ರ ನೋಡುಗ
X-GNOME-FullName[ko]=gThumb 그림 보기
X-GNOME-FullName[lt]=Paveikslėlių peržiūros programa gThumb
X-GNOME-FullName[lv]=gThumb attēlu skatītājs
X-GNOME-FullName[mk]=gThumb прегледувач на слики
X-GNOME-FullName[ms]=Pelihat Imej gThumb
X-GNOME-FullName[nb]=gThumb bildeviser
X-GNOME-FullName[nds]=gThumb Billopwieser
X-GNOME-FullName[ne]=जीथम्ब छवि दर्शक
X-GNOME-FullName[nl]=gThumb afbeeldingenviewer
X-GNOME-FullName[pa]=ਜੀ-ਥੰਮ ਚਿੱਤਰ ਦਰਸ਼ਕ
X-GNOME-FullName[pl]=Przeglądarka obrazów gThumb
X-GNOME-FullName[ps]=انځور ليدونی gThumb
X-GNOME-FullName[pt]=Visualizador de Imagens gThumb
X-GNOME-FullName[pt_BR]=Visualizador de imagens gThumb
X-GNOME-FullName[ro]=gThumb vizualizator de imagini
X-GNOME-FullName[ru]=Просмотр изображений gThumb
X-GNOME-FullName[sk]=Prehliadač obrázkov gThumb
X-GNOME-FullName[sl]=gThumb pregledovalnik slik
X-GNOME-FullName[sr@Latn]=gThumb Pregledač slika
X-GNOME-FullName[sr@latin]=Pregledač slika Gnomov sličko
X-GNOME-FullName[sr]=Прегледач слика Гномов сличко
X-GNOME-FullName[sv]=Bildvisaren gThumb
X-GNOME-FullName[th]=โปรแกรมดูภาพ gThumb
X-GNOME-FullName[tr]=gThumb Resim Gösterici
X-GNOME-FullName[uk]=Переглядач зображень GThumb
X-GNOME-FullName[vi]=Bộ xem ảnh gThumb
X-GNOME-FullName[xh]=IsiBonakalisi soMfanekiso i-gThumb
X-GNOME-FullName[zh_CN]=gThumb 图像浏览器
X-GNOME-FullName[zh_HK]=gThumb 圖片管理工具
X-GNOME-FullName[zh_TW]=gThumb 圖片檢視器
Comment=View and organize your images
Comment[ar]=اعرض ونظم صورك
Comment[az]=Rəsmlərinizi nümayiş və idarə edin
Comment[be]=Дазваляе праглядаць і ўтвараць зборы відарысаў
Comment[bg]=Преглед и организиране на вашите изображения
Comment[bs]=Pogledaj i organizuj svoje slike
Comment[ca@valencia]=Visualitzeu i organitzeu les vostres imatges
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížejte si a roztřiďte své obrázky
Comment[da]=Vis og organiser dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[dz]=ཁྱོད་རའི་གཟུགས་བརྙན་ཚུ་ སྟོན་བཞིནམ་ལས་  འགོ་འདྲེན་འཐབ།
Comment[el]=Προβάλλετε και οργανώστε τις εικόνες σας
Comment[en_CA]=View and organize your images
Comment[en_GB]=View and organise your images
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaata ja korrasta oma pilte
Comment[eu]=Ikusi eta antolatu zure irudiak
Comment[fa]=تصاویر خود را ببنینید و سازمان‌دهی کنید
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[gl]=Ver e organizar as túas imaxes
Comment[gu]=તમારી ઈમેજો જુઓ અને આયોજિત કરો
Comment[he]=צפייה וארגון התמונות שלך
Comment[hr]=Prikazujte i organizirajte vaše slike
Comment[hu]=Képek megtekintése és rendszerezése
Comment[id]=Tampilkan dan atur gambar-gambar Anda
Comment[it]=Visualizza e organizza le proprie immagini
Comment[ja]=画像を表示し管理するツールです
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರಗಳನ್ನು ನೋಡಿ ಹಾಗು ಜೋಡಿಸಿ
Comment[ko]=그림을 보고 관리도 하세요
Comment[lt]=Peržiūrėti ir tvarkyti paveikslėlius
Comment[lv]=Skatiet un organizējiet savus attēlus
Comment[mk]=Гледајте ги и организирајте ги Вашите слики
Comment[ms]=Lihat dan pelihara imej anda
Comment[nb]=Vis og organiser dine bilder
Comment[ne]=तपाईँको छविहरू हेर्नुहोस् र संगठित गर्नुहोस्
Comment[nl]=Uw afbeeldingen weergeven en beheren
Comment[pa]=ਆਪਣੇ ਚਿੱਤਰ ਵੇਖੋ ਤੇ ਇਹਨਾਂ ਦੀ ਸੰਭਾਲ ਕਰੋ
Comment[pl]=Wyświetlanie i organizacja obrazów
Comment[ps]=خپل انځورونه وګورﺉ او سم يې کړﺉ
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Veja e organize as suas imagens
Comment[ro]=Vizualizează și organizează imagini
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sk]=Pozerajte a organizujte svoje obrázky
Comment[sl]=Oglejte in uredite svoje slike
Comment[sq]=Shfaq dhe organizon imazhet tuaja
Comment[sr@Latn]=Pogledaj i organizuj svoje slike
Comment[sr@latin]=Pogledajte i sredite svoje slike
Comment[sr]=Погледајте и средите своје слике
Comment[sv]=Visa och organisera dina bilder
Comment[th]=ดูและจัดการรูปภาพ
Comment[tr]=Resimleri düzenle ve göster
Comment[uk]=Перегляд зображень та ведення альбомів
Comment[vi]=Xem và tổ chức các ảnh của bạn
Comment[xh]=Buka uze ulungise imifanekiso yakho
Comment[zh_CN]=查看及管理图像
Comment[zh_HK]=檢視和組織你的圖片
Comment[zh_TW]=檢視和組織您的圖片
Icon=gthumb
TryExec=gthumb
Exec=gthumb %U
Terminal=false
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Keywords=Image;Viewer;
Keywords[bs]=slika;preglednik;
Keywords[cs]=obrázek;fotka;fotografie;prohlížeč;
Keywords[el]=Image;Viewer;Εικόνα;θεατής;
Keywords[es]=Visor;Imagen;
Keywords[fr]=Image;Visionneur;
Keywords[he]=תמונה;מציג;מציג תמונות;
Keywords[hu]=Kép;Megjelenítő;
Keywords[lt]=Paveikslėlis;Peržiūra;
Keywords[pl]=Obraz;Przeglądarka;
Keywords[pt_BR]=Imagens;Image;Visualizador;Viewer;
Keywords[sr@latin]=slika;preglednik;
Keywords[sr]=слика;прегледник;
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
StartupNotify=true
X-GNOME-DocPath=gthumb/gthumb.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.0
X-AppInstall-Package=gthumb
X-AppInstall-Popcon=16152
X-AppInstall-Section=main
X-Arch-Package=gthumb 3.4.0-1
X-Arch-Package-Name=gthumb
X-Arch-Package-Version=3.4.0-1
X-Arch-Package-Description=Image browser and viewer for the GNOME Desktop
X-Arch-Package-URL=http://live.gnome.org/gthumb
