[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gtk2 Change Theme
Comment=Another simple GTK2 theme switcher.
Exec=gtk-chtheme
Icon=preferences-desktop-theme
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;
NotShowIn=GNOME;XFCE;
