[Desktop Entry]
Type=Application
Name=KNetWalk
Name[fa]=گشت شبکه‌
Name[hne]=के-नेट-वाक
Name[nn]=KNettvandrar
Name[sr@ijekavian]=К‑мрежоход
Name[sr@ijekavianlatin]=K‑mrežohod
Name[sr@latin]=K‑mrežohod
Name[sr]=К‑мрежоход
Name[sv]=Knetwalk
Name[te]=కెనెట్ వాక్
Name[x-test]=xxKNetWalkxx
Name[zh_CN]=kNetwalk
GenericName=Network Construction Game
GenericName[ca@valencia]=Joc de construcció de xarxes
GenericName[ca]=Joc de construcció de xarxes
GenericName[cs]=Hra s vytvářením sítě
GenericName[da]=Spil om netværksopbygning
GenericName[de]=Netzwerke aufbauen
GenericName[el]=Παιχνίδι δημιουργίας δικτύου
GenericName[es]=Juego de construcción de redes
GenericName[et]=Võrgu loomise mäng
GenericName[eu]=Sarea eraikitzeko jokoa
GenericName[fa]=بازی ساخت شبکه
GenericName[fi]=Verkonrakennuspeli
GenericName[fr]=Jeu de construction de réseau
GenericName[ga]=Cluiche Tógála Líonra
GenericName[gl]=Xogo de construción de redes
GenericName[hne]=नेटवर्क कंस्ट्रक्सन वाले खेल
GenericName[hu]=Hálózatépítő játék
GenericName[it]=Gioco di costruzione di reti
GenericName[ja]=ネットワーク構築ゲーム
GenericName[km]=ល្បែង​តភ្ជាប់​បណ្ដាញ
GenericName[ko]=네트워크 건설 게임
GenericName[lt]=Tinklo konstravimo žaidimas
GenericName[lv]=Tīkla būvēšanas spēle
GenericName[nds]=Nettwark-Buuspeel
GenericName[nl]=Netwerkconstructiespel
GenericName[nn]=Bygg opp nettverk
GenericName[pl]=Gra w konstrukcję sieci
GenericName[pt]=Jogo de Construção de Redes
GenericName[pt_BR]=Jogo de construção de uma rede de computadores
GenericName[ro]=Joc de construire a rețelei
GenericName[ru]=Игра в создание сетей
GenericName[sk]=Hra s budovaním siete
GenericName[sl]=Igra gradnje omrežja
GenericName[sr@ijekavian]=Игра конструисања мреже
GenericName[sr@ijekavianlatin]=Igra konstruisanja mreže
GenericName[sr@latin]=Igra konstruisanja mreže
GenericName[sr]=Игра конструисања мреже
GenericName[sv]=Nätverkskonstruktion
GenericName[tr]=Ağ Yapılandırma Oyunu
GenericName[uk]=Гра з побудови мереж
GenericName[wa]=Djeu d' costrujhaedje del rantoele
GenericName[x-test]=xxNetwork Construction Gamexx
GenericName[zh_CN]=网络建设游戏
GenericName[zh_TW]=網路建構遊戲
Icon=knetwalk
TryExec=/usr/bin/knetwalk
Exec=knetwalk -caption "%c"
Categories=Game;StrategyGame;KDE;Qt;
StartupNotify=false
X-DocPath=knetwalk/index.html
X-KDE-StartupNotify=true
X-AppInstall-Package=knetwalk
X-AppInstall-Popcon=487
X-AppInstall-Section=extra
X-Arch-Package-Repository=extra
X-Arch-Package-Name=knetwalk
X-Arch-Package-Version=15.04.2-1
X-Arch-Package-Description=Connect all the terminals to the server, in as few turns as possible
X-Arch-Package-Groups=kde-applications  kdegames
X-Arch-Package-URL=http://kde.org/applications/games/knetwalk/
