[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LXDE Panel
GenericName=lxpanel 0.5.12
Comment=Panel for XDG compliant desktop.
Icon=lxpanel
TryExec=/usr/bin/lxpanel
Exec=lxpanel
Terminal=false
Categories=LXDE;System;Utility;
StartupNotify=false
StartupWMClass=lxpanel
