[Desktop Entry]
Type=Application
Name=MuPDF
GenericName=PDF file viewer
Icon=mupdf
TryExec=/usr/bin/mupdf
Exec=mupdf %f
NoDisplay=true
Categories=Graphics;Viewer;
MimeType=application/pdf;application/x-pdf;application/x-cbz;application/oxps;application/vnd.ms-xpsdocument;image/jpeg;image/pjpeg;image/png;image/tiff;image/x-tiff;
StartupNotify=false
X-AppInstall-Package=mupdf
X-AppInstall-Popcon=0
X-AppInstall-Section=community
X-Arch-Package=mupdf 1.7_a-2
X-Arch-Package-Repository=community
X-Arch-Package-Name=mupdf
X-Arch-Package-Version=1.7_a-2
X-Arch-Package-Description=Lightweight PDF and XPS viewer
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://mupdf.com
Actions=View

[Desktop Action View]
Name=View with mupdf
TryExec=/usr/bin/mupdf
Exec=mupdf %f
