[Desktop Entry]
Type=Application
Name=Pattern
Comment=Fill in the pattern in the grid, given only the lengths of runs of black squares
Icon=puzzles-pattern
TryExec=/usr/bin/pattern
Exec=pattern
Categories=Game;LogicGame;
StartupWMClass=pattern
X-AppInstall-Package=puzzles-menuitems
X-AppInstall-Section=aur
X-Arch-Package=puzzles-menuitems 20150118-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=puzzles-menuitems
X-Arch-Package-Version=20150118-1
X-Arch-Package-Description=Menu items for Simon Tatham's Portable Puzzle Collection.
X-Arch-Package-URL=http://www.chiark.greenend.org.uk/~sgtatham/puzzles/
