[Desktop Entry]
Type=Application
Name=R Commander
Comment=Graphical interface to the R environment for statistical computing
Comment[de]=Graphische Umgebung fuer das R Programm fuer Statistische Berechnungen
Comment[fr]=Environnement graphique pour le logiciel de calcul statistique R
Comment[it]=Interfaccia grafica per l'ambiente di calcolo statistico R
Icon=_usr_lib_R_site-library_Rcmdr_etc_linux_Rcmdr
TryExec=/usr/bin/sh
Exec=sh -c 'R_DEFAULT_PACKAGES="$R_DEFAULT_PACKAGES Rcmdr" R "$@"'
Terminal=true
Categories=Education;Science;Math;
StartupNotify=false
X-KDE-SubstituteUID=false
X-AppInstall-Package=bash
X-AppInstall-Popcon=132
X-AppInstall-Section=core
X-Arch-Package=bash 4.3.039-1
X-Arch-Package-Repository=core
X-Arch-Package-Name=bash
X-Arch-Package-Version=4.3.039-1
X-Arch-Package-Description=The GNU Bourne Again shell
X-Arch-Package-Groups=base
X-Arch-Package-URL=http://www.gnu.org/software/bash/bash.html
