[Desktop Entry]
Type=Application
Name=Reportbug
Comment=Report bugs to the Debian BTS
Icon=debian-logo
TryExec=/usr/bin/reportbug
Exec=reportbug --exit-prompt --ui gtk2
Categories=Application;System;
StartupNotify=false
X-AppInstall-Package=reportbug
X-AppInstall-Popcon=2
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=reportbug
X-Arch-Package-Version=6.6.3-1
X-Arch-Package-Description=report bugs in the Debian distribution + python modules
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://packages.debian.org/sid/reportbug
X-Arch-Package-Votes=2
