[Desktop Entry]
Type=Application
Name=VMPK
Comment=Virtual MIDI Piano Keyboard
Comment[es]=Teclado de piano MIDI virtual
Comment[ru]=Виртуальная MIDI Пианино Клавиатура
Comment[tr]=Sanal MIDI Piyano Klavyesi
Icon=vmpk
TryExec=/usr/bin/vmpk
Exec=vmpk
Categories=AudioVideo;Audio;Education;Midi;Music;
StartupNotify=false
X-AppInstall-Package=vmpk
X-AppInstall-Section=community
X-AppInstall-Architectures=amd64,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
X-Arch-Package-Repository=community
X-Arch-Package-Name=vmpk
X-Arch-Package-Version=0.6.0-1
X-Arch-Package-Description=Virtual MIDI Piano Keyboard
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://vmpk.sourceforge.net/
