[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Calendar Clock Keyboard Dock App
GenericName=Clock
Comment=Calendar clock dock app with keyboard indicator
Icon=GNUstep3D
TryExec=/usr/bin/wmCalClockKbd
Exec=wmCalClockKbd
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmCalClockKbd
X-Arch-Package=wmcalclockkbd
