[Desktop Entry]
Type=Application
Name=Internet Clock
GenericName=Clock
Comment=A dock app showing standard time, date and Internet time
Icon=GNUstep3D
TryExec=/usr/bin/wmitime
Exec=wmitime
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;Utility;Clock;WMAKER;
StartupNotify=false
StartupWMClass=wmitime
X-AppInstall-Package=wmitime
X-AppInstall-Popcon=18
X-AppInstall-Section=custom
X-Arch-Package=wmitime 0.3-3
X-Arch-Package-Repository=custom
X-Arch-Package-Name=wmitime
X-Arch-Package-Version=0.3-3
X-Arch-Package-Description=A dock app showing standard time, date and Internet time
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.cs.mun.ca/~gstarkes/wmaker/dockapps/time.html#wmitime
