[Desktop Entry]
Type=Application
Name=wmPinboard
TryExec=/usr/bin/wmpinboard
Exec=wmpinboard
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
X-AppInstall-Package=wmpinboard
X-AppInstall-Popcon=0
X-AppInstall-Section=custom
X-Arch-Package=wmpinboard
X-Arch-Package-Repository=custom
X-Arch-Package-Name=wmpinboard
X-Arch-Package-Version=1.0.1-1
X-Arch-Package-Description=A WindowMaker dock applet resembling a miniature pinboard.
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://web.archive.org/web/20121102091711/http://dockapps.windowmaker.org/file.php/id/93
