[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wmSun
Exec=wmsun
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
