[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=WMmon
TryExec=/usr/bin/wmmon
Exec=wmmon
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
