[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Analog and Digital Clock
GenericName=Clock
Comment=Analog and digital clock dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmtime
Exec=wmtime
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
StartupWMClass=wmtime
