[Desktop Entry]
Type=Application
Name=PolicyKit Authentication Agent
Name[ar]=مدير الاستيثاق PolicyKit
Name[be]=PolicyKit, агент аўтэнтыфікацыі
Name[bn_IN]=PolicyKit অনুমোদনের এজেন্ট
Name[ca]=Agent d'autenticació del PolicyKit
Name[cmn]=PolicyKit 驗證代理程式
Name[cs]=Ověřovací agent PolicyKit
Name[da]=Godkendelsesprogrammet PolicyKit
Name[de]=PolicyKit-Legitimationsagent
Name[el]=Πράκτορας πιστοποίησης PolicyKit
Name[es]=Agente de autenticación de PolicyKit
Name[eu]=PolicyKit autentifikatzeko agentea
Name[fi]=PolicytKit-tunnistautumisohjelma
Name[fr]=Agent d'authentification de PolicyKit
Name[gl]=Axente de autenticación PolicyKit
Name[gu]=PolicyKit સત્તાધિકરણ એજન્ટ
Name[hi]=PolicyKit प्रमाणीकरण प्रतिनिधि
Name[hu]=PolicyKit hitelesítési ügynök
Name[it]=Agente di autenticazione per PolicyKit
Name[ja]=PolicyKit 認証エージェント
Name[kn]=PolicyKit ದೃಢೀಕರಣ ಮಧ್ಯವರ್ತಿ
Name[ko]=PolicyKit 인증 에이전트
Name[lt]=PolicyKit tapatybės nustatymo agentas
Name[lv]=PolicyKot Apliecinājuma Aģents
Name[ml]=പോളിസിക്കിറ്റ് ഓഥന്റിക്കേഷന്‍ ഏജന്റ്
Name[mr]=PolicyKit ऑथेंटीकेशन एजेंट
Name[ms]=Ejen Pengesahihan PolicyKit
Name[or]=PolicyKit ବୈଧିକରଣ ସଦସ୍ୟ
Name[pa]=ਪਾਲਸੀਕਿੱਟ ਪਰਮਾਣਕਿਤਾ ਏਜੰਟ
Name[pl]=Agent uwierzytelniania PolicyKit
Name[pt]=Agente de autenticação PolicyKit
Name[pt_BR]=Agente de autenticação PolicyKit
Name[ro]=Agent de autentificare PolicyKit
Name[ru]=Агент аутентификации PolicyKit
Name[sk]=Agent PolicyKit na overovanie totožnosti
Name[sl]=Posrednik overjanja PolicyKit
Name[sv]=Autentiseringsagent för PolicyKit
Name[ta]=PolicyKit அங்கீகார முகவர்
Name[te]=పాలసీకిట్ ధృవీకరణ ప్రతినిధి
Name[th]=ตัวกลางสำหรับยืนยันตัวบุคคล PolicyKit
Name[tr]=PolicyKit Kimlik Doğrulama Aracı
Name[uk]=Аґент автентифікації PolicyKit
Name[ur]=پالیسی کِٹ PolicyKit توثیقی ایجنٹ
Name[zh_CN]=PolicyKit 认证代理
Name[zh_HK]=PolicyKit 驗證代理程式
Name[zh_TW]=PolicyKit 驗證代理程式
Comment=PolicyKit Authentication Agent for the MATE Desktop
Comment[ar]=عميل الاستيثاق لسطح المكتب متّة
Comment[be]=PolicyKit, агент аўтэнтыфікацыі для асяроддзя MATE
Comment[cs]=Ověřovací agent PolicyKit pro MATE Desktop
Comment[da]=Godkendelsesprogrammet PolicyKit for MATE-skrivebordet
Comment[de]=PolicyKit-Legitimationsagent für die MATE-Arbeitsumgebung
Comment[el]=Πράκτορας πιστοποίησης PolicyKit για το MATE Desktop
Comment[es]=Agente de autenticación de PolicyKit para escritorio MATE
Comment[fr]=Agent d'authentification PolicyKit pour MATE Desktop
Comment[gl]=Axente de autenticación PolicyKit para o escritorio MATE
Comment[hu]=PolicyKit hitelesítési ügynök a MATE Desktophoz
Comment[it]=Agente di autenticazione per PolicyKit di MATE Desktop
Comment[ko]=MATE Desktop용 PolicyKit 인증 에이전트
Comment[ms]=Ejen pengesahihan PolicyKit untuk Desktop MATE
Comment[nl]=PolicyKit-authenticatie voor de MATE-desktop
Comment[pl]=Agent uwierzytelniania PolicyKit dla MATE
Comment[pt]=Agente de Autenticação PolicyKit do Ambiente MATE
Comment[pt_BR]=Agente de autenticação PolicyKit para o ambiente de trabalho MATE
Comment[ru]=Агент аутентификации PolicyKit для рабочей среды MATE
Comment[sk]=PolicyKit Authentication Agent pre MATE Desktop
Comment[sl]=Posrednik overitve PolicyKit za namizje MATE
Comment[tr]=MATE Masaüstü için PolicyKit Kimlik Doğrulama Aracı
Comment[uk]=Аґент автентифікації PolicyKit для стільниці MATE
Comment[zh_CN]=MATE 桌面的 PolicyKit 认证代理
Comment[zh_TW]=MATE 桌面環境的 PolicyKit 驗證代理程式
TryExec=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
Exec=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
NoDisplay=true
OnlyShowIn=MATE;
X-AppInstall-Package=mate-polkit
X-AppInstall-Section=community
X-Arch-Package=mate-polkit 1.8.0-1
X-Arch-Package-Repository=community
X-Arch-Package-Name=mate-polkit
X-Arch-Package-Version=1.8.0-1
X-Arch-Package-Description=PolicyKit integration for the MATE desktop
X-Arch-Package-Groups=mate
X-Arch-Package-URL=http://mate-desktop.org
