[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Alarm Clock Dock App
GenericName=Clock
Comment=Alarm clock dock app
Icon=wmaker-dock
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;
Exec=wmclockmon
TryExec=/usr/bin/wmclockmon
Terminal=false
Categories=DockApp;WMAKER;
StartupNotify=false
