[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Abe's Amazing Adventure
Comment=Side-scrolling game
Icon=_usr_share_pixmaps_abe
TryExec=/usr/bin/abe
Exec=abe
Terminal=false
Categories=Game;AdventureGame;
StartupNotify=false
X-AppInstall-Package=abe
X-AppInstall-Popcon=41
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=abe
X-Arch-Package-Version=1.1-10
X-Arch-Package-Description=Scrolling, platform-jumping, key-collecting, ancient pyramid
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://abe.sourceforge.net
X-Arch-Package-Votes=3
