[Desktop Entry]
Type=Application
Name=About Mageia
Comment=More about Mageia
Icon=mageia
TryExec=/usr/bin/about-mageia
Exec=about-mageia
NoDisplay=true
Categories=System;Documentation;
StartupNotify=false
