[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Abstractile
Comment=Generates mosaic patterns of interlocking tiles. Written by Steve Sundstrom.
TryExec=/usr/lib/xscreensaver/abstractile
Exec=/usr/lib/xscreensaver/abstractile -root
Terminal=false
OnlyShowIn=GNOME;
Categories=Screensaver;
StartupNotify=false
