[Desktop Entry]
Type=Application
Name=Activate ScreenSaver (Random)
TryExec=/usr/bin/xscreensaver-command
Exec=xscreensaver-command -activate
Categories=X-Debian-Screen-Saving;
StartupNotify=false
