[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=amaya
Comment=WebBrowser by W3Consortium
Comment[de]=Webbrowser vom W3 Konsortium
Comment[es]=Hojeador Web del W3Consortium
Comment[fr]=Navigateur Web de W3 Consortium
Comment[hu]=A W3Consortium webböngészője
Terminal=false
StartupNotify=false
DocPath=/usr/lib/Amaya/amaya/AmayaPage.html
