[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=amSynth
GenericName=Soft Synth
Comment=Two oscillator software synthesizer
Icon=_usr_share_pixmaps_amsynth
TryExec=amsynth
Exec=amsynth
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=false
X-AppInstall-Package=amsynth
X-AppInstall-Popcon=53
X-AppInstall-Section=main
