[Desktop Entry]
Type=Application
Name=Application Browser
Name[af]=Toepassingrondblaaier
Name[ar]=متصفّح التطبيقات
Name[bn]=প্রয়োগের ব্রাঊজার
Name[ca]=Navegador d'aplicacions
Name[cs]=Prohlížeč aplikací
Name[da]=Gennemse programmer
Name[dz]=གློག་རིམ་བརའུ་ཟར་
Name[el]=Περιηγητής Εφαρμογών
Name[en_IGID]=Agidappligidicigidashigidon Brigidowsigider
Name[es]=Navegador de aplicaciones
Name[et]=Rakenduste sirvija
Name[fi]=Sovellusselain
Name[fr]=Explorateur d'applications
Name[gl]=Examinador de aplicacións
Name[gu]=અનુપ્રયોગ બ્રાઉઝર
Name[hi]=कम्प्यूटर प्रोग्राम आडिट  रिपोर्ट
Name[hu]=Alkalmazásböngésző
Name[it]=Browser
Name[ja]=アプリケーションブラウザ
Name[ko]=프로그램 찾아보기
Name[lv]=Aplikācijas pārlūks
Name[mr]=अप्लीकेशन ब्राउझर
Name[nb]=Programdialog
Name[nl]=Toepassingsbrowser
Name[pl]=Przeglądarka aplikacji
Name[ps]=کاريال لټونی
Name[pt]=Navegador de Aplicações
Name[pt_BR]=Navegador de Aplicações
Name[ru]=Проводник приложений
Name[sk]=Prehliadač Aplikácií
Name[sv]=Programbläddrare
Name[ta]=‍‍பயன்பாட்டிற்கான பிரவுசர்
Name[xh]=Isikhangeli Senkqubo
Name[zh_CN]=应用程序浏览器
Name[zh_TW]=應用程式瀏覽器
Name[zu]=Isipheqi Sohlelo
TryExec=/usr/bin/application-browser
Exec=/usr/bin/application-browser
NoDisplay=true
StartupNotify=true
X-SuSE-translate=true
