[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=AUR
Comment=Archlinux AUR
Icon=arch-logo
Exec=xdg-open https://aur.archlinux.org
Terminal=false
Categories=Archlinux;
StartupNotify=true
X-Arch-Package=archlinux-menus 2.5-2
