[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Asmon
Name[ar]=Asmon
Name[ast]=Asmon
Name[be]=Asmon
Name[bg]=Asmon
Name[bn]=Asmon
Name[br]=Asmon
Name[bs]=Asmon
Name[ca]=Asmon
Name[cs]=Asmon
Name[da]=Asmon
Name[de]=Asmon
Name[dz]=Asmon
Name[el]=Asmon
Name[eo]=Asmon
Name[es]=Asmon
Name[et]=Asmon
Name[eu]=Asmon
Name[fi]=Asmon
Name[fr]=Asmon
Name[ga]=Asmon
Name[gl]=Asmon
Name[gu]=Asmon
Name[he]=Asmon
Name[hi]=Asmon
Name[hr]=Asmon
Name[hu]=Asmon
Name[id]=Asmon
Name[it]=Asmon
Name[ja]=Asmon
Name[ka]=Asmon
Name[kk]=Asmon
Name[km]=Asmon
Name[ko]=Asmon
Name[ku]=Asmon
Name[lt]=Asmon
Name[mk]=Asmon
Name[ml]=Asmon
Name[mr]=Asmon
Name[nb]=Asmon
Name[ne]=Asmon
Name[nl]=Asmon
Name[nn]=Asmon
Name[pa]=Asmon
Name[pl]=Asmon
Name[pt]=Asmon
Name[pt_BR]=Asmon
Name[ro]=Asmon
Name[ru]=Asmon
Name[sk]=Asmon
Name[sq]=Asmon
Name[sv]=Asmon
Name[ta]=Asmon
Name[th]=Asmon
Name[tl]=Asmon
Name[tr]=Asmon
Name[uk]=Asmon
Name[vi]=Asmon
Name[wo]=Asmon
Name[zh_CN]=Asmon
Name[zh_TW]=Asmon
Comment=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ar]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ast]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[be]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[bg]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[bn]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[br]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[bs]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ca]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[cs]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[da]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[de]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[dz]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[el]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[eo]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[es]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[et]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[eu]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[fi]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[fr]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ga]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[gl]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[gu]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[he]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[hi]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[hr]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[hu]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[id]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[it]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ja]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ka]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[kk]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[km]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ko]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ku]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[lt]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[mk]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ml]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[mr]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[nb]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ne]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[nl]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[nn]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[pa]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[pl]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[pt]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[pt_BR]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ro]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ru]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[sk]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[sq]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[sv]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[ta]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[th]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[tl]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[tr]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[uk]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[vi]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[wo]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[zh_CN]=System resource monitor dockapp for Windowmaker and Afterstep.
Comment[zh_TW]=System resource monitor dockapp for Windowmaker and Afterstep.
Exec=asmon
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
