[Desktop Entry]
Type=Application
Name=BALLView
GenericName=Molecular modeling and visualization tool
Icon=ballview
TryExec=/usr/bin/BALLView
Exec=BALLView
Categories=Education;Science;Chemistry;
MimeType=chemical/x-pdb;chemical/x-mdl-molfile;chemical/x-mol2;
StartupNotify=false
X-AppInstall-Package=ballview
X-AppInstall-Popcon=8
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,armel,i386,ia64,kfreebsd-amd64,kfreebsd-i386,mips,mipsel,powerpc,s390,sparc
