[Desktop Entry]
X-AppInstall-Package=barrage
X-AppInstall-Popcon=28
X-AppInstall-Section=main

Name=Barrage
Categories=X-Red-Hat-Base;Application;Game;ArcadeGame;
Comment=Kill and destroy as many targets as possible within 3 minutes
Exec=barrage
Terminal=0
Type=Application
Icon=barrage
