[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BeanShell (windowed)
TryExec=xbsh
Exec=xbsh
Terminal=false
Categories=Programming;
StartupNotify=false
