[Desktop Entry]
X-AppInstall-Package=bisho
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Name=My Web Accounts
Name[da]=Mine webkonti
Name[de]=Meine Webkonten
Name[es]=Mis cuentas web
Name[eu]=Nire Web-Kontuak
Name[fi]=WWW-käyttäjätilit
Name[fr]=Mes comptes Web
Name[gl]=As miñas contas web
Name[id]=Akun Webku
Name[it]=Account web
Name[ja]=マイ Web アカウント
Name[ko]=내 웹 계정
Name[ms]=Akaun Web Saya
Name[nl]=Mijn Web Accounts
Name[pa]=ਮੇਰੇ ਵੈੱਬ ਅਕਾਊਂਟ
Name[pl]=Moje konta internetowe
Name[pt_BR]=Minhas contas web
Name[ro]=Conturile mele web
Name[sv]=Mina webbkonton
Name[uk]=Мої веб-облікові записи
Name[wa]=Mes contes waibe
Name[zh_CN]=我的网络账户
Name[zh_TW]=我的網路帳號
# Please don't translate "myzone"
Comment=myzone & status
Comment[ca]=la meva zona i el meu estat
Comment[da]=myzone & status
Comment[de]=myzone & Status
Comment[es]=myzone y estado
Comment[eu]=myzone eta egoera
Comment[fi]=myzone & tila
Comment[fr]=myzone & statut
Comment[gl]=amiñazona e estado
Comment[hu]=zónám és állapotom
Comment[id]=myzone & status
Comment[it]=myzone e stato
Comment[ja]=myzone & ステータス
Comment[ko]=myzone & 상태 
Comment[lo]=myzone ເເລະ ສະຖານະພາບ
Comment[ms]=status & myzone
Comment[nb]=MyZone & status
Comment[nl]=myzone & status
Comment[pa]=myzone & ਹਾਲਤ
Comment[pl]=myzone i stan
Comment[pt_BR]=myzone e status
Comment[ro]=myzone & status
Comment[ru]=myzone и статус
Comment[sv]=MyZone, status etc.
Comment[th]=โซนของฉัน และ สถานะ
Comment[tr]=Alanım & Durum
Comment[uk]=myzone і стан
Comment[wa]=myzone eyet estat
Comment[zh_CN]=myzone 和当前状态
Comment[zh_TW]=myzone 以及狀態
Exec=bisho
Icon=bisho
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
