[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Block Attack - Rise of the Blocks
GenericName=Block Attack
Comment=Switch blocks so they match
Comment[da_DK]=Byt blokke så de passer sammen
Comment[fr_FR]=Empilez les blocks
Comment[ro_RO]=Ridicarea blocurilor
Icon=blockattack32
Exec=blockattack
Terminal=false
Categories=Game;ArcadeGame
StartupNotify=false
X-AppInstall-Package=blockattack
X-AppInstall-Popcon=16
X-AppInstall-Section=main
