[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BlueProximity
Icon=blueproximity
TryExec=/usr/bin/blueproximity
Exec=/usr/bin/blueproximity
Terminal=false
Categories=Application;Utility;
StartupNotify=false
X-AppInstall-Package=blueproximity
X-AppInstall-Popcon=130
X-AppInstall-Section=main
X-Arch-Package-Name=blueproximity
X-Arch-Package-Version=1.2.5-6
X-Arch-Package-Description=A proximity detector for your mobile phone via bluetooth.
X-Arch-Package-URL=http://sourceforge.net/projects/blueproximity/
