[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=bonobo-devel
Comment=The development files for bonobo
Comment[de]=Die Entwicklerdateien zu bonobo
Comment[es]=Archivos de desarrollo para bonobo
Comment[fr]=fichiers de développement pour Bonobo
Comment[hu]=Bonobo fejlesztői fájlok
Terminal=false
StartupNotify=false
DocPath=/usr/share/bonobo/html/bonobo/book1.html
