[Desktop Entry]
Type=Application
Name=Start-Up Log
Name[af]=Aanvangsopgawe
Name[ar]=سجل بدء التشغيل
Name[bg]=Дневник на първоначалното зареждане
Name[bn]=বুট করো
Name[ca]=Registre d'inici
Name[cs]=Startovací protokol (log)
Name[da]=Opstartslog
Name[de]=Startprotokoll anzeigen
Name[el]=Δείτε το αρχείο καταγραφής της εκκίνησης
Name[en]=View Start-up Log
Name[es]=Ver el registro de arranque
Name[et]=Käivitamise logi
Name[fi]=Käynnistysloki
Name[fr]=Journal de démarrage
Name[gl]=Log de Inicio
Name[gu]=સ્ટાર્ટ-અપ લોગ
Name[hi]=बूट
Name[hu]=Indítási napló megtekintése
Name[id]=Indítási napló megtekintése
Name[it]=Mostra il log di avvio
Name[ja]=起動ログを表示
Name[km]=កំណត់ហេតុ​ចាប់ផ្ដើម
Name[ko]=스타트업 로그 보기
Name[lt]=Rodyti sistemos paleidimo registracijos failą
Name[mr]=स्टार्ट-अप-लॉग
Name[nb]=Oppstartslogg
Name[nl]=Opstartlog
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਲਾਗ
Name[pl]=Dziennik rozruchu
Name[pt]=Registo de Arranque
Name[pt_BR]=Log de Inicialização
Name[ro]=Jurnal de pornire
Name[ru]=Журнал запуска
Name[sk]=Zobraziť štartovací protokol (log)
Name[sl]=Prikaži zagonski dnevnik
Name[sv]=Visa startlogg
Name[ta]=பெயர்(பூட்எம்எஸ்ஜி.டெஸ்க்டாப்): துவக்கத்திற்கான குறிப்பு
Name[tr]=Açılış kayıtlarını gör
Name[uk]=Журнал запуску системи
Name[wa]=Djournå d' enondaedje
Name[xh]=Ingxelo Ngendlela Yokuqalisa
Name[zh_CN]=启动日志
Name[zh_TW]=檢視開機記錄
Name[zu]=Ilogi Yokuqalisa
GenericName=Display the boot log (/var/log/boot.msg)
GenericName[af]=Vertoon die selflaai-opgawe (/var/log/boot.msg)
GenericName[ar]=عرض سجل التشغيل (/var/log/boot.msg)
GenericName[bg]=Показване на дневника на зареждането на ОС (/var/log/boot.msg)
GenericName[bn]=বর্গনাম(bootmsg.desktop): বুট লগ দেখান (/var/log/boot.msg)
GenericName[ca]=Mostra el registre d'arrencada (/var/log/boot.msg)
GenericName[cs]=Tento modul zobrazí startovací protokol (log) /var/log/boot.msg
GenericName[da]=Dette modul viser bootloggen (/var/log/boot.msg)
GenericName[de]=Dieses Modul gibt das Bootprotokoll (/var/log/boot.msg) aus.
GenericName[el]=Αυτό η μονάδα εμφανίζει την αναφορά εκκίνησης (/var/log/boot.msg)
GenericName[es]=Visualizar el registro de arranque (/var/log/boot.msg)
GenericName[et]=Alglaadimise logi kuvamine (/var/log/boot.msg)
GenericName[fi]=Näytä käynnistysloki (/var/log/boot.msg)
GenericName[fr]=Ce module affiche le journal de démarrage (/var/log/boot.msg)
GenericName[gl]=Mostrar o log de inicio (/var/log/boot.msg)
GenericName[gu]=બૂટ લોગ પ્રદર્શિત કરો (/var/log/boot.msg)
GenericName[hi]=जेनेरिक नाम (bootmsg.desktop): बूट लॉग डिस्पले करें (/var/log/boot.msg)
GenericName[hu]=Ez a modul megmutatja a rendszerindítási naplót (/var/log/boot.msg)
GenericName[id]=Ez a modul megmutatja a rendszerindítási naplót (/var/log/boot.msg)
GenericName[it]=Questo modulo mostra il log di avvio (/var/log/boot.msg)
GenericName[ja]=再起動の記録 (/var/log/boot.msg) を表示
GenericName[km]=បង្ហាញ​កំណត់ហេតុ​ចាប់ផ្ដើម (/var/log/boot.msg)
GenericName[ko]=부트 로그(/var/log/boot.msg) 표시
GenericName[lt]=Rodyti įkrovos registracijos failą (/var/log/boot.msg)
GenericName[mr]=बूट लॉक (/var/log/boot.msg) प्रदर्शित करा.
GenericName[nb]=Vis oppstartsloggen (/var/log/boot.msg)
GenericName[nl]=Bootlog (/var/log/boot.msg) weergeven
GenericName[pa]=ਬੂਟ ਲਾਗ (/var/log/boot.msg) ਵੇਖਾਓ
GenericName[pl]=Komunikaty uruchamiania (/var/log/boot.msg)
GenericName[pt]=Mostrar o registo de arranque (/var/log/boot.msg)
GenericName[pt_BR]=Exibir o log de inicialização (/var/log/boot.msg)
GenericName[ro]=Afişează jurnal de pornire (/var/log/boot.msg)
GenericName[ru]=Показать журнал загрузки (/var/log/boot.msg)
GenericName[sk]=Tento modul zobrazí štartovací protokol (log) /var/log/boot.msg
GenericName[sl]=Ta modul prikaže zagonski dnevnik (/var/log/boot.msg).
GenericName[sv]=Den här modulen visar startloggen (/var/log/boot.msg)
GenericName[ta]=இனப்பெயர்(பூட்எம்எஸ்ஜி.டெஸ்க்டாப்): துவக்கத்திற்கான குறிப்புகளை(/var/log/boot.msg) காட்டுகிறது
GenericName[tr]=Bu modül açılış kayıtlarını gösterir (/var/log/boot.msg)
GenericName[uk]=Показати журнал завантаження (/var/log/boot.msg)
GenericName[wa]=Håyner l' djournå d' enondaedje sistinme (/var/log/boot.msg)
GenericName[xh]=Bonisa ingxelo yomiselo lwenkqubo (/var/log/boot.msg)
GenericName[zh_CN]=显示启动日志(/var/log/boot.msg)
GenericName[zh_TW]=顯示開機日誌 (/var/log/boot.msg)
GenericName[zu]=Bonisa ilogi yokuqalisa (/var/log/boot.msg)
Icon=yast-bootmsg
TryExec=/sbin/yast2
Exec=/sbin/yast2 view_anymsg /var/log/boot.msg
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;
StartupNotify=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-SubstituteUID=true
X-SuSE-DocTeamID=ycc_bootmsg
X-SuSE-YaST-Argument=/var/log/boot.msg
X-SuSE-YaST-Call=view_anymsg
X-SuSE-YaST-Group=Misc
X-SuSE-YaST-RootOnly=true
X-SuSE-added=GenericName,pa;GenericName,ta;GenericName,sl;GenericName,fr;GenericName,et;GenericName,it;GenericName,zh_TW;GenericName,af;GenericName,sk;GenericName,ca;GenericName,nl;GenericName,es;GenericName,hu;GenericName,xh;GenericName,ar;GenericName,wa;GenericName,nb;GenericName,lt;GenericName,el;GenericName,ja;GenericName,pt;GenericName,sv;GenericName,de;GenericName,fi;GenericName,ko;GenericName,uk;GenericName,tr;GenericName,cs;GenericName,zh_CN;GenericName,bg;GenericName,pl;GenericName,km;GenericName,ru;GenericName,pt_BR;GenericName,da;GenericName,gl;GenericName,bn;GenericName,ro;GenericName,hi;Name,pa;Name,ta;Name,sl;Name,fr;Name,et;Name,it;Name,zh_TW;Name,af;Name,sk;Name,ca;Name,nl;Name,es;Name,hu;Name,xh;Name,ar;Name,wa;Name,nb;Name,lt;Name,el;Name,ja;Name,pt;Name,sv;Name,de;Name,fi;Name,ko;Name,uk;Name,tr;Name,cs;Name,zh_CN;Name,bg;Name,pl;Name,km;Name,ru;Name,pt_BR;Name,da;Name,gl;Name,ro;
X-SuSE-translate=true
