[Desktop Entry]
Type=Application
Name=Bluetooth Manager
Comment=Bluetooth Manager applet
Icon=stock_bluetooth
TryExec=/usr/bin/bt-applet
Exec=bt-applet --sm-disable
StartupNotify=false
