[Desktop Entry]
Type=Application
Name=CabAnalyst
Comment=Cabrillo log editor
Icon=cabanalyst.png
TryExec=/usr/bin/cabanalyst
Exec=cabanalyst
X-DCOP-ServiceType=none
Categories=Application;HamRadio;
MimeType=text/plain;
StartupNotify=true
X-KDE-SubstituteUID=false
X-AppInstall-Package=cabanalyst
X-AppInstall-Section=aur
X-Arch-Package=cabanalyst 1.0-1
X-Arch-Package-Repository=aur
X-Arch-Package-Name=cabanalyst
X-Arch-Package-Version=1.0-1
X-Arch-Package-Description=Ham radio contesting - Cabrillo log editor
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://hamsoftware.org/old_index.html
X-Arch-Package-Votes=0
