[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Caribou
GenericName=Virtual on-screen keyboard
Comment=Enter text with a virtual keyboard
Icon=caribou
TryExec=caribou
Exec=caribou
Terminal=false
NoDisplay=true
Categories=Utility;Accessibility;GNOME;GTK;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=caribou
X-GNOME-Bugzilla-Component=default
X-GNOME-Bugzilla-Version=@VERSION@
X-Ubuntu-Gettext-Domain=caribou
