[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ccrtp-devel
Comment=Include-files and documentation for ccrtp
Comment[de]=Header-Dateien und Dokumentation zu ccrtp
Comment[hu]=Fejlécfájlok és dokumentáció a ccrtp-hez
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/packages/ccrtp-devel/html/index.html
