[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=cdrdao
Comment=Write CD-R's in disk-at-once mode
Comment[de]=CDs im Disc-At-Once-Modus schreiben
Comment[es]=Escribe CD-Rs de una sentada
Comment[fr]=Enregistrer des CD en mode "Disc-At-Once"
Comment[hu]=DAO módban működő CD-író program
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/packages/cdrdao/contrib/mp32dao/mp32dao/book1.html
