[Desktop Entry]
Type=Application
Name=Ceferino
GenericName=ceferino
Comment=Save the cows!
Icon=ceferino
TryExec=/usr/bin/ceferino
Exec=ceferino
Categories=Game;ActionGame;
StartupNotify=false
X-AppInstall-Package=ceferino
X-AppInstall-Popcon=111
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=ceferino
X-Arch-Package-Version=0.97.8-3
X-Arch-Package-Description=Super-Pang clone (destroy bouncing balloons with your grapnel)
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.loosersjuegos.com.ar/juegos/ceferino
X-Arch-Package-Votes=3
