[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Printer Operation
Name[en]=Printer Operation
Comment=Printer Operation
Comment[en]=Printer Operation
Icon=document2
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/manual/sles-admin_en/manual/cha.p.html
X-DOC-Weight=2470
