[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Deployment Strategies
Name[en]=Deployment Strategies
Comment=Deployment Strategies
Comment[en]=Deployment Strategies
Icon=document2
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/manual/sles-admin_en/manual/cha.deployment.html
X-DOC-Weight=1070
