[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Overview
Name[en]=Overview
Comment=Overview
Comment[en]=Overview
Icon=document2
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/manual/sles-heartbeat_en/manual/cha.hb.concepts.html
X-DOC-Weight=60
