[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Clamz MP3 Downloader (command-line)
Comment=Download MP3 files from AmazonMP3.com
TryExec=clamz
Exec=clamz "--default-output-dir=\\${XDG_MUSIC_DIR:-\\$HOME/Music}/\\${album_artist}/\\${album}"
Terminal=true
Categories=Network;
MimeType=audio/x-amzxml;
StartupNotify=false
X-AppInstall-Package=clamz
X-AppInstall-Popcon=16
X-AppInstall-Section=main
