[Desktop Entry]
X-AppInstall-Package=clusterssh
X-AppInstall-Popcon=211
X-AppInstall-Section=main

Name=ClusterSSH
GenericName=SSH/RSH Cluster Control Client
Comment=Control multiple ssh or rsh sessions from a single input window
Exec=cssh
Icon=_usr_share_pixmaps_clusterssh-32x32
Terminal=false
Type=Application
Categories=System;RemoteAccess;Network;
Version=1.0
