[Desktop Entry]
Type=Application
Name=Codeina
Comment=Gstreamer Codec Installer
Comment[de]=Gstreamer Codecs Installierer
Comment[fr]=Installateur de codec pour Gstreamer
Icon=/usr/share/codeina/icons/codeina.png
TryExec=/usr/bin/codeina
Exec=codeina
Categories=AudioVideo;Audio;Video;
StartupNotify=false
