[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CommonC++-devel
Comment=Files for developing CommonC++ applications
Comment[de]=Dateien für die Entwicklung von CommonC++-Programmen
Comment[fr]=fichiers de développement d'applications CommonC++
Comment[hu]=CommonC++ alkalmazások fejlesztéséhez szükséges fájlok
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/packages/CommonC++-devel/html/index.html
