[Desktop Entry]
Type=Application
Name=Compiz GTK decorator theme
Comment=Set the theme for the Compiz GTK window decorator
Icon=ccsm
TryExec=/usr/bin/compiz-gtk-decorator-theme-selector
Exec=compiz-gtk-decorator-theme-selector
NoDisplay=true
NotShowIn=MATE;
Categories=Settings;DesktopSettings;Compiz;X-XFCE-OtherSettings;X-XFCE-SettingsDialog;
StartupNotify=true
X-AppInstall-Package=compiz-manjaro
X-AppInstall-Popcon=13
X-AppInstall-Section=aur
X-Arch-Package=compiz-manjaro 0.9.12.1-4
X-Arch-Package-Repository=aur
X-Arch-Package-Name=compiz-manjaro
X-Arch-Package-Version=.1-4
X-Arch-Package-Description=None
X-Arch-Package-Groups=None
X-Arch-Package-URL=https://launchpad.net/
X-Arch-Package-Votes=13
Aliases=compiz-gtk-decorator-theme;
