[Desktop Entry]
Type=Application
Name=CoqIDE Proof Assistant
Comment=Graphical interface for the Coq proof assistant
Icon=coq
TryExec=/usr/bin/coqide
Exec=coqide
Categories=Development;Science;IDE;Math;GTK;
StartupNotify=false
X-AppInstall-Package=coqide
X-AppInstall-Popcon=43
X-AppInstall-Section=main
