[Desktop Entry]
X-AppInstall-Package=ddd
X-AppInstall-Popcon=432
X-AppInstall-Section=main

Version=1.0
Name=Data Display Debugger
Comment=Graphical debugger frontend
Comment[fr]=Interface graphique pour débogueur
Exec=ddd
Terminal=false
Type=Application
Icon=ddd
Categories=Development;
