[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=D-Feet D-Bus Debugger
GenericName=D-Bus Debugger
GenericName[en_CA]=D-Feet D-Bus Debugger
Comment=Debug D-Bus applications
Icon=dfeet-icon
TryExec=d-feet
Exec=d-feet
Terminal=false
Categories=Development;GNOME;GTK;
StartupNotify=false
X-AppInstall-Package=d-feet
X-AppInstall-Popcon=29
X-AppInstall-Section=main
