[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=dicts
Comment=Ispell dictionary files
Comment[de]=Ispell Wörterbücher
Comment[es]=Archivos de diccionario ispell
Comment[fr]=Dictionnaires ispell
Comment[hu]=Szótárak ispell-hez
Terminal=false
StartupNotify=false
DocPath=/usr/src/dicts/idanish-1.2.1/danish.html
