[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=DiffPDF
Comment=Compare two PDF files
Icon=diffpdf
Exec=diffpdf
Terminal=false
Categories=Utility;Qt;
StartupNotify=false
X-AppInstall-Package=diffpdf
X-AppInstall-Popcon=26
X-AppInstall-Section=main
