[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Dillo
Name[ar]=Dillo
Name[ast]=Dillo
Name[bg]=Dillo
Name[ca]=Dillo
Name[cs]=Dillo
Name[da]=Dillo
Name[de]=Dillo
Name[el]=Dillo
Name[en_AU]=Dillo
Name[en_GB]=Dillo
Name[es]=Dillo
Name[et]=Dillo
Name[eu]=Dillo
Name[fi]=Dillo
Name[fr]=Dillo
Name[gl]=Dillo
Name[he]=Dillo
Name[hr]=Dillo
Name[hu]=Dillo
Name[id]=Dillo
Name[is]=Dillo
Name[it]=Dillo
Name[ja]=Dillo
Name[kk]=Dillo
Name[ko]=Dillo
Name[lt]=Dillo
Name[ms]=Dillo
Name[nb]=Dillo
Name[nl]=Dillo
Name[oc]=Dillo
Name[pl]=Dillo
Name[pt]=Dillo
Name[pt_BR]=Dillo
Name[ro]=Dillo
Name[ru]=Dillo
Name[sk]=Dillo
Name[sl]=Dillo
Name[sr]=Дило
Name[sv]=Dillo
Name[te]=డిల్లో
Name[th]=Dillo
Name[tr]=Dillo
Name[ug]=Dillo
Name[uk]=Dillo
Name[vi]=Dillo
Name[zh_CN]=Dillo
Name[zh_HK]=Dillo
Name[zh_TW]=Dillo
GenericName=Web Browser
Comment=A small, fast graphical web browser build on FLTK
Icon=dillo
TryExec=dillo
Exec=dillo %u
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
X-XFCE-Binaries=dillo;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
X-Arch-Package=dillo 3.0.4.1-1
X-Arch-Package-Name=dillo
X-Arch-Package-Version=3.0.4.1-1
X-Arch-Package-Description=A small, fast graphical web browser built on FLTK
X-Arch-Package-URL=http://www.dillo.org
