[Desktop Entry]
Name=Drakbackup
Comment=Backups
TryExec=drakbackup
Exec=drakbackup
Icon=/usr/share/mcc/themes/default/backup-mdk.png
Type=Application
Categories=System;Archiving;X-MandrivaLinux-System-Archiving-Backup;
StartupNotify=false
NoDisplay=true
