[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Einstein
Comment="Puzzle game inspired on Einstein's puzzle"
Comment[de]="Puzzle-Spiel, inspiriert von Einsteins Puzzle"
Icon=einstein.png
TryExec=einstein
Exec=einstein
Terminal=false
Categories=Game;LogicGame;
StartupNotify=false
X-AppInstall-Package=einstein
X-AppInstall-Popcon=77
X-AppInstall-Section=main
