[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Elvis
GenericName=Text Editor
Comment=A vi-clone
Comment[de]=Ein vi-Clone namens elvis
Comment[es]=Un clon de vi
Comment[fr]=Un clone de vi du nom d'elvis
Comment[hu]=Egy vi-klón
Icon=text-editor
TryExec=elvis
Exec=elvis
Terminal=false
Categories=TextEditor;Utilitiy;
StartupNotify=false
DocPath=/usr/lib/elvis/elvis.html
X-AfterStep-IndexName=elvis
