[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Escape/SDL
GenericName=Board game
GenericName[de]=Brettspiel
Comment=GGZ game
Comment[de]=GGZ-Spiel
TryExec=/usr/games/escape-sdl
Exec=/usr/games/escape-sdl
Terminal=false
Categories=Game;BoardGame;X-GGZ-Games;
StartupNotify=false
X-AppInstall-Package=ggz-python-games
X-AppInstall-Popcon=9
X-AppInstall-Section=main
