[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Ettercap
Comment=Multipurpose Network sniffer/analyser/interceptor/logger
Icon=ettercap
TryExec=ettercap-pkexec
Exec=ettercap-pkexec -G
Terminal=false
Categories=Network;GTK;
Keywords=ettercap,ettercap-pkexec;
StartupNotify=false
X-AppInstall-Package=ettercap-gtk
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=ettercap-gtk 0.8.2-1
X-Arch-Package-Name=ettercap-gtk
X-Arch-Package-Version=0.8.2-1
X-Arch-Package-Description=A network sniffer/interceptor/logger for ethernet LANs - GTK frontend
X-Arch-Package-URL=http://ettercap.github.com/ettercap/
