[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Extcalc
Icon=_usr_share_icons_icon48
TryExec=extcalc
Exec=extcalc
Terminal=false
Categories=Qt;Utility;
StartupNotify=false
X-AppInstall-Package=extcalc
X-AppInstall-Popcon=49
X-AppInstall-Section=main
