[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Extrusion
Name[af]=Extrusion
Name[bg]=Екструдиране
Name[ca]=Extrusió
Name[cs]=Extruse
Name[cy]=Allwthiad
Name[da]=Extrusion
Name[de]=Extrusion
Name[el]=Extrusion
Name[es]=Extrusión
Name[et]=Venitus
Name[fi]=Pursotus
Name[fr]=Extrusion
Name[gl]=Extrusión
Name[gu]=Extrusión
Name[he]=צורות תלת־מימדיות
Name[hi]=एक्सट्रूज़न
Name[hu]=Préselés
Name[it]=Extrusion
Name[ja]=突出
Name[km]=Extrusion
Name[ko]=돌출
Name[mk]=Издолжување
Name[mr]=बाहेर टाकणे
Name[nb]=Ekstrudering
Name[nl]=Extrusie
Name[pt]=Extrusão
Name[pt_BR]=Extrusão
Name[ro]=Extruziune
Name[ru]=Вытеснение
Name[sl]=Ekstruzija
Name[sr]=Издуживање
Name[sv]=Extrudering
Name[ta]=வெளியேற்று
Name[tr]=Sımsıkı
Name[uk]=Витіснення
Name[vi]=Nhô ra
Name[xh]=Ukhutsho
Name[zh_CN]=突出形体
Name[zh_TW]=突出
Name[zu]=Ukuputshuka
Comment=Draws various rotating extruded shapes that twist around, lengthen, and turn inside out. Written by Linas Vepstas, David Konerding, and Jamie Zawinski; 1999.
Comment[da]=Tegner forskellige roterende udtrukne former, der twister rundt, forlænges og vender vrangen ud. Skrevet af Linas Vepstas, David Konerding og Jamie Zawinski; 1999.
Comment[de]=Zeichnet verschiedene rotierende ausgestoßene Gestalten, welche sich herumdrehen, verlängern und ihr Inneres nach Außen kehren. Geschrieben von Linas Vepstas, David Konerding und Jamie Zawinski; 1999.
Comment[es]=Dibuja varias formas extrusionadas con rotación que se retuercen, alargan y va de dentro hacia fuera. Escrito por Linas Vepstas, David Konerding y Jamie Zawinski; 1999.
Comment[fi]=Piirtää erilaisia pyöriviä muotoja, jotka paisuvat, kääntyvät, pidentyvät ja kääntyvät nurinniskoin. Tehnyt Linas Vepstas, David Konerding ja Jamie Zawinski; 1999.
Comment[hu]=Különféle alakzatok forgását ábrázolja. Az alakzatok elcsavarodnak, megnyúlnak, kifordulnak mozgás közben. Írta David Konerding és Jamie Zawinski; 1999.
Comment[it]=Forme elicoidali ruotano, si allungano e si risvoltano. Scritto da Linas Vepstas, David Konerding e Jamie Zawinski; 1999.
Comment[ja]=様々な形が曲がったり伸びたり裏返ったりしながら飛び出してきます。 Linas Vepstas 氏, David Konerding 氏, Jamie Zawinski 氏が  1999 年に作成しました。
Comment[km]=គូរ​រូបរាង​ដែល​ផុស​ចេញ​បង្វិល​ផ្សេងៗ ដែល​វិល​ជុំវិញ​ និង​ត្រឡប់​ពី​ក្នុង​ចេញក្រៅ ។ បង្កើត​ដោយ Linas Vepstas, David Konerding និង Jamie Zawinski នៅ​ឆ្នាំ ១៩៩៩ ។
Comment[pt_BR]=Desenha várias formas extrusivas que se curvam, alongam-se e voltam ao normal. Criado por Linas Vepstas, David Konerding e Jamie Zawinski; 1999.
Comment[uk]=Відображає витискання з обертанням форм, що закручуються, видовжуються та вивертаються. Автори — Linas Vepstas, David Konerding та Jamie Zawinski; 1999.
TryExec=/usr/bin/extrusion
Exec=extrusion -root
Terminal=false
OnlyShowIn=GNOME;
Categories=Screensaver;
StartupNotify=false
X-SuSE-added=Comment,it;Comment,es;Comment,hu;Comment,ja;Comment,de;Comment,fi;Comment,uk;Comment,km;Comment,pt_BR;Comment,da;Name,ta;Name,sl;Name,fr;Name,et;Name,it;Name,zh_TW;Name,af;Name,ca;Name,nl;Name,es;Name,hu;Name,xh;Name,mr;Name,nb;Name,el;Name,ja;Name,pt;Name,gu;Name,sv;Name,de;Name,he;Name,fi;Name,mk;Name,ko;Name,vi;Name,uk;Name,tr;Name,cs;Name,zh_CN;Name,bg;Name,km;Name,ru;Name,zu;Name,sr;Name,pt_BR;Name,da;Name,gl;Name,ro;Name,cy;Name,hi;
X-SuSE-translate=true
