[Desktop Entry]
Version=1.0
Name=F-Spot
Name[ar]=إف-سبوت
Name[be@latin]=F-Spot
Name[bg]=F-Spot
Name[ca]=F-Spot
Name[cs]=F-Spot
Name[da]=F-Spot
Name[de]=F-Spot
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་
Name[el]=F-Spot
Name[en_CA]=F-Spot
Name[en_GB]=F-Spot
Name[es]=F-Spot
Name[eu]=F-Spot
Name[fa]=اِف- اِسپات
Name[fi]=F-Spot
Name[fr]=F-Spot
Name[gl]=F-Spot
Name[he]=F-Spot
Name[hi]=एफ़ स्पॉट
Name[hu]=F-Spot
Name[it]=F-Spot
Name[ja]=F-Spot
Name[ka]=F-სპოტ
Name[kn]=F-Spot
Name[ko]=F-Spot
Name[lt]=F-Spot
Name[lv]=F-Spot
Name[mk]=F-Spot
Name[mr]=F-Spot
Name[nb]=F-Spot
Name[or]=F-Spot
Name[pa]=F-ਸਪੋਟ
Name[pl]=F-Spot
Name[pt]=F-Spot
Name[pt_BR]=F-Spot
Name[ru]=F-Spot
Name[sk]=F-Spot
Name[sl]=F-Spot
Name[sr]=Ф-број
Name[sr@latin]=F-broj
Name[sv]=F-Spot
Name[ta]=F-Spot
Name[te]=F-Spot
Name[th]=F-Spot
Name[uk]=F-Spot
Name[vi]=F-Spot
Name[zh_CN]=F-Spot
Name[zh_HK]=F-Spot
Name[zh_TW]=F-Spot
GenericName=Photo Manager
GenericName[ar]=مدير الصور
GenericName[as]=ফটো মেনেজাৰ
GenericName[be@latin]=Kiraŭnik zdymkaŭ
GenericName[ca]=Gestor fotogràfic
GenericName[cs]=Správce fotografií
GenericName[da]=Fotohåndtering
GenericName[de]=Fotoverwaltung
GenericName[dz]=དཔར་འཛིན་སྐྱོང་པ་
GenericName[el]=Διαχειριστής εικόνων
GenericName[en_CA]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotografías
GenericName[et]=Fotode haldaja
GenericName[eu]=Argazki-kudeatzailea
GenericName[fa]=مدیر عکس
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[gl]=Xestor de fotos
GenericName[gu]=ફોટો વ્યવસ્થાપક
GenericName[he]=מנהל תמונות
GenericName[hi]=फोटो प्रबंधक
GenericName[hu]=Fényképkezelő
GenericName[it]=Gestore di fotografie
GenericName[ja]=写真マネージャ
GenericName[ka]=ფოტო მენეჯერი
GenericName[kn]=ಫೋಟೊ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=사진 관리자
GenericName[lt]=Fotografijų tvarkymo programa
GenericName[lv]=Fotogrāfiju pārvaldnieks
GenericName[mk]=Менаџер за слики
GenericName[mr]=फोटो व्यवस्थापक
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheer
GenericName[or]=ଫୋଟୋ ପରିଚାଳକ
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotografias
GenericName[pt_BR]=Gerenciador de fotos
GenericName[ru]=Управление фотографиями
GenericName[sk]=Správca fotiek
GenericName[sl]=Upravljalnik fotografij
GenericName[sr]=Фото албум
GenericName[sr@latin]=Foto album
GenericName[sv]=Fotohanterare
GenericName[ta]=நிழற்பட மேலாளர்
GenericName[te]=ఛాయాచిత్ర నిర్వాహిక
GenericName[th]=โปรแกรมจัดการรูปถ่าย
GenericName[uk]=Керування фотографіями
GenericName[vi]=Bộ Quản Lý Ảnh Chụp
GenericName[zh_CN]=照片管理器
GenericName[zh_HK]=相片管理員
GenericName[zh_TW]=相片管理員
X-GNOME-FullName=F-Spot Photo Manager
X-GNOME-FullName[ar]=مدير الصور إف-سبوت
X-GNOME-FullName[as]=F-Spot ফটো মেনেজাৰ
X-GNOME-FullName[be@latin]=Kiraŭnik zdymkaŭ F-Spot
X-GNOME-FullName[ca]=Gestor fotogràfic F-Spot
X-GNOME-FullName[cs]=Správce fotografií F-Spot
X-GNOME-FullName[da]=F-Spot fotohåndtering
X-GNOME-FullName[de]=F-Spot Fotoverwaltung
X-GNOME-FullName[dz]=ཨེཕ་-ཨིསི་པོཊི་ དཔར་འཛིན་སྐྱོང་པ་
X-GNOME-FullName[el]=Διαχειριστής εικόνων f-spot
X-GNOME-FullName[en_CA]=F-Spot Photo Manager
X-GNOME-FullName[en_GB]=F-Spot Photo Manager
X-GNOME-FullName[es]=Gestor de fotos F-Spot
X-GNOME-FullName[et]=F-Spot fotoalbum
X-GNOME-FullName[eu]=F-Spot argazki-kudeatzailea
X-GNOME-FullName[fa]=مدیر عکس اِف‌-اِسپات
X-GNOME-FullName[fi]=F-Spot - valokuvien hallinta
X-GNOME-FullName[fr]=Gestionnaire de photos F-Spot
X-GNOME-FullName[gl]=Xestor de fotos F-Spot
X-GNOME-FullName[gu]=F-Spot ફોટો વ્યવસ્થાપક
X-GNOME-FullName[he]=מנהל התמונות F-Spot
X-GNOME-FullName[hi]=एफ़ स्पॉट फोटो प्रबंधक
X-GNOME-FullName[hu]=F-Spot fotókezelő
X-GNOME-FullName[it]=F-Spot - Gestore di fotografie
X-GNOME-FullName[ja]=F-Spot 写真マネージャ
X-GNOME-FullName[ka]=F-სპოტ ფოტო მენეჯერი
X-GNOME-FullName[kn]=F-Spot ಫೋಟೋ ವ್ಯವಸ್ಥಾಪಕ
X-GNOME-FullName[ko]=F-Spot 사진 관리자
X-GNOME-FullName[lt]=Fotografijų tvarkymo programa F-Spot
X-GNOME-FullName[lv]=F-Spot fotogrāfiju pārvaldnieks
X-GNOME-FullName[mk]=F-Spot Менаџер за слики
X-GNOME-FullName[mr]=F-Spot फोटो व्यवस्थापक
X-GNOME-FullName[nb]=F-Spot bildebehandling
X-GNOME-FullName[nl]=F-Spot fotobeheer
X-GNOME-FullName[or]=F-Spot ଫୋଟୋ ପରିଚାଳକ
X-GNOME-FullName[pa]=F-ਸਪੋਟ ਫੋਟੋ ਮੈਨੇਜਰ
X-GNOME-FullName[pl]=Menedżer zdjęć F-Spot
X-GNOME-FullName[pt]=Gestor de Fotografias do F-Spot
X-GNOME-FullName[pt_BR]=Gerenciador de fotos F-Spot
X-GNOME-FullName[ru]=Управление фотографиями в F-Spot
X-GNOME-FullName[sk]=Správca fotiek F-Spot
X-GNOME-FullName[sl]=F-spot upravljalnik fotografij
X-GNOME-FullName[sr]=Ф-број фото албум
X-GNOME-FullName[sr@latin]=F-broj foto album
X-GNOME-FullName[sv]=Fotohanteraren F-Spot
X-GNOME-FullName[ta]=F-Spot நிழற்பட மேலாளர்
X-GNOME-FullName[te]=F-Spot ఛాయాచిత్ర నిర్వాహిక
X-GNOME-FullName[th]=F-Spot: โปรแกรมจัดการรูปถ่าย
X-GNOME-FullName[uk]=Керування фотографіями у F-Spot
X-GNOME-FullName[vi]=Bộ Quản Lý Ảnh Chụp F-Spot
X-GNOME-FullName[zh_CN]=F-Spot 照片管理器
X-GNOME-FullName[zh_HK]=F-Spot 相片管理員
X-GNOME-FullName[zh_TW]=F-Spot 相片管理員
Comment=Organize, enjoy, and share your photos
Comment[ar]=نظم, تمتع, وقم بمشاركة الصور
Comment[as]=আপোনাৰ ফটোবোৰ সজাওক, ভাগ বতৰা কৰক আৰু উপভোগ কৰক
Comment[be@latin]=Kiruj svaimi zdymkami i dzialisia imi
Comment[ca]=Organitzeu, gaudiu i compartiu fotografies
Comment[cs]=Organizuje, prohlíží a sdílí vaše fotografie
Comment[da]=Organisér, nyd og del dine fotos
Comment[de]=Fotos anschauen, sortieren und weitergeben
Comment[dz]=ཁྱོད་ཀྱི་དཔར་ཚུ་ འགོ་འདྲེན་འཐབ་ སྤྲོ་བ་སྟོན་ དེ་ལས་ རུབ་སྤྱོད་འབད་
Comment[el]=Οργανώστε απολαύστε και μοιραστείτε τις φωτογραφίες σας
Comment[en_CA]=Organize, enjoy, and share your photos
Comment[en_GB]=Organise, enjoy, and share your photos
Comment[es]=Organice, diviértase y comparta sus fotografías
Comment[et]=Naudi fotoalbumi korrastamist ning fotode jagamist
Comment[eu]=Antolatu, ikusi eta partekatu zure argazkiak
Comment[fa]=عکس‌های خود را سازمان‌دهی کنید، از آنها لذت ببرید،  و با دیگران قسمت کنید 
Comment[fi]=Järjestele ja jaa valokuviasi
Comment[fr]=Organisez, partagez et profitez de vos photos
Comment[gl]=Organiza, comparte e divírtete coas túas fotos
Comment[gu]=તમારા ફોટોને સંચાલિત, આનંદ માણો, અને વહેંચો
Comment[he]=ארגן, תהנה ושתף את התמונות שלך.
Comment[hi]=संगठित करें, आनंद लें, और अपने फोटो को साझा करें
Comment[hu]=Fényképek rendszerezése, megjelenítése és megosztása
Comment[it]=Organizza, mostra e condivide le proprie fotografie
Comment[ja]=写真を整理し、楽しみ、共有します
Comment[ka]=ორგანიზირება, დათვალიერება და გაზიარება
Comment[kn]=ನಿಮ್ಮ ಫೋಟೊಗಳನ್ನು ವ್ಯವಸ್ಥಿತವಾಗಿ ಜೋಡಿಸಿ, ಆನಂದಿಸಿ ಹಾಗು ಇತರರೊಂದಿಗೆ ಹಂಚಿಕೊಳ್ಳಿ
Comment[ko]=여러분의 사진을 관리하고 공유하세요
Comment[lt]=Rūšiuokite, mėgaukitės ir dalinkitės savo fotografijomis
Comment[lv]=Sarīkojoiet, baudiet un dalaties ar savām bildem
Comment[mk]=Организирајте ги, споделете ги и уживајте во Вашите слики
Comment[mr]=तुमचे फोटो आयोजीत करा, मजा लूटा व सहभागीय करा
Comment[nb]=Organiser, verdsett og del bildene dine
Comment[nl]=Beheer, deel en geniet van uw foto's
Comment[or]=ଆପଣଙ୍କ ଫୋଟୋଗୁଡ଼ିକୁ ସୁସଂଗଠନ କରନ୍ତୁ, ଉପଭୋଗ କରନ୍ତୁ, ଏବଂ ସହଭାଗ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀਆਂ ਫੋਟੋ ਵੇਖੋ, ਸਾਂਝੀਆਂ ਕਰੋ
Comment[pl]=Organizowanie i dzielenie się swoimi zdjęciami
Comment[pt]=Organize, divirta-se e partilhe as suas fotos
Comment[pt_BR]=Organize, compartilhe e divirta-se com suas fotos
Comment[ru]=Организация, просмотр и передача фотографий
Comment[sk]=Organizovať, mať potešenie a zdielať vaše fotky
Comment[sl]=Urejajte, uživajte in delite vaše fotografije.
Comment[sr]=Организујте, уживајте и поделите ваше фотографије
Comment[sr@latin]=Organizujte, uživajte i podelite vaše fotografije
Comment[sv]=Organisera, njut av, och dela med dig av dina foton
Comment[ta]=உங்கள் நிழற்படங்களை ஒழுங்குபடுத்தி, பகிர்ந்து, மகிழவும்
Comment[te]=నిర్వహించు, ఆనందించు, మరియు మీ ఛాయాచిత్రములను పంచుకొనుము
Comment[uk]=Організація, перегляд та передача фотографій
Comment[vi]=Tổ chức, thích thú và chia ra các ảnh chụp của bạn
Comment[zh_CN]=组织、欣赏及共享您的照片
Exec=f-spot
Icon=f-spot
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.6.1.5
X-GNOME-DocPath=f-spot/f-spot.xml
