[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Scanner Tool
GenericName=Scanner Tool
Comment=Scan images to view, copy, fax or email them
Icon=xsane
TryExec=xsane
Exec=xsane
Terminal=false
Categories=Application;Graphics;2DGraphics;RasterGraphics;Scanning;GTK;X-Fedora;X-Red-Hat-Base;
StartupNotify=true
X-Desktop-File-Install-Version=0.15
