[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ffado-mixer
Icon=ffado
TryExec=ffado-mixer
Exec=ffado-mixer
Terminal=false
Categories=AudioVideo;Audio;HardwareSettings;Mixer;Qt;
StartupNotify=false
X-AppInstall-Package=ffado-mixer-qt4
X-AppInstall-Popcon=9
X-AppInstall-Section=main
X-Arch-Package=libffado 2.2.1-2
X-Arch-Package-Name=libffado
X-Arch-Package-Version=2.2.1-2
X-Arch-Package-Description=Driver for FireWire audio devices
X-Arch-Package-URL=http://www.ffado.org/
