[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Fiberlamp
Comment=Draws a groovy rotating fiber optic lamp. Written by Tim Auckland.
TryExec=/usr/lib/xscreensaver/fiberlamp
Exec=/usr/lib/xscreensaver/fiberlamp -root
Terminal=false
OnlyShowIn=GNOME;
Categories=Screensaver;
StartupNotify=false
