[Desktop Entry]
Type=Application
Name=FLTK Checkers
Comment=Checkers Game
Icon=flcheckers
TryExec=/usr/games/flcheckers
Exec=/usr/games/flcheckers
Categories=Game;BoardGame;
StartupNotify=false
X-AppInstall-Package=fltk1.1-games
X-AppInstall-Popcon=24
X-AppInstall-Section=main
