[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Floating Feet
Name[af]=Drywende voete
Name[ar]=أقدام طافية
Name[as]=ভাসমান পা
Name[ast]=Pies Flotando
Name[be@latin]=Latučyja stopy
Name[be]=Лятучыя стопы
Name[bg]=Летящи табани
Name[bn]=ভাসমান পা
Name[bn_IN]=ভাসমান পা
Name[ca@valencia]=Peus flotants
Name[ca]=Peus flotants
Name[crh]=Yaldavuq Ayaqlar
Name[cs]=Plovoucí chodidla
Name[cy]=Traed yn Arnofio
Name[da]=Flydende fødder
Name[de]=Schwebende Füße
Name[dz]=ལྡིང་བའི་རྐང་པ།
Name[el]=Floating Feet
Name[en@shaw]=𐑓𐑤𐑴𐑑𐑦𐑙 𐑓𐑰𐑑
Name[en_CA]=Floating Feet
Name[en_GB]=Floating Feet
Name[es]=Pie flotante
Name[et]=Hõljuv jalg
Name[eu]=Oin mugikorra
Name[fa]=پاهای شناور
Name[fi]=Kelluvat jalat
Name[fr]=Pieds flottants
Name[ga]=Cosa ar Snámh
Name[gl]=Pé flotante
Name[gu]=તરતો પગ
Name[he]=רגליים צפות
Name[hi]=उत्प्लावित फीट
Name[hr]=Lebdeće noge
Name[hu]=Lebegő tappancs
Name[id]=Kaki Mengapung
Name[is]=Fljótandi fætur
Name[it]=Orma fluttuante
Name[ja]=フローティング GNOME
Name[ka]=მოსრიალე ფეხი
Name[kn]=ತೇಲುವ ಪಾದ
Name[ko]=떠다니는 발바닥
Name[ku]=Lingên Dişemite
Name[lt]=Plaukiojančios pėdos
Name[lv]=Peldoša pēda
Name[mai]=फ्लोटिंग पएर
Name[mg]=Tongotra mitsingevana
Name[mk]=Подвижно стапало
Name[ml]=പാറിനടക്കുന്ന കാല്‍പ്പാദം
Name[mn]=Хөлийг ашиглалтанд оруулах
Name[mr]=तरंगते छाप
Name[nb]=Glidende føtter
Name[nds]=Fleugende Fööt
Name[ne]=उत्प्लावन पैतला
Name[nl]=Drijvende voet
Name[nn]=Glidande føtter
Name[or]=ଭାସୁଥିବା ପାଦ
Name[pa]=ਤਰਦਾ ਪੈਰ
Name[pl]=Latające stopy
Name[pt]=Pé Flutuante
Name[pt_BR]=Pés flutuantes
Name[ro]=Tălpi plutitoare
Name[ru]=Плавающие ступни
Name[si]=පාවෙන පාද
Name[sk]=Plávajúce nohy
Name[sl]=Lebdeče noge
Name[sq]=Shputa në lundrim
Name[sr@Latn]=Plutajuće stopalo
Name[sr@latin]=Plutajuće stopalo
Name[sr]=Плутајуће стопало
Name[sv]=Flytande fötter
Name[ta]=மிதவை பாதம்
Name[te]=తేలాడుతున్న కాళ్లు
Name[th]=บาทาเหินหาว
Name[tr]=Kayan Ayaklar
Name[uk]=Плаваючі ступні
Name[vi]=Chân nổi
Name[xh]=Iinyawo Ezijingayo
Name[zh_CN]=浮动的脚
Name[zh_HK]=浮動大腳
Name[zh_TW]=浮動大腳
Name[zu]=Izinyawo Ezintantayo
Comment=Bubbles the GNOME foot logo around the screen
Comment[af]=Borrel die GNOME-voetlogo op die skerm rond
Comment[ar]=تفقيع شعار قدم جنوم حول الشاشة
Comment[as]=GNOME
Comment[ast]=Borboya'l logo del piesón de GNOME alredior de la pantalla
Comment[be@latin]=Pakazvaje na ekranie stopy (lahatyp GNOME)
Comment[be]=Ступы GNOME лётаюць па экране
Comment[bg]=Логото на GNOME със стъпалото се движи по екрана
Comment[bn]=পর্দার মধ্যে GNOME এর পায়ের লোগোটি বুদবুদের মতো প্রদর্শন
Comment[bn_IN]=পর্দার মধ্যে GNOME-র পায়ের লোগোটি বুদবুদের মতো প্রদর্শন
Comment[br]=Al logo GNOME mont war wel tu pe du ar skramm
Comment[ca@valencia]=Bombolles amb el logotip del peu del GNOME per tota la pantalla
Comment[ca]=Bombolles amb el logotip del peu del GNOME per tota la pantalla
Comment[crh]=GNOME ayak logosunu ekran etrafında dolandır
Comment[cs]=Zobrazí bubliny s logem "GNOME foot"
Comment[cy]=Byrlymu logo troed GNOME o amgylch y sgrin
Comment[da]=Bobler GNOME-fodlogoet omkring på skærmen
Comment[de]=Das GNOME-Fuß-Logo überall auf dem Bildschirm schweben lassen
Comment[dz]=རྦ་ག་-གསལ་གཞིའི་མཐའ་སྐོར་ ཇི་ནོམ་རྐང་པའི་ལས་རྟགས།
Comment[el]=Φούσκες του λογότυπου του GNOME στην οθόνη
Comment[en@shaw]=𐑚𐑳𐑚𐑩𐑤𐑟 𐑞 ·𐑜𐑯𐑴𐑥 𐑓𐑫𐑑 𐑤𐑴𐑜𐑴 𐑼𐑬𐑯𐑛 𐑞 𐑕𐑒𐑮𐑰𐑯
Comment[en_CA]=Bubbles the GNOME foot logo around the screen
Comment[en_GB]=Bubbles the GNOME foot logo around the screen
Comment[es]=Burbujea el logotipo del pie de GNOME alrededor de la pantalla
Comment[et]=GNOME jalajälje logod ekraanil ringi hõljumas
Comment[eu]=Egin burbuilak GNOMEren oina logotipoarekin pantailan zehar
Comment[fa]=حباب‌پراکنی از لوگوی پای گنوم در اطراف صفحهٔ نمایش
Comment[fi]="Kuplii" Gnomen logoa ympäri näyttöä
Comment[fr]=Le logo de GNOME apparaît ça et là sur l'écran
Comment[gl]=Move o logotipo do pé do GNOME ao redor da pantalla
Comment[gu]=સ્ક્રીનની ફરતે GNOME પગનો લોગો બબલ કરે છે
Comment[he]=מבעבע את רגל הסמל של GNOME ברחבי המסך
Comment[hi]=गनोम पाद लोगो स्क्रीन के गिर्द बबल
Comment[hr]=Prikazuje GNOME logo u mjehurićima preko zaslona
Comment[hu]=A GNOME tappancs logót lebegteti körbe a képernyőn
Comment[id]=Balonkan logo kaki GNOME di sekitar layar
Comment[is]=Freyðir fót merkinu GNOME um skjáinn
Comment[it]=Fa rimbalzare l'impronta del logo di GNOME sullo schermo
Comment[ja]=画面の回りに GNOME のロゴが浮かびます
Comment[ka]=ჯუჯის ნაფეხურები ეკრანის გარშემო
Comment[kn]=GNOME ಪಾದದ ಚಿಹ್ನೆಯನ್ನು ತೆರೆಯ ತುಂಬೆಲ್ಲಾ ಬಬಲ್ ಮಾಡುತ್ತದೆ
Comment[ko]=화면에 그놈 발바닥 로고가 떠다닙니다
Comment[ku]=Peqikên logoya binî a GNOME ya di dîmenderê de ye
Comment[lt]=GNOME pėdos logotipas „burbuliuoja“ ekrane
Comment[lv]=Burbuļo GNOME pēdas logo pa visu ekrānu
Comment[mai]=स्क्रीनक चारू कात गनोम फुट लोगो बबल
Comment[mg]=Mameno tapoaka misy ny fangon'ny GNOME ny efijery
Comment[mk]=Bubbles the GNOME foot logo околу екранот
Comment[ml]=ഗ്നോമിന്റെ കാല്‍പ്പാദമുദ്ര സ്ക്രീനിന് ചുറ്റും കുമിളകളാക്കുക
Comment[mn]=Дэлгэцний доор хөлний лого бүхий GNOME-г гаргах.
Comment[mr]=पडद्या भोवती GNOME चिन्ह दर्शवितो
Comment[nb]=GNOME logoen flytende rundt som bobler på skjermen
Comment[nds]=Da fleugt dat GNOME Emblem övern Billschirm
Comment[ne]=पर्दा वरिपरि जिनोम पैतलाको लोगो उफार्छ
Comment[nl]=Bubbelt het GNOME voet-logo over het scherm
Comment[nn]=GNOME logoen flytande rundt som bobler på skjermen
Comment[or]=ସ୍କ୍ରିନ ଚାରିପଟେ GNOME ପାଦଲୋଗୋ ବୁଦବୁଦ କରେ ୤
Comment[pa]=ਸਕਰੀਨ ਵਿੱਚ ਗਨੋਮ ਦਾ ਪੈਰ ਵਾਲਾ ਲੋਗੋ ਵੇਖਾਓ
Comment[pl]=Wyświetla na ekranie stopy (logo GNOME)
Comment[pt]=Bolhas no logotipo do pé do GNOME por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo do pé do GNOME em torno da tela
Comment[ro]=Sigla GNOME este afișată pe ecran multiplicată
Comment[ru]=Всплывающие по всему экрану ступни GNOME
Comment[sk]=Vybublinkuje logo nohy GNOME okolo obrazovky
Comment[sl]=Premikanje mehurčkov z logotipom noge GNOME po zaslonu
Comment[sq]=Bubbles dhe stema e GNOME rreth e qark ekranit
Comment[sr@Latn]=Mreškanje Gnomovog prepoznatljivog stopalo na ekranu
Comment[sr@latin]=Mreškanje Gnomovog prepoznatljivog stopalo na ekranu
Comment[sr]=Мрешкање Гномовог препознатљивог стопало на екрану
Comment[sv]=Bubblar runt GNOME:s fotlogo på skärmen
Comment[ta]=திரையில் பல் இடங்களில் க்னோம் கால் சின்னத்தை குமிழ்களாக வெளியிடுகிறது.
Comment[te]=GNOME పాదము చిహ్నమును తెర చుట్టూ తిప్పుము
Comment[th]=เลื่อนตรารูปรอยเท้าของ GNOME ไปรอบๆ หน้าจอ
Comment[tr]=GNOME ayak logosunu ekran etrafında dolandır
Comment[uk]=Ступні, що спливають по усьому екрану
Comment[vi]=Thổi bong bóng biểu tượng chân GNOME chung quanh màn hình
Comment[xh]=Kugqamza isithetho ngenjongo enyaweni le-GNOME
Comment[zh_CN]=在屏幕上如泡泡一样浮动 GNOME 脚徽标
Comment[zh_HK]=讓 GNOME 大腳標誌圍繞畫面
Comment[zh_TW]=讓 GNOME 大腳標誌圍繞畫面
Comment[zu]=Ibhamuzisa ilogo yonyawo ye-GNOME esibukweni
TryExec=/usr/lib/gnome-screensaver/floaters
Exec=/usr/lib/gnome-screensaver/floaters /usr/share/pixmaps/gnome-logo-white.svg
Terminal=false
OnlyShowIn=GNOME;
Categories=GNOME;Screensaver;
StartupNotify=false
