[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Frogatto
GenericName=Old-school 2D platformer
Comment=Old-school 2D platformer
Icon=/opt/frogatto/images/window-icon.png
TryExec=/usr/bin/frogatto
Exec=/usr/bin/frogatto
MultipleArgs=false
Terminal=false
Categories=Game;ArcadeGame;
StartupNotify=false
