[Desktop Entry]
X-AppInstall-Package=g3data
X-AppInstall-Popcon=41
X-AppInstall-Section=main

Version=1.0
Name=G3Data Graph Analyzer
Name[en_GB]=g3data Graph Analyser
GenericName=Graph Analyzer
GenericName[en_GB]=Graph Analyser
Comment=Retrieve data from scanned images of graphs
Type=Application
Exec=g3data
Icon=g3data
Categories=Science;Education;Graphics;
