[Desktop Entry]
Type=Application
Name=Galculator
Comment=Perform simple and scientific calculations
Comment[de]=Ausführen von einfachen und wissenschaftlichen Berechnungen
Comment[ja]=単純な科学計算を実行します
Comment[pl]=Wykonaj proste lub naukowe obliczenia
Comment[pt]=Executa cálculos simples e científicos
Comment[pt_BR]=Executa cálculos simples e científicos
Comment[sk]=Kalkulačka na jednoduché i vedecké výpočty
Icon=galculator
TryExec=/usr/bin/galculator
Exec=galculator
Categories=Utility;
StartupNotify=true
X-AppInstall-Package=galculator
X-AppInstall-Popcon=295
X-AppInstall-Section=community
X-Arch-Package-Repository=community
X-Arch-Package-Name=galculator
X-Arch-Package-Version=2.1.3-3
X-Arch-Package-Description=GTK+ based scientific calculator
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://galculator.sourceforge.net/
