[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gaw Gtk Analog Wave viewer
Comment=Gtk Analog Wave viewer
Icon=gaw.png
Exec=gaw
Terminal=false
Categories=GTK;Graphics;
StartupNotify=false
X-Arch-Package=gaw 20111016-1
