[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GKrellM System Monitor
Comment=Manages multiple stacked monitors
Comment[de]=Systemmonitor
Comment[es]=Gestiona múltiples monitores
Comment[fr]=Moniteur système
Comment[hu]=Rendszermonitor
Icon=gkrellm
TryExec=gkrellm
Exec=gkrellm
Terminal=false
Categories=System;
StartupNotify=false
DocPath=/usr/share/doc/packages/gkrellm/Themes.html
X-AppInstall-Package=gkrellm
X-AppInstall-Popcon=1162
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
X-Arch-Package-Name=gkrellm
X-Arch-Package-Version=2.3.5-6
X-Arch-Package-Description=System monitor package for GTK2
X-Arch-Package-URL=http://gkrellm.srcbox.net/
