[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gltron
Comment=3D Game like Tron
Comment[de]=3D-Spiel wie im Film Tron
Comment[es]=Juego 3D parecido a Tron
Comment[fr]=Jeu 3D qui évoque le film Tron.
Comment[hu]=Tron-szerű 3D játék
Terminal=false
StartupNotify=false
DocPath=/usr/share/doc/packages/gltron/README.html
X-AppInstall-Package=gltron
X-AppInstall-Popcon=37
X-AppInstall-Section=main
X-Arch-Package-Name=gltron
X-Arch-Package-Version=0.70-5
X-Arch-Package-Description=A tron-like lightcycle game with a nice 3D perspective
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.gltron.org
X-Arch-Package-Votes=37
