[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gmerlin KBD
Name[de]=Gmerlin KBD
Comment=Configure the Gmerlin keyboard daemon
Comment[de]=Gmerlin keyboard daemon konfigurieren
Icon=gmerlin-kbd.png
Exec=gmerlin_kbd_config
Terminal=false
Categories=Application;AudioVideo;
StartupNotify=false
X-AppInstall-Package=gmerlin
X-AppInstall-Popcon=52
X-AppInstall-Section=main
