[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gmusicbrowser
Comment=Jukebox for large collections of mp3/ogg/flac/mpc
Comment[fr]=Jukebox pour de grandes collections de mp3/ogg/flac/mpc
Icon=gmusicbrowser
TryExec=gmusicbrowser
Exec=gmusicbrowser %F
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
X-AppInstall-Package=gmusicbrowser
X-AppInstall-Popcon=54
X-AppInstall-Section=main
X-Arch-Package-Name=gmusicbrowser
X-Arch-Package-Version=1.1.14-3
X-Arch-Package-Description=A customizable open-source jukebox for large collections
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://gmusicbrowser.org
X-Arch-Package-Votes=54
