[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Glade Interface Designer
Name[az]=Glade Ara Üz Tərtib Edicisi
Name[be]=Glade - распрацоўнік спалучэньняў
Name[ca]=Dissenyador d'interfícies Glade
Name[cs]=Návrhář uživatelského rozhraní Glade
Name[da]=Glade - grænsefladedesigner
Name[de]=Glade Oberflächenentwicklung
Name[en_CA]=Glade Interface Designer
Name[en_GB]=Glade Interface Designer
Name[es]=Diseñador de interfaces Glade
Name[fr]=Concepteur d'interface Glade
Name[gl]=Deseñador de interfaces Glade
Name[hr]=Glade izrada sučelja
Name[hu]=Glade felülettervező
Name[it]=Glade - Designer di interfacce
Name[ja]=Glade インタフェース・デザイナ
Name[lv]=Glade Saskarnes Veidotājs
Name[mk]=Интерфејс
Name[ms]=Pereka bentuk Antara muka Glade
Name[nb]=Glade grensesnittutforming
Name[ne]=ग्लेड अन्तरमोहडाको ढाँचा बनाउने
Name[nl]=Glade interface-ontwerper
Name[no]=Glade grensesnittutforming
Name[pa]=ਗਲੇਡ ਇੰਟਰਫੇਸ ਨਿਰਮਾਤਾ
Name[pl]=Glade - narzędzie do projektowania interfejsów użytkownika
Name[pt]=Designer de Interfaces Glade
Name[pt_BR]=Construtor de Interfaces Glade
Name[ru]=GLADE: Дизайнер интерфейсов
Name[sk]=Návrh rozhrania Glade
Name[sq]=Glade - Vizatuesi i Interfaqeve
Name[sr@Latn]=Glejd izrada sučelja
Name[sr]=Глејд израда сучеља
Name[sv]=Gränssnittsbyggaren Glade
Name[tr]=Glade Arayüz Disayn
Name[vi]=Bộ thiết kế giao diện Glade
Name[yi]=גלײד צובינד אױסאַרבעטער
Name[zh_TW]=Glade 介面設計程式
Comment=Design user interfaces
Comment[ca]=Dissenyeu interfícies d'usuari
Comment[cs]=Navrhovat uživatelská rozhraní
Comment[da]=Design brugergrænseflader
Comment[de]=Erstellen von Benutzeroberflächen
Comment[en_CA]=Design user interfaces
Comment[en_GB]=Design user interfaces
Comment[es]=Diseño de interfaces de usuario
Comment[fr]=Conçois des interfaces utilisateur
Comment[gl]=Diseño de interfaces de usuario
Comment[hr]=Dizajnira korisničko sučelje
Comment[hu]=Felhasználói felületek tervezése
Comment[it]=Per progettare interfacce utente
Comment[ja]=ユーザ・インタフェースを設計します
Comment[nb]=Utforming av brukergrensesnitt
Comment[ne]=प्रयोगकर्ताको अन्तरमोहडाको ढाँचा बनाउनुहोस्
Comment[nl]=Bedienings-interface ontwerpen
Comment[no]=Utforming av brukergrensesnitt
Comment[pa]=ਉਪਭੋਗਤਾ ਇੰਟਰਫੇਸ ਨਿਰਮਾਣ
Comment[pl]=Projektowanie interfejsów użytkownika
Comment[pt]=Desenhe interfaces de utilizador
Comment[pt_BR]=Projete interfaces de usuário
Comment[sq]=Vizaton interfaqet e përdoruesit
Comment[sr@Latn]=Izrada korisničkih sučelja
Comment[sr]=Израда корисничких сучеља
Comment[sv]=Konstruera användargränssnitt
Comment[vi]=Thiết kế giao diện người dùng.
Comment[zh_TW]=設計使用者介面
Icon=glade-2.png
TryExec=glade-2
Exec=glade-2 %F
Terminal=false
Categories=Application;Development;X-Red-Hat-Base;
MimeType=application/x-glade;
StartupNotify=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=glade
X-GNOME-Bugzilla-Component=general
X-Desktop-File-Install-Version=0.10
