[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Tetravex
Name[ar]=تترافكس
Name[az]=Tetravex
Name[bg]=Tetravex
Name[bn]=ট্রাভেক্স খেলা
Name[bn_IN]=ট্রাভেক্স খেলা
Name[ca]=Tetravex
Name[cs]=Tetravex
Name[cy]=Tetravex
Name[da]=Tetravex
Name[de]=Tetravex
Name[dz]=ཊེ་ཊ་བེགསི།
Name[el]=Tetravex
Name[en_CA]=Tetravex
Name[en_GB]=Tetravex
Name[es]=Tetravex
Name[et]=Tetravex
Name[eu]=Tetravex
Name[fa]=تِتراوِکس
Name[fi]=Tetravex
Name[fr]=Tetravex
Name[ga]=Tetravex
Name[gl]=Tetravex
Name[gu]=ટેટ્રાવૅક્સ
Name[he]=Tetravex
Name[hi]=टेट्रावेक्स 
Name[hr]=Tetravex
Name[hu]=Tetravex
Name[id]=Tetravex
Name[is]=Tetravex
Name[it]=Tetravex
Name[ja]=Tetravex
Name[ko]=테트라벡스
Name[lt]=Tetravex
Name[lv]=Tetravex spēle
Name[mk]=Tetravex
Name[ml]=ടെട്രാവെക്സ്
Name[mn]=Дөрвөн талт
Name[mr]=टेट्राव्हेक्स
Name[ms]=Tetravex
Name[nb]=Tetravex
Name[ne]=टेट्राभेक्स
Name[nl]=Tetravex
Name[nn]=Tetravex
Name[pa]=ਟੈਟਰਾਵੈਕਸ
Name[pl]=Tetravex
Name[pt]=Tetravex
Name[pt_BR]=Tetravex
Name[ro]=Tetravex
Name[ru]=Тетравекс
Name[sq]=Tetravex
Name[sr@Latn]=Slagalica
Name[sr]=Слагалица
Name[sv]=Tetravex
Name[ta]=டெட்ராவெக்ஸ்
Name[th]=Tetravex
Name[tr]=Tetravex
Name[uk]=Тетравекс
Name[vi]=Tetravex
Name[wa]=Tetravex
Name[xh]=I-Tetravex
Name[zh_CN]=Tetravex
Name[zh_HK]=數字拼圖
Name[zh_TW]=數字拼圖
Comment=Complete the puzzle by matching numbered tiles
Comment[bg]=Завърши загадката като нагласиш съвпадащите плочки
Comment[ca]=Completeu el trencaclosques fent coincidint les fitxes
Comment[de]=Durch Zusammenfügen von nummerierten Kacheln das Puzzle lösen
Comment[dz]=ཨང་བཀོད་ཊ་ཡེལ་ཚུ་ མཐུན་སྒྲིག་འབད་བའི་ཐོག་ལས་ སྒྲིག་རྩེད་དེ་མཇུག་བསྡུ།
Comment[el]=Ολοκληρώστε το παζλ ταιριάζοντας αριθμημένους κύβους
Comment[es]=Complete el puzzle haciendo coincidir las baldosas numeradas
Comment[et]=Numbritega mänguklotside vastavusse kombineerimise mäng
Comment[eu]=Osatu puzzlea zenbakidun lauzak parekatuz
Comment[fi]=Täydennä palapeli vastaavasti numeroiduilla paloilla
Comment[fr]=Complétez le puzzle en faisant correspondre les tuiles numérotées
Comment[gu]=નંબરવાળી તકતીઓ સરખાવીને કોયડો પૂર્ણ કરો
Comment[hi]=संख्या शीर्षक मिलान से पज़ल पूरा करें
Comment[hu]=Rakja ki a kirakót az egyező számok összeillesztésével
Comment[id]=Selesaikan teka-teki dengan mencocokkan ubin bernomor
Comment[ja]=数字タイルがマッチするようにしてパズルを完了
Comment[ko]=조각의 번호를 맞춰서 퍼즐을 풉니다
Comment[lt]=Užbaikite galvosūkį suradę atitinkamus numeruotus kauliukus
Comment[lv]=Complete the puzzle by matching numbered tiles
Comment[mk]=Завршете ја сложувалката со совпаѓање на нумерираните парчиња
Comment[mr]=आकडे असलेले तुकडे जुळवून कोडे संपूर्ण सोडवा
Comment[nb]=Fullfør puslespillet ved å flytte på nummererte fliser
Comment[nl]=Leg de puzzelstukje zo dat gelijke cijfers elkaar raken
Comment[pt]=Complete o puzzle coincidindo as peças numeradas
Comment[ru]=Разгадайте головоломку, собирая совпадающие по номерам кусочки
Comment[sv]=Klara att lägga pusslet genom att matcha numrerade brickor
Comment[ta]=எண்கள் பொருந்தும் படி ஓடுகளை நகர்த்தி புதிரை முடி
Comment[th]=ต่อชิ้นส่วนปริศนาโดยเรียงกระเบื้องต่อกันให้ตัวเลขตรงกัน
Comment[uk]=Заповніть головоломку встановлюючи відповідність номерів плиток
Comment[vi]=Tạo xong hình ghép bằng cách khớp đá lát hiển thị số
Comment[zh_HK]=配對數字來完成拼圖
Comment[zh_TW]=配對數字來完成拼圖
Icon=gnome-tetravex
TryExec=gnotravex
Exec=gnotravex
Terminal=false
Categories=GNOME;GTK;Game;LogicGame;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=gnotravex
X-Desktop-File-Install-Version=0.10
