[Desktop Entry]
Type=Application
Name=BitTorrent Download Client
Comment=Download files with BitTorrent
Comment[de]=Dateien mit BitTorrent herunterladen
Comment[fr]=Télécharger des fichiers avec BitTorrent
Comment[sv]=Ladda ner filer med BitTorrent
Icon=download
TryExec=/usr/bin/gnome-btdownload
Exec=gnome-btdownload
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;
StartupNotify=true
X-AppInstall-Package=gnome-btdownload
X-AppInstall-Popcon=1284
X-AppInstall-Section=main
