[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Keyboard
Name[af]=Sleutelbord
Name[am]=የፊደል ሠሌዳ
Name[ar]=لوحة المفاتيح
Name[az]=Klaviatura
Name[be]=Клявіятура
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কীবোর্ড
Name[br]=Touchennaoueg
Name[bs]=Tastatura
Name[ca]=Teclat
Name[cs]=Klávesnice
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[dz]=ལྡེ་སྒྲོམ།
Name[el]=Πληκτρολόγιο
Name[en_CA]=Keyboard
Name[en_GB]=Keyboard
Name[es]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[ga]=Miarchlar
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[id]=Papan Ketik
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[ka]=კლავიატურა
Name[ko]=키보드
Name[ku]=Klavye
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mg]=Fafan-teny
Name[mk]=Тастатура
Name[ml]=കീബോര്‍ഡ്
Name[mn]=Гар
Name[mr]=कळफलक
Name[ms]=Papan Kekunci
Name[nb]=Tastatur
Name[ne]=कीबोर्ड
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[nso]=Boroto ya dinotlelo
Name[or]=କି-ବୋର୍ଡ
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rw]=Mwandikisho
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sq]=Tastiera
Name[sr@Latn]=Tastatura
Name[sr]=Тастатура
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[vi]=Bàn phím
Name[wa]=Taprece
Name[xh]=I-keyboard
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Name[zu]=Indawo yokushaya uma ubhala
Comment=Set your keyboard accessibility preferences
Comment[af]=Stel jou sleutelbord-toeganklikheidsvoorkeure in
Comment[ar]=اضبط خيارات الإعانة للوحة مفاتيحك
Comment[az]=Klaviatura yetişmə qabiliyyəti qurğularınızı seçin
Comment[be]=Усталяваць перавагі даступнасьці клявіятуры
Comment[bg]=Настройка на клавиатурната достъпност
Comment[bn]=কীবোর্ড ব্যবহার সংক্রান্ত বৈশিষ্ট্যাবলী নির্ধারণ করুন
Comment[bn_IN]=কীবোর্ড ব্যবহার সংক্রান্ত বৈশিষ্ট্যাবলী নির্ধারণ করুন
Comment[bs]=Postavite opcije pristupačnosti tastature
Comment[ca]=Establiu les propietats d'accesibilitat del teclat
Comment[cs]=Nastaví možnosti zpřístupnění vaší klávesnice
Comment[cy]=Dewis eich hoffterau hygyrchedd bysellfwrdd
Comment[da]=Angiv indstillinger for tastaturtilgængelighed
Comment[de]=Die Einstellungen zum barrierefreien Zugriff auf die Tastatur festlegen
Comment[dz]=ཁྱོད་རའི་ལྡེ་སྒྲོམ་གྱི་ འཛུལ་སྤྱོད་དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Ρύθμιση των προτιμήσεων προσιτότητας πληκτρολογίου
Comment[en_CA]=Set your keyboard accessibility preferences
Comment[en_GB]=Set your keyboard accessibility preferences
Comment[es]=Establece sus preferencias de accesibilidad del teclado
Comment[et]=Klaviatuurikasutuse hõlbustuste seadmine
Comment[eu]=Ezarri zure teklatuaren erabilerraztasun-hobespenak
Comment[fa]=ترجیحات دسترسی‌پذیری صفحه‌کلیدتان را تنظیم کنید
Comment[fi]=Muuta näppäimistön esteettömyysasetuksia
Comment[fr]=Définit les paramètres d'accessibilité de votre clavier
Comment[gl]=Establece as súas propiedades de accesibilidade do teclado
Comment[gu]=કીબાેર્ડની સુલભતા માટેની પસંદગીઓ સુયોજિત કરો
Comment[he]=קבע את העדפות נגישות המקלדת שלך
Comment[hi]=अपने कुंजी पटल की एक्सेसिबिलिटी वरीयताएँ नियत करें
Comment[hr]=Podešavanje postavki pristupačnosti tipkovnice
Comment[hu]=Billentyűzet akadálymentesítési beállításai
Comment[id]=Atur pengaturan kemudahan akses pada papan ketik
Comment[is]=Skilgreina lyklaborðsaðgengi
Comment[it]=Imposta le preferenze di accesso universale della tastiera
Comment[ja]=キーボードの操作性を設定します
Comment[ka]=კლავიატურით წვდომის პარამეტრების დაყენება
Comment[ko]=키보드 접근성 기능 기본 설정을 설정합니다
Comment[lt]=Keisti klaviatūros prieinamumo nustatymus
Comment[lv]=Uzstādīt jūsu tastatūras pieejamības preferences
Comment[mg]=Mamaritra ny safidy manokan'ny fahafahana mampiasa ny fafan-teny
Comment[mk]=Избери твои парметри за пристапност на тастатура
Comment[ml]=നിങ്ങളുടെ കീബോര്‍ഡ് ആക്സസ്സിബിളിറ്റി ഇഷ്ടാനിഷ്ടങ്ങള്‍ ക്രമീകരിക്കുക
Comment[mn]=Гарт хялбар хандалтын тохируулга хийх
Comment[mr]=तुमचे कळफलक सुलभता प्राधान्यता निर्धारित करा
Comment[ms]=Tetapkan ciri-ciri Kebolehcapaian Papan Kekunci
Comment[nb]=Brukervalg for tilgjengelighet for tastatur
Comment[ne]=तपाईको किबोर्ड accessibility प्राथमिक्ताहरु मिलाउनु होस्
Comment[nl]=Uw voorkeuren voor toetsenbord-toegankelijkheid instellen
Comment[nn]=Still inn hjelpefunksjonar for tastaturet
Comment[nso]=Beakanya tše di ratwago tša go tsenega ga boroto ya dinotlelo
Comment[or]=ଆପଣଙ୍କ କି-ବୋର୍ଡ ଅଭିଗମ୍ଯତା ପସନ୍ଦକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਕੀ-ਬੋਰਡ ਸਹੂਲਤ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawienia dostępności klawiatury
Comment[pt]=Defina as suas preferências de acessibilidade do teclado
Comment[pt_BR]=Defina suas preferências de acessibilidade ao teclado
Comment[ro]=Setaţi opţiunile de accesibilitate ale tastaturii
Comment[ru]=Диалог настройки специальных возможностей клавиатуры
Comment[sk]=Nastavenie sprístupnenia klávesnice
Comment[sl]=Nastavitve dostopnosti tipkovnice
Comment[sq]=Rregullo preferimet e tastierës
Comment[sr@Latn]=Podesite pristupačnost tastature
Comment[sr]=Подесите приступачност тастатуре
Comment[sv]=Ställ in dina inställningar för tangentbordstillgänglighet
Comment[ta]=விசைப்பலகை அணுகல்-முறை விருப்பங்களை அமைக்கவும்
Comment[th]=ปรับแต่งสิ่งอำนวยความสะดวกสำหรับแป้นพิมพ์
Comment[tr]=Klavye erişilebilirlik tercihlerini ayarlayın
Comment[uk]=Параметри спеціальних можливостей клавіатури
Comment[vi]=Lập tùy thích cho khả năng truy cập bàn phím của bạn
Comment[xh]=Misela uluhlu lokukhetha lwakho lokufikelela lwe-keyboard
Comment[zh_CN]=设置键盘的辅助功能
Comment[zh_HK]=修改無障礙鍵盤功能設定
Comment[zh_TW]=修改無障礙鍵盤功能設定
Comment[zu]=Hlela indawo yakho yokubhala ngezimvume ezithandekayo
Icon=gnome-settings-accessibility-keyboard
TryExec=gnome-accessibility-keyboard-properties
Exec=gnome-accessibility-keyboard-properties
Terminal=false
OnlyShowIn=GNOME;
Categories=Settings;Accessibility;GNOME;GTK;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=Keyboard Accessibility
X-GNOME-Bugzilla-Version=2.16.0
X-Desktop-File-Install-Version=0.10
