[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Screen
Name[af]=Skerm
Name[am]=እስክሪን
Name[ar]=الشاشة
Name[az]=Ekran
Name[be]=Экран
Name[bg]=Екран
Name[bn]=স্ক্রীন
Name[bs]=Ekran
Name[ca]=Pantalla
Name[cs]=Obrazovka
Name[cy]=Sgrin
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Οθόνη
Name[en_CA]=Screen
Name[en_GB]=Screen
Name[eo]=Ekrano
Name[es]=Pantalla
Name[et]=Ekraan
Name[eu]=Pantaila
Name[fa]=صفحه‌نمایش
Name[fr]=Écran
Name[gl]=Pantalla
Name[gu]=સ્ક્રીન
Name[he]=צג
Name[hi]=स्क्रीन
Name[hu]=Képernyő
Name[is]=Skjár
Name[it]=Schermo
Name[ja]=画面
Name[kn]=ತೆರೆ
Name[ko]=화면
Name[ku]=Dîmen
Name[lt]=Ekranas
Name[lv]=Ekrāns
Name[mg]=Efijery
Name[mn]=Дэлгэц
Name[nb]=Skjerm
Name[ne]=पर्दा
Name[nl]=Scherm
Name[nn]=Skjerm
Name[nso]=Sekirini
Name[pa]=ਸਕਰੀਨ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Telas
Name[ro]=Ecran
Name[ru]=Экран
Name[rw]=Mugaragaza
Name[si]=තිරය
Name[sk]=Obrazovka
Name[sl]=Zaslon
Name[sr@latin]=Ekran
Name[sr]=Екран
Name[sv]=Skärm
Name[ta]=திரை
Name[th]=หน้าจอ
Name[tr]=Ekran
Name[ug]=ئېكران
Name[uk]=Екран
Name[vi]=Màn hình
Name[wa]=Waitroûle
Name[xh]=Iskrini
Name[zh_CN]=屏幕
Name[zh_HK]=螢幕
Name[zh_TW]=螢幕
Name[zu]=Ubuso besiga-nyezi
Comment=Screen brightness and lock settings
Comment[af]=Instellings vir skermhelderheid in skermsluiting
Comment[ar]=اضبط إعدادات سطوع وقفل الشاشة
Comment[bg]=Настройки на яркостта и заключването
Comment[bn]=স্ক্রীন উজ্জ্বলতা এবং লক সেটিং
Comment[ca]=Brillantor de la pantalla i paràmetres de blocar
Comment[cs]=Nastavení jasu a zamykání obrazovky
Comment[da]=Indstillinger for skærmlysstyrke og låsning
Comment[de]=Einstellungen für Helligkeit und Sperren von Bildschirmen
Comment[el]=Φωτεινότητα οθόνης και επιλογές κλειδώματος
Comment[en_GB]=Screen brightness and lock settings
Comment[es]=Brillo y ajustes de bloqueo de la pantalla
Comment[et]=Ekraani heleduse ja lukustamise sätted
Comment[eu]=Pantailaren distira eta blokeoaren ezarpenak
Comment[fa]=تنظیمات روشنایی و قفل صفحه‌ی نمایش
Comment[fr]=Paramètres de luminosité de l'écran et de verrouillage
Comment[gl]=Configuracións de brillo e bloqueo da pantalla
Comment[he]=הגדרות בהירות ונעילת התצוגה
Comment[hu]=Képernyő fényerő- és zárolási beállításai
Comment[it]=Impostazioni di luminosità e blocco dello schermo
Comment[ja]=画面の明るさとロックの設定
Comment[ko]=화면 밝기 및 잠금 설정
Comment[lt]=Ekrano ryškumo ir rakinimo nustatymai
Comment[lv]=Ekrāna spilgtuma un slēgšanas iestatījumi
Comment[nb]=Lysstyrke og innstillinger for låsing av skjerm
Comment[nl]=Schermhelderheid en instellingen voor vergrendelen
Comment[nn]=Innstillingar for lysstyrke på skjerm og låsing
Comment[pa]=ਸਕਰੀਨ ਚਮਕ ਅਤੇ ਲਾਕ ਸੈਟਿੰਗ
Comment[pl]=Jasność ekranu i ustawienia blokowania
Comment[pt]=Brilho do ecrã e definições de trancar
Comment[pt_BR]=Configurações de brilho de tela e bloqueio
Comment[ro]=Configurări de luminozitate și blocare a ecranului
Comment[ru]=Яркость экрана и параметры блокировки
Comment[sk]=Nastaviť jas a uzamykanie obrazovky
Comment[sl]=Nastavitev zaklepanja in svetlosti zaslona
Comment[sr@latin]=Osvetljenost ekrana i podešavanja zaključavanja
Comment[sr]=Осветљеност екрана и подешавања закључавања
Comment[sv]=Ljusstyrka för skärm och låsinställningar
Comment[ta]=திரை பிரகாசம் மற்றும் பூட்டு அமைப்பு
Comment[te]=తెర ప్రకాశత మరియు లాక్ అమరికలు
Comment[th]=ตั้งค่าความสว่างและการล็อคหน้าจอ
Comment[tr]=Ekran parlaklığı ve kilitleme ayarları
Comment[ug]=ئېكران يورۇقلۇقى ۋە قۇلۇپ تەڭشىكى
Comment[uk]=Яскравість екрана та налаштування блокування
Comment[vi]=Thiết lập khoá và độ sáng màn hình
Comment[zh_CN]=配置屏幕亮度和锁定
Comment[zh_HK]=螢幕亮度與鎖定設定值
Comment[zh_TW]=螢幕亮度與鎖定設定值
Icon=system-lock-screen
TryExec=/usr/bin/gnome-control-center
Exec=gnome-control-center screen
Terminal=false
OnlyShowIn=GNOME;
Categories=Settings;DesktopSettings;GNOME;GTK;X-GNOME-PersonalSettings;X-GNOME-Settings-Panel;
X-GNOME-Keywords=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[af]=Brightness;Lock;Dim;Blank;Monitor;helderheid;sluit;verdof
X-GNOME-Keywords[ar]=سطوع;قفل;فارغ;شاشة;
X-GNOME-Keywords[bg]=Яркост;Заключване;Затъмняване;Изключване;Екран;
X-GNOME-Keywords[bn]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[ca]=Brillantor;Blocar;Atenuar;En blanc;Pantalla;
X-GNOME-Keywords[cs]=jas;zámek;ztlumení;ztmavení;monitor;
X-GNOME-Keywords[da]=Lysstyrke;Lås;Dæmp;Blank;Skærm;
X-GNOME-Keywords[de]=Helligkeit;Sperren;Abdunkeln;Schwärzen;Bildschirm;Monitor;
X-GNOME-Keywords[el]=Φωτεινότητα;Κλείδωμα;Χαμήλωμα;Κενή;Οθόνη;
X-GNOME-Keywords[en_GB]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[es]=Brillo;Bloquear;Oscurecer;Iluminar;Pantalla;
X-GNOME-Keywords[et]=Heledus;Lukk;Ekraan;Monitor;
X-GNOME-Keywords[eu]=Distira;Blokeatu;Ilundu;Argitu;Pantaila;
X-GNOME-Keywords[fa]=روشنایی;قفل;تار;خالی;نمایشگر؛
X-GNOME-Keywords[fr]=Luminosité;Verrouillage;Verrouiller;Estomper;Veille;Éteindre;Écran
X-GNOME-Keywords[gl]=Brillo;Bloquear;Escurecer;Iluminar;Pantalla;
X-GNOME-Keywords[he]=בהירות;נעילה;עמעום;החשכה;צג;מסך;
X-GNOME-Keywords[hu]=Fényerő;Zárolás;Halványítás;Elsötétítés;Monitor;
X-GNOME-Keywords[it]=Luminosità;Blocco;Oscuramento;Blank;Monitor;
X-GNOME-Keywords[ja]=Brightness;Lock;Dim;Blank;Monitor;明るさ;ロック;暗い;ブランク;モニタ;
X-GNOME-Keywords[ko]=Brightness;밝기;Lock;잠그기;잠금;Dim;어둡게;Blank;화면 끄기;Monitor;모니터;
X-GNOME-Keywords[lt]=Ryškumas;Rakinimas;Pritemdymas;Tuščias;Monitorius;
X-GNOME-Keywords[lv]=Gaišums;Slēgt;Tumšāks;Tukšs;Monitors;
X-GNOME-Keywords[nb]=Lysstyrke;Lås;Demp;Blank;Skjerm;
X-GNOME-Keywords[nl]=Helderheid;Vergrendelen;Ontgrendelen;Dimmen;Zwart;Monitor;
X-GNOME-Keywords[pa]=ਚਮਕ;ਲਾਕ;ਡਿਮ;ਖਾਲੀ;ਮਾਨੀਟਰ;Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[pl]=Jasność;Blokada;Przygaszenie;Monitor;
X-GNOME-Keywords[pt]=Brilho;Trancar;Escurecer;Ocultar;Monitor;
X-GNOME-Keywords[pt_BR]=Brilho;Bloquear;Escurecer;Apagar;Monitor;
X-GNOME-Keywords[ro]=Brightness;Lock;Dim;Blank;Luminozitate;Blocare;Spațiu;Neclar;
X-GNOME-Keywords[ru]=Яркость;Блокировка;Монитор;Затухание;
X-GNOME-Keywords[sk]=Jas;Uzamknúť;Stlmiť;Prázdna obrazovka;Monitor;
X-GNOME-Keywords[sl]=Svetlost;Zakleni;Zatemnjevanje;Črn;Zaslon;
X-GNOME-Keywords[sr@latin]=Osvetljenje;Zaključaj;Zatamni;Prazno;Monitor;
X-GNOME-Keywords[sr]=Осветљење;Закључај;Затамни;Празно;Монитор;
X-GNOME-Keywords[sv]=Ljusstyrka;Lås;Dämpa;Blank;Monitor;Skärm;
X-GNOME-Keywords[ta]=பிரகாசம்;பூட்டு;மங்கல்;வெற்று;திரை
X-GNOME-Keywords[te]=ప్రకాశత;లాగ్;తక్కువకాంతి;బ్లాంక్;మానిటర్;
X-GNOME-Keywords[th]=ความสว่าง;ล็อค;หรี่;จอเปล่า;จอภาพ;
X-GNOME-Keywords[tr]=Parlaklık;Kilitle;Karartma;Boş;Monitör;
X-GNOME-Keywords[ug]=يورۇقلۇق؛قۇلۇپ؛غۇۋا؛قارا؛ئېكران؛
X-GNOME-Keywords[uk]=Яскравість;Блокування;Притлумлення;Очищення;Монітор;
X-GNOME-Keywords[vi]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[zh_CN]=亮度;锁定;渐暗;空白;显示器;Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[zh_HK]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
X-GNOME-Keywords[zh_TW]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=screen
X-GNOME-Bugzilla-Version=3.0.1.1
X-Desktop-File-Install-Version=0.18
X-AppInstall-Package=gnome-control-center
X-AppInstall-Section=extra
X-Arch-Package-Repository=extra
X-Arch-Package-Name=gnome-control-center
X-Arch-Package-Version=3.16.2-1
X-Arch-Package-Description=The Control Center for GNOME
X-Arch-Package-Groups=gnome
X-Arch-Package-URL=http://www.gnome.org
X-GNOME-Settings-Panel=screen
