[Desktop Entry]
Version=0.9.97
Encoding=UTF-8
Type=Application
Name=gPHPEdit
GenericName=PHP/HTML/CSS editor
GenericName[en_IN]=PHP/HTML/CSS editor
Comment=Edit PHP source files
Icon=gphpedit.png
TryExec=gphpedit
Exec=gphpedit
Terminal=false
Categories=Development;IDE;
StartupNotify=false
X-AppInstall-Package=gphpedit
X-AppInstall-Popcon=105
X-AppInstall-Section=main
X-Arch-Package-Name=gphpedit
X-Arch-Package-Version=0.9.98RC1-4
X-Arch-Package-Description=a scintilla/gnome based editor specialized on php-files
X-Arch-Package-URL=http://www.gphpedit.org/
