[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Grcm
GenericName=Grcm
Comment=Manage machine connections
Icon=gcrm.png
TryExec=grcm
Exec=grcm
Terminal=false
Categories=GNOME;GTK;Application;Network;
StartupNotify=false
X-AppInstall-Package=grcm
X-AppInstall-Popcon=12
X-AppInstall-Section=main
