[Desktop Entry]
Name=Multimedia Systems Selector
Name[af]=Kies multimediastelsels
Name[ar]=منتقي نظم الوسائط المتعدّدة
Name[as]=মাল্টিমিডিয়া ব্যৱস্থাপ্ৰণালী নিৰ্বাচক
Name[ast]=Seleición de sistemes multimedia
Name[az]=Multimediya Sistemi Seçicisi
Name[be]=Вылучальнік мультымэдыйных сыстэмаў
Name[be@latin]=Vybar systemy multymedyjaŭ
Name[bg]=Избор на мултимедийни системи
Name[bn]=মাল্টিমিডিয়া সিস্টেম নির্বাচক
Name[bn_IN]=মাল্টিমিডিয়া সিস্টেম নির্বাচক
Name[br]=Diuzer ar reizhiadoù Multimedia
Name[bs]=Izbornik multimedijskog sistema
Name[ca]=Selector de sistemes multimèdia
Name[ca@valencia]=Selector de sistemes multimèdia
Name[cs]=Výběr systému multimédií
Name[cy]=Dewisydd Systemau Amlgyfrwng
Name[da]=Multimediesystem
Name[de]=Multimedia-System
Name[dz]=སྣ་མང་བརྡ་དོན་རིམ་ལུགས་སེལ་བྱེད།
Name[el]=Επιλογέας συστημάτων πολυμέσων
Name[en_CA]=Multimedia Systems Selector
Name[en_GB]=Multimedia Systems Selector
Name[es]=Selector de sistemas multimedia
Name[et]=Multimeediasüsteemi valija
Name[eu]=Multimedia sistema hautatzailea
Name[fa]=انتخاب‌گر سیستم‌های چندرسانه‌ای
Name[fi]=Multimediajärjestelmien valitsimet
Name[fr]=Sélecteur de systèmes multimédia
Name[gl]=Selector de sistemas multimedia
Name[gu]=મલ્ટીમીડિયા સિસ્ટમ પસંદગીકારક
Name[he]=בוחר מערכות מולטימדיה
Name[hi]=मल्टीमीडिया तंत्र चयनक
Name[hr]=Izbornik multimedijskog sustava
Name[hu]=Multimédiarendszer-választó
Name[id]=Pemilih Sistem Multimedia
Name[it]=Selettore di sistemi multimediali
Name[ja]=マルチメディア・システム・セレクタ
Name[kn]=ಮಲ್ಟಿಮೀಡಿಯಾ ವ್ಯವಸ್ಥೆಗಳ ಆಯ್ಕೆಗಾರ
Name[ko]=멀티미디어 시스템 선택
Name[lt]=Multimedijos sistemų konfigūravimas
Name[lv]=Multimediju sistēmas izvēlētājs
Name[mai]=मल्टीमीडिया सिस्टम चयनक
Name[mg]=Mpisafidy rafitra haino amamn-jery
Name[mk]=Избирач на системот за мултимедија
Name[ml]=മള്‍ട്ടിമീഡിയാ സിസ്റ്റം തെരഞ്ഞെടുക്കല്‍ സംവിധാനം
Name[mn]=Мултимедиа систем тэмдэглэгч
Name[mr]=मल्टीमीडिया प्रणाली निवडकर्ता
Name[ms]=Pemilih Sistem Multimedia
Name[nb]=Valg av multimediesystem
Name[ne]=मल्टिमिडिया प्रणाली चयनकर्ता
Name[nl]=Multimediasystemen selecteren
Name[nn]=Multimediasystemveljar
Name[or]=ବହୁମାଧ୍ଯମ ତନ୍ତ୍ର ଚୟକ
Name[pa]=ਮਲਟੀਮੀਡਿਆ ਸਿਸਟਮ ਚੋਣਕਾਰ
Name[pl]=Wybór systemów multimediów
Name[pt]=Selector de Sistemas Multimédia
Name[pt_BR]=Seletor de sistemas multimídia
Name[ro]=Selector sisteme multimedia
Name[ru]=Выбор мультимедийной системы
Name[sk]=Výber systému multimédií
Name[sl]=Izbirnik večpredstavnih sistemov
Name[sq]=Zgjedhësi i sistemeve multimedialë
Name[sr]=Избирач мултимедијалног система
Name[sr@latin]=Izbirač multimedijalnog sistema
Name[sv]=Väljare för multimediasystem
Name[ta]=மல்டிமிடியா அமைப்பு தேர்ந்தெடுக்கப்பட்டது
Name[te]=బహుళమాద్యమ సిస్టముల సెలక్టార్
Name[th]=เลือกระบบสื่อผสม
Name[tr]=Çokluortam Sistemleri Seçicisi
Name[uk]=Вибір мультимедійної системи
Name[vi]=Bộ chọn hệ thống đa phương tiện
Name[xh]=IsiXhobo sokuKhetha iiNkqubo zoSasazo ngeendlela ezininzi
Name[zh_CN]=多媒体系统选择器
Name[zh_HK]=多媒體系統選擇器
Name[zh_TW]=多媒體系統選擇器
Comment=Configure defaults for GStreamer applications
Comment[af]=Stel verstekwaardes in vir GStreamer-toepassings
Comment[ar]=إعداد إفتراض تطبيقات جستريمر
Comment[as]=জীস্ট্ৰিমাৰেৰ এপ্লিকেশনসমূহেৰ বাবে ডিফল্ট মান বিন্যাস কৰক
Comment[ast]=Configurar predeterminaos p'aplicaciones GStreamer
Comment[az]=GStreamer proqramları üçün əsasları quraşdır
Comment[be]=Наладзіць прадвызначаныя значэньні для дастасаваньняў GStreamer
Comment[be@latin]=Kanfihuruj zmoŭčanyja nałady dla aplikacyjaŭ, abapiertych na GStreamer
Comment[bg]=Настройки по подразбиране за програмите основани на GStreamer
Comment[bn]=GStreamer অ্যাপ্লিকেশনের জন্য ডিফল্ট মান কনফিগার করুন
Comment[bn_IN]=GStreamer অ্যাপ্লিকেশনের জন্য ডিফল্ট মান কনফিগার করুন
Comment[bs]=Postavi uobičajene postavkeza GStreamer program
Comment[ca]=Configura els valors predeterminats per a les aplicacions GStreamer
Comment[ca@valencia]=Configura els valors predeterminats per a les aplicacions GStreamer
Comment[cs]=Nastavit výchozí hodnoty aplikací systému GStreamer
Comment[cy]=Cyflunio rhagosodiadau ar gyfer rhaglenni GStreamer
Comment[da]=Konfigurér forvalgte værdier for GStreamer-programmer
Comment[de]=Die Vorgaben für GStreamer-Anwendungen festlegen
Comment[dz]=ཇི་སི་ཊི་མར་གྱི་ གློག་རིམ་དོན་ལུ་ སྔོན་སྒྲིག་རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση προεπιλεγμένων επιλογών για εφαρμογές GStreamer
Comment[en_CA]=Configure defaults for GStreamer applications
Comment[en_GB]=Configure defaults for GStreamer applications
Comment[es]=Configurar predeterminados para aplicaciones Gstreamer
Comment[et]=GStreamer rakenduste vaikeseadete määramine
Comment[eu]=Konfiguratu GStreamer-en aplikazioen lehenespenak
Comment[fa]=پیکربندی پیش‌فرض‌ها برای برنامه‌های GStreamer
Comment[fi]=Aseta GStreamer-sovellusten oletusarvot
Comment[fr]=Configurer les valeurs par défaut pour les applications GStreamer
Comment[gl]=Configurar as configuracións predefinidas para os aplicativos GStreamer
Comment[gu]=GStreamer કાર્યક્રમો માટે મૂળભૂત રૂપરેખાંકન કરો
Comment[he]=הגדר ברירות מחדל ליישומי GStreamer
Comment[hi]=जी-स्ट्रीमर अनुप्रयोगों हेतु डिफ़ॉल्ट्स कॉन्फ़िगर करें 
Comment[hr]=Postavi uobičajena podešavanja za GStrimer aplikacije
Comment[hu]=A GStreamer-alkalmazások alapbeállításainak módosítása
Comment[id]=Konfigurasikan nilai awal pada aplikasi GStreamer
Comment[it]=Configurazione delle impostazioni predefinite per le applicazioni GStreamer
Comment[ja]=GStreamer を使用するアプリのデフォルト値を設定します
Comment[kn]=GStreamer ಅನ್ವಯಗಳಿಗಾಗಿನ ಡೀಫಾಲ್ಟನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=GStreamer 프로그램의 기본값을 설정합니다
Comment[ku]=Ji bo sepanên GStremar mîhengên standard veava bike
Comment[lt]=Keisti numatytuosius GStreamer programų nustatymus
Comment[lv]=Konfigurācijas noklusējumi GStreamer aplikācijām
Comment[mai]=जी-स्ट्रीमर अनुप्रयोग लेल मूलभूत कॉन्फ़िगर करू
Comment[mg]=Manefy ny sanda tsotran'ny rindranasa GStreamer
Comment[mk]=Постави ги стандардните параметри за апликациите GStreamer
Comment[ml]=GStreamer പ്രയോഗങ്ങള്‍ക്കു് സ്വതവേയുള്ളവ ക്രമീകരിക്കുക
Comment[mn]=GStreamer програмуудын анхдагч утгыг тогтоох
Comment[mr]=जी-स्ट्रीमर अनुप्रयोग करीता तपशील संयोजीत करा
Comment[ms]=Konfigurasi default bagi aplikasi GStreamer
Comment[nb]=Konfigurer forvalgte verdier for GStreamer-programmer
Comment[ne]=जिस्ट्रिमर अनुप्रयोगका लागि पूर्वनिर्धारण कन्फिगर गर्नुहोस्
Comment[nl]=Standaardinstellingen configureren voor GStreamer-toepassingen
Comment[nn]=Set opp standardverdiar for GStreamer-program
Comment[or]=ଜିସ୍ଟ୍ରୀମର ଅନୁପ୍ରୟୋଗଗୁଡ଼ିକ ପାଇଁ ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଲ୍ଯ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=GStreamer ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਸੰਰਚਨਾ ਮੂਲ
Comment[pl]=Domyślne ustawienia programów opartych na GStreamer
Comment[pt]=Configurar omissões para as aplicações GStreamer
Comment[pt_BR]=Configure padrões para os aplicativos GStreamer
Comment[ro]=Configurări implicite pentru aplicațiile GStreamer
Comment[ru]=Настройка приложений GStreamer по умолчанию
Comment[sk]=Nastaviť predvolené hodnoty pre aplikácie GStreamer
Comment[sl]=Privzete nastavitve za programe GStreamer
Comment[sq]=Sjellja e paracaktuar për aplikativët GStreamer
Comment[sr]=Постави уобичајена подешавања за ГСтример програме
Comment[sr@latin]=Postavi uobičajena podešavanja za GStrimer programe
Comment[sv]=Konfigurera standardalternativ för GStreamer-program
Comment[ta]=Gஉள்ளமை
Comment[te]=GStreamer అప్లికేషన్ కొరకు అప్రమేయాలను ఆకృతీకరించండి
Comment[th]=กำหนดค่าปริยายสำหรับโปรแกรม GStreamer
Comment[tr]=GStreamer uygulamaları için öntanımlı ayarları yapılandır
Comment[uk]=Налаштовування параметрів програм GStreamer
Comment[vi]=Cấu hình mặc định cho các ứng dụng GStreamer
Comment[xh]=Ukwakha imimiselo yenkqubo yeGStreamer
Comment[zh_CN]=配置 GStreamer 应用程序的默认值
Comment[zh_HK]=修改 GStreamer 應用程式的預設設定
Comment[zh_TW]=修改 GStreamer 應用程式的預設設定
TryExec=gstreamer-properties
Exec=gstreamer-properties
Icon=gstreamer-properties
StartupNotify=true
Terminal=false
NoDisplay=true
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;DesktopSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gstreamer-properties
X-GNOME-Bugzilla-Version=2.30.0
X-Desktop-File-Install-Version=0.16
