[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Tali
Name[af]=Tali
Name[ar]=تالي
Name[as]=টালী
Name[ast]=Tali
Name[az]=Tali
Name[bg]=Генерал
Name[bn]=টালী
Name[bn_IN]=টালী
Name[br]=Tali
Name[ca@valencia]=Tali
Name[ca]=Tali
Name[cs]=Tali
Name[cy]=Tali
Name[da]=Yatzy
Name[de]=Tali
Name[dz]=ཊ་ལི།
Name[el]=Τάλι
Name[en_CA]=Tali
Name[en_GB]=Tali
Name[es]=Tali
Name[et]=Tali
Name[eu]=Tali
Name[fa]=تالی
Name[fi]=Tali
Name[fr]=Tali
Name[ga]=Tali
Name[gl]=Tali
Name[gu]=તાલી
Name[he]=טאלי
Name[hi]=ताली
Name[hr]=Jamb
Name[hu]=Tali
Name[id]=Tali
Name[is]=Tali
Name[it]=Tali
Name[ja]=Tali
Name[km]=Tali
Name[kn]=ಟಾಲಿ
Name[ko]=탈리
Name[lt]=Tali
Name[lv]=Tali
Name[mai]=ताली
Name[mk]=Tali
Name[ml]=ടാലി
Name[mn]=Тали
Name[mr]=टाली
Name[ms]=Tali
Name[nb]=Tali
Name[ne]=ताली
Name[nl]=Tali
Name[nn]=Tali
Name[oc]=Tali
Name[or]=ଟାଲି
Name[pa]=ਟੇਲੀ
Name[pl]=Kości
Name[pt]=Tali
Name[pt_BR]=Tali
Name[ro]=Tali
Name[ru]=Тали
Name[si]=දාදුකැට
Name[sk]=Tali
Name[sl]=Tali
Name[sq]=Tali
Name[sr@Latn]=Jamb
Name[sr@latin]=Jamb
Name[sr]=Јамб
Name[sv]=Tali
Name[ta]=தலி
Name[te]=తాలి
Name[th]=Tali
Name[tr]=Tali
Name[uk]=Кістяний покер
Name[vi]=Tali
Name[wa]=Tali
Name[xh]=i-Tali
Name[zh_CN]=掷骰子
Name[zh_HK]=骰子遊戲
Name[zh_TW]=骰子遊戲
GenericName=Board Game
GenericName[af]=Bordspeletjie
GenericName[cs]=Desková hra
GenericName[da]=Brætspil
GenericName[de]=Brettspiel
GenericName[el]=Επιτραπέζιο Παιχνίδι
GenericName[es]=Juego de tablero
GenericName[et]=Lauamäng
GenericName[fi]=Lautapeli
GenericName[fr]=Jeu de plateau
GenericName[hu]=Táblajáték
GenericName[it]=Gioco da tavolo
GenericName[ja]=ボードゲーム
GenericName[km]=ល្បែង​ក្ដារ
GenericName[ko]=보드 게임
GenericName[lt]=Stalo žaidimas
GenericName[mr]=पटावर खेळण्याचा खेळ
GenericName[nb]=Brettspill
GenericName[nl]=Bordspel
GenericName[pa]=ਬੋਰਡ ਖੇਡ
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Tabuleiro
GenericName[pt_BR]=Jogo de Tabuleiro
GenericName[ru]=Настольная игра
GenericName[sv]=Brädspel
GenericName[uk]=Гра на дошці
GenericName[wa]=Djeu d' platea
GenericName[xh]=Umdlalo Webhodi
GenericName[zh_CN]=棋盘游戏
GenericName[zh_TW]=棋盤遊戲
Comment=Beat the odds in a poker-style dice game
Comment[af]=Speel ’n pokerstyldobbelspeletjie
Comment[ar]=العب لعبة نرد بأسلوب لعبة البوكر
Comment[as]=Beat the odds in a poker-style dice game
Comment[ast]=Gana a les probabilidaes nún xuegu de póker de daos
Comment[bg]=Победи шанса в игра със зарове подобна на покер
Comment[bn]=একটি পোকার স্টাইল ডাইস খেলায় বিজোড় কে বীট করে
Comment[ca@valencia]=Jugueu a un joc de daus similar al pòquer
Comment[ca]=Jugueu a un joc de daus similar al pòquer
Comment[cs]=Hrajte hru s kostkami ve stylu pokeru
Comment[cy]=Trechu'r ods mewn gêm dis sy'n debyg i bocer
Comment[da]=Spil et pokerlignende terningspil
Comment[de]=Ein an Poker angelehntes Würfelspiel spielen
Comment[dz]=པོ་ཀར་བཟོ་རྣམ་གྱི་ ཤོ་རྩེད་ཐོག་ལས་ ཡ་ཅན་ཚུ་ལུ་བརྡུངས།
Comment[el]=Παίξτε ένα παιχνίδι με ζάρια, αντίστοιχο του πόκερ
Comment[en@shaw]=𐑚𐑰𐑑 𐑞 𐑪𐑛𐑟 𐑦𐑯 𐑩 𐑐𐑴𐑒𐑼-𐑕𐑑𐑲𐑤 𐑛𐑲𐑕 𐑜𐑱𐑥
Comment[en_GB]=Beat the odds in a poker-style dice game
Comment[es]=Juegue con los dados al estilo del póquer
Comment[et]=Pokkerilaadne täringumäng
Comment[eu]=Jokatu pokerraren antzeko dado-jokoan
Comment[fi]=Voita todennäköisyydet pokeri-tyylisessä noppapelissä
Comment[fr]=Jeter des dés à la manière du poker
Comment[gl]=Venza as probabilidades nun xogo de póker de dados
Comment[gu]=પોકર-શૈલી ડાઈસ રમતમાં એકી સંખ્યાવાળાને હરાવો
Comment[he]=נצח את המזל במשחק קוביות בסגנון פוקר
Comment[hi]=पोकर जैसे पाँसे का खेल में विषम परिस्थितियों पर विजय पायें
Comment[hu]=Győzze le az esélyeket egy póker stílusú kockajátékban
Comment[id]=Mainkan taruhan dalam permainan dadu gaya poker
Comment[it]=Batti gli avversari in un gioco coi dadi simile al poker
Comment[ja]=ポーカー・スタイルのダイス・ゲームを楽しんで下さい
Comment[km]=លែង​ល្បែង​គ្រាប់​ឡុកឡាក់​ប្រភេទ​ជា​បៀផែ
Comment[kn]=ಪೋಕರ್ ಶೈಲಿಯ ದಾಳದ ಆಟದಲ್ಲಿ ಎದುರಾಳಿಗಳನ್ನು ಸೋಲಿಸಿ
Comment[ko]=포커 방식의 주사위 게임에서 상대방을 물리치십시오
Comment[lt]=Žaiskite pokerio stiliaus kauliukų žaidimą
Comment[lv]=Izmēģiniet laimi pokera tipa kauliņu spēlē
Comment[mai]=पोकर जहिना पाँसा क' खेलमे विषम परिस्थिति पर विजय पाउ
Comment[mk]=Играјте игра со коцки која наликува на покер
Comment[mr]=पोकरसारख्या फास्यांच्या खेळात परीस्थीतीत विजय मिळवा
Comment[nb]=Spill mot oddsen i et poker-lignende terningspill
Comment[ne]=पोकर शैली पासा खेलमा बिजोर बिट गर्नुहोस्
Comment[nl]=Probeer je geluk in een dobbelspel in pokerstijl
Comment[nn]=Spel mot oddsen i eit pokerliknande terningspel
Comment[or]=ଗୋଟିଏ ପୋକର ପରି ପଶା ଖେଳରେ ବିଷମଗୁଡିକୁ ହରାଅ ୤
Comment[pa]=ਪੌਕਰ ਸ਼ੈਲੀ ਵਾਲੀ ਗੀਟੀ ਖੇਡ ਵਿੱਚ ਟਾਂਕ ਬੀਟ
Comment[pl]=Gra w kości w stylu pokera
Comment[pt]=Vença as probabilidades num jogo de dados estilo poker
Comment[pt_BR]=Vença as probabilidades em um jogo de dados parecido com pôquer
Comment[ro]=Încearcă-ți șansele într-un joc de zaruri de tip poker
Comment[ru]=Сыграйте в кости в стиле покера
Comment[sl]=Premagaj verjetnost v poker igri s kockami
Comment[sr@latin]=Pobedi protivnike u igri sa kockicama nalik na poker
Comment[sr]=Победи противнике у игри са коцкицама налик на покер
Comment[sv]=Spela ett pokerliknande tärningsspel
Comment[ta]=போக்கர்-பாணி தாய விளையாட்டை விளையாடவும்
Comment[te]=పోకర్-స్టైల్ డైస్ ఆటనందు బేసిలను బీట్ చేయుము
Comment[th]=แข่งเก็บแต้มในเกมลูกเต๋าแบบโป๊กเกอร์
Comment[tr]=Poker stili zar oyunu oyunu için tekleri yenin
Comment[uk]=Бити решту у грі в кості в стилі покеру
Comment[vi]=Chơi súc sắc kiểu bài xì — chắc thắng nhé
Comment[wa]=Djouwer a ene sôre di poker ås dés
Comment[xh]=Dlala umdlalo wamadayisi osabuphowuka
Comment[zh_CN]=一种类似扑克的的骰子游戏
Comment[zh_HK]=玩類似撲克的骰子遊戲
Comment[zh_TW]=玩類似撲克的骰子遊戲
Icon=gnome-tali
TryExec=/usr/bin/gtali
Exec=gtali
Terminal=false
Categories=Game;CardGame;GNOME;GTK;
StartupNotify=true
DocPath=gtali
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.30.2
X-AppInstall-Package=gnome-games
X-AppInstall-Popcon=5182
X-AppInstall-Section=main
X-SuSE-added=GenericName,nb;GenericName,pt;GenericName,ko;GenericName,wa;GenericName,cs;GenericName,af;GenericName,pt_BR;GenericName,uk;GenericName,nl;GenericName,et;GenericName,da;GenericName,pa;GenericName,zh_CN;GenericName,mr;GenericName,sv;GenericName,el;GenericName,fi;GenericName,es;GenericName,km;GenericName,lt;GenericName,ja;GenericName,it;GenericName,pl;GenericName,hu;GenericName,ru;GenericName,fr;GenericName,xh;GenericName,de;GenericName,zh_TW;Comment,nb;Comment,pt;Comment,ko;Comment,wa;Comment,cs;Comment,af;Comment,pt_BR;Comment,uk;Comment,nl;Comment,da;Comment,pa;Comment,zh_CN;Comment,mr;Comment,sv;Comment,el;Comment,fi;Comment,es;Comment,km;Comment,ja;Comment,it;Comment,pl;Comment,hu;Comment,ru;Comment,fr;Comment,xh;Comment,de;Comment,zh_TW;Name,af;Name,sk;Name,km;Name,el;
X-SuSE-translate=true
