[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GTKsubtitler
GenericName=Subtitler
Comment=Program for editing and converting DivX subtitles
Icon=video
TryExec=GTKsubtitler
Exec=GTKsubtitler
Terminal=false
Categories=AudioVideo;
StartupNotify=false
