[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gxmessage
GenericName=gxmessage
Comment=A GTK2 based xmessage clone.
Comment[cs]=Klon xmessage postavený na knihovně GTK2.
Icon=gxmessage
TryExec=gxmessage
Exec=gxmessage
Terminal=false
Categories=Utility;
StartupNotify=false
X-Arch-Package=gxmessage-gtk2 2.20.1-1
X-Arch-Package-Name=gxmessage-gtk2
X-Arch-Package-Version=2.20.1-1
X-Arch-Package-Description=A GTK2 based xmessage clone for GTK2.
X-Arch-Package-URL=http://homepages.ihug.co.nz/~trmusson/programs.html#gxmessage
