[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Input Method
Name[as]=নিবেশ পদ্ধতি
Name[bn_IN]=ইনপুট পদ্ধতি
Name[ca]=Mètode d'entrada
Name[da]=Indtastningsmetode
Name[de]=Eingabemethode
Name[el]=Μέθοδος εισαγωγής
Name[en_GB]=Input Method
Name[es]=Método de Entrada
Name[fr]=Méthode de saisie
Name[gu]=ઈનપુટ પદ્ધતિ
Name[hi]=इनपुट विधि
Name[hr]=Način unosa
Name[hu]=Beviteli módszer
Name[it]=Input Method
Name[ja]=入力メソッド
Name[kn]=ಆದಾನ ಕ್ರಮ
Name[ko]=입력 방식
Name[lv]=Ievades veids
Name[ml]=ഇന്‍പുട്ട് രീതി
Name[mr]=आदान पद्धती
Name[ms]=Kaedah Masukan
Name[nl]=Invoermethode
Name[or]=ନିବେଶ ପ୍ରଣାଳୀ
Name[pa]=ਇੰਪੁੱਟ ਵਿਧੀ
Name[pl]=Metoda wejścia
Name[pt]=Método de Introdução de Dados
Name[pt_BR]=Método de Entrada
Name[ro]=Metodă de introducere
Name[ru]=Метод ввода
Name[si]=අක්‍ෂර ඇතුලත් කිරීමේ ක්‍රමය
Name[sk]=Vstupná metóda
Name[sl]=Vnosne metode
Name[sr@Latn]=Metod unosa
Name[sr]=Метод уноса
Name[sv]=Inmatningsmetod
Name[ta]=உள்ளீடு முறை
Name[te]=ఇన్పుట్ విధానం
Name[tr]=Giriş Yöntemi
Name[zh_CN]=输入法
Name[zh_TW]=輸入法
Comment=Input Method configuration tool to choose the Input Method to be used or disable Input Method usage on the desktop
Comment[as]=নিবেশ পদ্ধতি বিন্যাস সৰঞ্জাম ব্যৱহাৰ কৰা নিবেশ পদ্ধতি নিৰ্ব্বাচন কৰিব'লৈ বা ডেষ্কট'পত নিবেশ পদ্ধতিৰ ব্যৱহাৰ অসমৰ্থ কৰক ।
Comment[bn_IN]=ডেস্কটপে ব্যবহারযোগ্য ইনপুট পদ্ধতি নির্ধারণ অথবা ইনপুট পদ্ধতি নিষ্ক্রিয় করতে ব্যবহৃত কনফিগারেশনের সামগ্রী।
Comment[ca]=Eina de configuració del mètode d'entrada, per a escollir el mètode d'entrada que es farà servir o per a inhabilitar-ne l'ús
Comment[da]=Værktøj for konfiguration af indtastningsmetode til at vælge hvilken indtastningsmetode som skal bruges, eller deaktivér brug af indtastningsmetode på skrivebordet
Comment[de]=Das Konfigurationstool für die Eingabemethode, um die zu verwendende Eingabemethode auszuwählen, oder die Verwendung von Eingabemethoden auf dem Desktop zu deaktivieren
Comment[el]=Εργαλείο ρύθμισης μεθόδου εισαγωγής για να επιλέξετε τη μέθοδο εισαγωγής χαρακτήρων της οποίας θα γίνει χρήση ή να απενεργοποιήσετε τη χρήση μεθόδων εισαγωγής στην επιφάνεια εργασίας.
Comment[en_GB]=Input Method configuration tool to choose the Input Method to be used or disable Input Method usage on the desktop
Comment[es]=Herramienta de configuración del Método de Entrada para elección del mismo o para deshabilitar el uso de métodos de entrada en el escritorio
Comment[fr]=Outil de configuration de méthode de saisie pour choisir la méthode à utiliser ou pour désactiver l'utilisation de méthodes de saisie sur le système.
Comment[gu]=ડેસ્કટોપ પર વાપરવાની ઈનપુટ પદ્ધતિ પસંદ કરવાનું કે તેને નિષ્ક્રિય કરવાનું ઈનપુટ પદ્ધતિ રૂપરેખાંકન સાધન
Comment[hi]=इनपुट विधि विन्यास औजार को प्रयोग किये जाने के लिये इनपुट विधि चुनना है या डेस्कटॉप पर इनपुट विधि प्रयोग को निष्क्रिय करना है
Comment[hr]=Konfiguracijski alat Načina Unosa ima namjenu odabira načina unosa koji će biti upotrebljavan ili onemogućavanja upotrebe načina unosa na radnoj površini
Comment[hu]=Bevitelimódszer-beállító - a használandó beviteli módszer kiválasztása, illetve a beviteli módszerek használatának kikapcsolása
Comment[it]=Tool di configurazione dell'Input Method per selezionare l'input method da utilizzare o per disabilitare l'input method sul desktop.
Comment[ja]=デスクトップ上で使われる入力メソッドの選択もしくは無効にするための入力メソッド設定ツールです。
Comment[kn]=ಗಣಕ ಪರದೆಯನ್ನು ಉಪಯೋಗಿಸುವಾಗ, ಆದಾನಕ್ರಮವನ್ನು ಉಪಯೋಗಿಸಬೇಕೆ ಅಥವಾ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸ ಬೇಕೆ ಎಂಬುದನ್ನು ಆದಾನ ಕ್ರಮ ಸ್ವರೂಪಣಾ ಉಪಕರಣವು ಆಯ್ಕೆಮಾಡುತ್ತದೆ
Comment[ko]=데스크탑에서 입력 방식 사용을 비활성화하거나 또는 사용할 입력 방식 선택을 위한 입력 방식 설정 도구
Comment[lv]=Ievades Menedžera konfigurācijas rīks ļaus izvēlēties ievades veidu vai atslēgt ievadi uz darba galda
Comment[ml]=ഏത് ഇന്‍പുട്ട് രീതി ഉപയോഗിക്കണം അല്ലെങ്കില്‍ ഡസ്ക്-ടോപ്പിലുളള ഇന്‍പുട്ട് രീതിയുടെ ഉപയോഗം അപ്രാപ്യമാക്കുക എന്നതിനെല്ലാം ഉപയോഗിക്കുന്ന സംവിധാനമാണ് ഇന്‍പുട്ട് രീതി ക്രമീകരണത്തിനുളള ഉപകരണം.
Comment[mr]=वापरावयाची आदान पद्धती निवडण्याचे किंवा डेस्कटॉपवर आदान पद्धतीचा वापर अकार्यक्षम करण्याचे आदान पद्धती व्यूहरचना उपकरण
Comment[ms]=Alatan tetapan Kaedah Masukan untuk memilih Kaedah Masukan yang akan digunakan atau mematikan penggunaan Kaedah Masukan pada desktop
Comment[nl]=Invoermethode configuratiehulpmiddel om de te gebruiken invoermethode te kiezen of om het gebruik van invoermethodes uit te schakelen voor het bureaublad
Comment[or]=ନିବେଶ ପ୍ରଣାଳୀକୁ ଚୟନ କରୁଥିବା ନିବେଶ ପ୍ରଣାଳୀ ବିନ୍ଯାସ ଉପକରଣକୁ ବ୍ଯବହାର କରନ୍ତୁ କିମ୍ବା ଡେସ୍କଟପରେ ନିବେଶ ପ୍ରଣାଳୀର ବ୍ଯବହାର ବିଧିକୁ ନିଷ୍କ୍ରିୟ କରନ୍ତୁ
Comment[pa]=ਇੰਪੁੱਟ ਵਿਧੀ ਚੁਣਨ ਜਾਂ ਡਿਸਕਟਾਪ ਉੱਪਰ ਇੰਪੁੰਟ ਵਿਧੀ ਵਰਤੋਂ ਅਯੋਗ ਕਰਨ ਲਈ ਇੰਪੁੱਟ ਵਿਧੀ ਸੰਰਚਨਾ ਜੰਤਰ
Comment[pl]=Narzędzie konfiguracji metody wejścia pozwala wybrać używaną metodę wejścia lub ją wyłączyć w środowisku
Comment[pt]=Uma ferramenta para escolher o Método de Introdução de Dados a usar ou para desactivar a utilização de Métodos de Introdução de Dados no ambiente de trabalho
Comment[pt_BR]=Ferramenta de configuração para escolher ou desabilitar o método de entrada a ser usado na área de trabalho
Comment[ro]=Unealtă pentru configurarea metodei de introducere pe care o folosiţi sau pentru a dezactiva utilizarea metodelor de introducere.
Comment[ru]=Утилита настройки метода ввода позволяет выбрать метод ввода или вообще отключить использование метода ввода.
Comment[si]=පද්ධතිය තුල හෝ ඩෙස්ක්ටොප් එක මත භාවිත කල යුතු අක්‍ෂර ඇතුලත් කිරීමේ ක්‍රමය තෝරාගැනීම සඳහා වන මානකරන උපකරණය.ා
Comment[sk]=Nástroj nastavenia vstupnej metódy na voľbu používanej vstupnej metódy alebo pre zakázanie používania vstupnej metódy na počítači
Comment[sl]=Izbirnik vnosnih metod s katerim lahko ali nastavite želene vnosne metode ali pa jih izklopite.
Comment[sr@Latn]=Alat za podešavanje metoda unosa vrši izbor metoda unosa za upotrebu ili isključivanje upotrebe metoda unosa u radnom okruženju
Comment[sr]=Алат за подешавање метода уноса врши избор метода уноса за употребу или искључивање употребе метода уноса у радном окружењу
Comment[sv]=Verktyg för konfiguration av inmatningsmetod för att välja vilken inmatningsmetod som ska användas eller inaktivera användning av inmatningsmetod på skrivbordet
Comment[ta]=உள்ளீடு முறை கட்டமைப்பு கருவி உள்ளிடு முறையை பயன்படுத்த அல்லது உள்ளீடு முறை பயன்பாட்டை பணிமேடையில் செயல்நீக்க பயன்படுகிறது
Comment[te]=డెస్కుటాప్ యందు ఇన్పుట్ విధానాన్ని ఉపయోగించటానికి ఉపయోగించ కుండా ఉండటానికి ఇన్పుట్ విధానంఎన్నిక చేయటానికి ఉపయోగించే ఇన్పుట్ విధాన ఆకృతీకరణ సాధనం
Comment[zh_CN]=输入法配置工具被用来选择要使用的输入法，或在系统上禁用输入法。
Comment[zh_TW]=輸入法設定工具可以用來選擇輸入法，或停用桌面環境所使用的輸入法
Icon=im-chooser.png
TryExec=im-chooser
Exec=im-chooser
Terminal=false
Categories=Settings;Applications;
StartupNotify=true
X-AppInstall-Package=im-chooser
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package-Name=im-chooser
X-Arch-Package-Version=1.6.4-2
X-Arch-Package-Description=GUI configuration tool for IMSettings
X-Arch-Package-URL=https://fedorahosted.org/im-chooser/
