[Desktop Entry]
X-AppInstall-Package=lbreakout2
X-AppInstall-Popcon=90
X-AppInstall-Section=main

Name=LBreakout2
Version=2.6
Comment=A ball-and-paddle game with nice graphics.
Exec=/usr/games/lbreakout2
Icon=lbreakout2.xpm
Type=Application
Categories=Application;Game;
