[Desktop Entry]
Type=Application
Name=Preferred Applications
Name[bg]=Предпочитани програми
Name[bn]=পছন্দনীয় অ্যাপ্লিকেশন
Name[ca]=Aplicacions preferides
Name[cs]=Preferované aplikace
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες εφαρμογές
Name[en_GB]=Preferred Applications
Name[es]=Aplicaciones preferidas
Name[fa]=نرم‌افزارهای برگزیده
Name[fi]=Oletussovellukset
Name[fo]=Framumtiknar nýtsluskipanir
Name[fr]=Applications favorites
Name[gl]=Aplicativos preferidos
Name[he]=יישומים מועדפים
Name[hr]=Željeni programi
Name[hu]=Alapértelmezett alkalmazások
Name[id]=Aplikasi Pilihan
Name[it]=Applicazioni Preferite
Name[ja]=既定のアプリケーション
Name[lt]=Pageidautinos programos
Name[nl]=Aanbevolen Programma's
Name[pl]=Preferowane programy
Name[pt]=Aplicações preferidas
Name[pt_BR]=Aplicativos preferidos
Name[ru]=Предпочтительные приложения
Name[sk]=Odporúčané aplikácie
Name[sl]=Privzeti programi
Name[sr]=Подразумевани програми
Name[sr@latin]=Podrazumevani programi
Name[sv]=Program
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Улюблені програми
Name[vi]=Các ứng dụng ưa thích
Name[zh_TW]=偏好的應用程式
Icon=preferences-desktop
Exec=libfm-pref-apps
StartupNotify=true
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
NotShowIn=GNOME;XFCE;KDE;
