[Desktop Entry]
Version=0.9.4
Encoding=UTF-8
Type=Application
Name=Liferea Feed Reader
Name[af]=Liferea
Name[ar]=قارئ التلقيمات لايفريا
Name[be@latin]=Hartač RSS Liferea
Name[bg]=Liferea
Name[cs]=Čtečka kanálů Liferea
Name[da]=Liferea
Name[de]=Liferea Feedreader
Name[el]=Ανάγνωση ροών Liferea
Name[es]=Liferea, lector de noticias
Name[et]=Liferea
Name[eu]=Liferea iturri irakurlea
Name[fi]=Liferea
Name[fr]=Lecteur de flux Liferea
Name[gl]=Liferea
Name[hu]=Liferea hírforrásolvasó
Name[it]=Lettore notiziari Liferea
Name[ja]=Liferea フィード・リーダ
Name[km]=Liferea
Name[ko]=Liferea
Name[mr]=लिफेरिया
Name[nb]=Liferea
Name[nl]=Liferea - Linux Feed Reader
Name[pa]=Liferea
Name[pl]=Czytnik Wiadomości RSS Liferea
Name[pt]=Leitor de Fontes Liferea
Name[pt_BR]=Agregador de Notícias Liferea
Name[ro]=Cititor fluxuri Liferea
Name[ru]=Новостной агрегатор Liferea
Name[sk]=Liferea - čítačka kanálov
Name[sq]=Lexuesi i Prurjeve Liferea
Name[sv]=Nyhetsläsaren Liferea
Name[tr]=Liferea Haber Okuyucusu
Name[uk]=Liferea
Name[xh]=i-Liferea
Name[zh_CN]=Lifeera Feed 阅读器
Name[zh_TW]=Liferea
GenericName=Feed Reader
GenericName[af]=Voerleser
GenericName[ar]=قارئ تلقيمات
GenericName[be@latin]=Hartač RSS
GenericName[bg]=Feed четец
GenericName[ca]=Lector de canals de notícies
GenericName[cs]=Čtečka kanálů
GenericName[cs_CZ]=Čtečka kanálů
GenericName[da]=Feedlæser
GenericName[de]=Feedreader
GenericName[el]=Ανάγνωση ροών
GenericName[es]=Lector de noticias
GenericName[et]=Uudistevoogude lugeja
GenericName[eu]=Iturri irakurlea
GenericName[fi]=Syötelukija
GenericName[fr]=Lecteur de flux
GenericName[hu]=Hírforrásolvasó
GenericName[it]=Lettore notiziari
GenericName[ja]=フィード・リーダ
GenericName[km]=កម្មវិធី​អាន​មតិ​ព័ត៌មាន
GenericName[ko]=피드 리더
GenericName[mr]=फीड वाचक
GenericName[nb]=Nyhetstelegraf
GenericName[nl]=Feedlezer
GenericName[pa]=ਫੀਡ ਰੀਡਰ
GenericName[pl]=Czytnik wiadomości
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de Fontes de Notícias
GenericName[ro]=Cititor fluxuri
GenericName[ru]=Чтение новостей
GenericName[sk]=Čítačka kanálov
GenericName[sq]=Lexues Prurjesh
GenericName[sv]=Nyhetsläsare
GenericName[ta]=இனப்பெயர்(லைஃப்ரியா.டெஸ்க்டாப்): ஃபீட் ரீடர்
GenericName[tr]=Haber Okuyucusu
GenericName[uk]=Читач подач
GenericName[xh]=Umfundi Onikelayo
GenericName[zh_CN]=Feed 阅读器
GenericName[zh_TW]=Feed 讀取器
Comment=Download and view feeds
Comment[af]=Laai af en kyk na voer
Comment[ar]=نزّل واعرض التلقيمات
Comment[be@latin]=Atrymvaj i ahladaj kanały RSS
Comment[bg]=Сваляне и преглед на feeds
Comment[ca]=Baixeu i visualitzeu canals de notícies
Comment[cs]=Stahovat a prohlížet novinkové kanály
Comment[cs_CZ]=Stáhnout a zobrazit kanály
Comment[da]=Download og vis feeds
Comment[de]=Herunterladen und Anzeigen von Feeds
Comment[el]=Λήψη και προβολή ροών
Comment[es]=Descarga y muestra noticias
Comment[eu]=Deskargatu eta ikusi iturriak
Comment[fi]=Lataa ja katsele syötteitä
Comment[fr]=Télécharger et voir des flux
Comment[hu]=Hírforrások letöltése és megjelenítése
Comment[it]=Scarica e visualizza notiziari
Comment[ja]=配信元をダウンロードして表示します
Comment[km]=ទាញយក និង​មើល​មតិព័ត៌មាន
Comment[ko]=feed 다운로드/보기
Comment[mr]=फीड्स डाऊनलोड करा व पहा.
Comment[nb]=Last ned og vis nyhetskanaler
Comment[nl]=Feeds downloaden en bekijken
Comment[pa]=ਫੀਡ ਡਾਊਨਲੋਡ ਅਤੇ ਵਿਊ
Comment[pl]=Subskrybuj kanały informacyjne
Comment[pt]=Transferir e exibir fontes
Comment[pt_BR]=Download e exibir fontes de notícias
Comment[ro]=Descarcă și vizualizează fluxuri
Comment[ru]=Чтение новостей
Comment[sk]=Stiahnuť a zobraziť kanály
Comment[sq]=Shkarkoji dhe shfaqi prurjet
Comment[sv]=Hämta och visa kanaler
Comment[ta]=கருத்துரை(லைஃப்ரியா.டெஸ்க்டாப்): உணவுகளை தகவலிறக்கம் செய்து காணல்
Comment[tr]=Haber kaynaklarını indir ve görüntüle
Comment[uk]=Звантаження і перегляд подач
Comment[xh]=Thula umthwalo uze ubone okungeniswayo
Comment[zh_CN]=下载并查看 Feed
Comment[zh_TW]=下載和檢視 feed
Icon=liferea
TryExec=liferea
Exec=liferea
Terminal=false
Categories=Network;News;
StartupNotify=true
X-AppInstall-Package=liferea
X-AppInstall-Popcon=3005
X-AppInstall-Section=main
X-Arch-Package-Name=liferea
X-Arch-Package-Version=1.10.15-2
X-Arch-Package-Description=A desktop news aggregator for online news feeds and weblogs
X-Arch-Package-URL=http://liferea.sourceforge.net/
X-SuSE-added=GenericName,pa;GenericName,ta;GenericName,et;GenericName,zh_TW;GenericName,af;GenericName,sk;GenericName,nl;GenericName,hu;GenericName,xh;GenericName,mr;GenericName,nb;GenericName,el;GenericName,fi;GenericName,ko;GenericName,uk;GenericName,cs;GenericName,zh_CN;GenericName,bg;GenericName,km;GenericName,da;Comment,pa;Comment,ta;Comment,zh_TW;Comment,af;Comment,sk;Comment,nl;Comment,hu;Comment,xh;Comment,mr;Comment,nb;Comment,el;Comment,fi;Comment,ko;Comment,uk;Comment,cs;Comment,zh_CN;Comment,bg;Comment,km;Comment,da;Name,pa;Name,fr;Name,et;Name,it;Name,zh_TW;Name,af;Name,nl;Name,es;Name,hu;Name,xh;Name,mr;Name,nb;Name,el;Name,ja;Name,pt;Name,sv;Name,de;Name,fi;Name,ko;Name,uk;Name,cs;Name,zh_CN;Name,bg;Name,pl;Name,km;Name,ru;Name,pt_BR;Name,da;Name,gl;Comment,ru;Comment,pt_BR;Comment,ja;Comment,de;GenericName,ru;GenericName,ja;
X-SuSE-translate=true
