[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Loopy
Comment=Draw lines around a digit according to the number in it
Comment[de]=Zeichne Linien um eine Ziffer entsprechend der enthaltenen Zahl
Comment[fr]=Dessiner autour d'un digit le nombre de lignes correspondantes
Icon=loopy
TryExec=/usr/bin/loopy
Exec=loopy
Terminal=false
Categories=Game;LogicGame;
StartupNotify=false
X-AppInstall-Package=loopy
X-AppInstall-Popcon=9
X-AppInstall-Section=main
X-Arch-Package-Name=loopy
X-Arch-Package-Version=0.5.3-1
X-Arch-Package-Description=Simple video player for KDE, based on the phonon libraries.
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://kde-apps.org/content/show.php/Loopy?content=120880
X-Arch-Package-Votes=9
