[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ScreenLock
Name[es]=Bloqueo de pantalla
Name[pt_BR]=Bloquear tela
Name[ru]=Блокировка экрана
Name[tr]=ScreenLock
Name[uk]=Блокування екрану
Name[zh_TW]=鎖住螢幕
Comment=Lock your screen
Comment[es]=Bloquear pantalla
Comment[pt_BR]=Bloqueie sua tela
Comment[ru]=Заблокировать экран
Comment[tr]=Ekranı kilitle
Comment[uk]=Заблокувати екран
Icon=system-lock-screen
TryExec=lxlock
Exec=lxlock
Terminal=false
NoDisplay=true
StartupNotify=false
X-Arch-Package=lxde-common 0.99.0-2
