[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Epson Inkjet Printer Manager
Comment=Alignment, ink level, cartridge maintenance
Icon=epson
TryExec=/usr/bin/mtink
Exec=mtink
Terminal=false
Categories=System;Monitor;
StartupNotify=false
