[Desktop Entry]
Type=Application
Name=Lexmark hidecartridges
Comment=Lexmark Lexmark 5xxx, 7xxx and 11xx Cartridges Hider
Icon=printmgr
TryExec=/usr/bin/hidecartridges.sh
Exec=hidecartridges.sh
Categories=X-MandrivaLinux-System-Configuration-Printing;
StartupNotify=false
