[Desktop Entry]
Type=Application
Name=GNOME Pilot Install Databases
Comment=Install Databases on your Palm Pilot
Icon=gnome-palm
TryExec=/usr/bin/gpilot-install-file
Exec=gpilot-install-file %U
Hidden=true
Categories=Utility;TelephonyTools;GNOME;GTK;
MimeType=application/x-palm-database;
StartupNotify=true
