[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CD/DVD Creator
Name[be]=Стваральнік CD/DVD
Name[bg]=Създаване на CD/DVD
Name[bn_IN]=CD/DVD নির্মাণ ব্যবস্থা
Name[ca]=Creador de CD/DVD
Name[cs]=Tvůrce CD/DVD
Name[cy]=Crëwr CD/DVD
Name[da]=Cd/dvd-brænder
Name[de]=CD/DVD-Ersteller
Name[dz]=སི་ཌི་/ཌི་བི་ཌི་ གསར་བསྐྲུན་པ།
Name[el]=CD/DVD Creator
Name[en_CA]=CD/DVD Creator
Name[es]=Creador de CD/DVD
Name[et]=CD/DVD-kirjutaja
Name[eu]=CD/DVD sortzailea
Name[fa]=سی‌دی/دی‌وی‌دی ساز
Name[fi]=CD/DVD-luontityökalu
Name[fr]=Créateur de CD/DVD
Name[gl]=Creador de CD/DVD
Name[gu]=CD/DVD બનાવનાર
Name[he]=יוצר התקליטורים
Name[hi]=CD/DVD सर्जक
Name[hu]=CD/DVD-készítő
Name[id]=Pembuat CD/DVD
Name[it]=Creazione CD/DVD
Name[ja]=CD/DVD クリエイタ
Name[ka]=CD/DVD შემქმნელი
Name[ko]=CD/DVD 만들기
Name[lt]=CD/DVD kūrimas
Name[lv]=CD/DVD Veidotājs
Name[mg]=Mpamorona CD/DVD
Name[mk]=CD/DVD креатор
Name[ml]=സി.ഡി/ഡി.വി.ഡി നിര്‍മ്മാണ സംവിധാനം
Name[mn]=CD/DVD үүсгэгч
Name[nb]=CD/DVD brenner
Name[nl]=CD/DVD-maker
Name[or]=ସି.ଡି./ଡି.ଭି.ଡି. ସ୍ରଷ୍ଟା
Name[pa]=CD/DVD ਨਿਰਮਾਤਾ
Name[pt]=Criador de CD/DVD
Name[pt_BR]=Criador de CD/DVD
Name[ro]=Creare CD/DVD
Name[ru]=Создать CD/DVD
Name[sl]=Zapisovalec CD/DVD
Name[sq]=Krijuesi i CD/DVD
Name[sr@Latn]=Mesto za izradu diskova
Name[sr]=Место за израду дискова
Name[sv]=Cd/Dvd-skaparen
Name[ta]=குறுவட்டு/DVD உருவாக்கி
Name[th]=เครื่องมือเขียนซีดีและดีวีดี
Name[tr]=CD/DVD Oluşturucu
Name[uk]=Створення CD/DVD
Name[vi]=Bộ Tạo CD/DVD
Name[zh_CN]=CD/DVD 创建者
Name[zh_HK]=CD/DVD 製作程式
Name[zh_TW]=CD/DVD 製作程式
Comment=Open the CD/DVD Creator
Comment[be]=Адчыніць стваральнік CD/DVD
Comment[bg]=Създаване на CD/DVD
Comment[bn_IN]=CD/DVD নির্মাণ ব্যবস্থা আরম্ভ করুন
Comment[ca]=Obre el creador de CD/DVD
Comment[cs]=Otevřít Tvůrce CD/DVD
Comment[cy]=Agor y Crëwr CD/DVD
Comment[da]=Åbn cd/dvd-brænderen
Comment[de]=CD/DVD-Ersteller öffnen
Comment[dz]=སི་ཌི་/ཌི་བི་ཌི་ གསར་བསྐྲུན་པ་ཁ་ཕྱེ།
Comment[el]=Άνοιγμα του CD/DVD Creator
Comment[en_CA]=Open the CD/DVD Creator
Comment[es]=Abre el creador de CD/DVD
Comment[et]=CD/DVD-kirjutaja avamine
Comment[eu]=Ireki CD/DVD sortzailea
Comment[fa]=بازکردن سی‌دی/دی‌وی‌دی ساز
Comment[fi]=Avaa CD/DVD-luontityökalu
Comment[fr]=Ouvre le créateur de CD/DVD
Comment[gl]=Abrir o creador de CD/DVD
Comment[gu]=CD/DVD બનાવનાર ખોલો
Comment[he]=פתח את יוצר התקליטורים
Comment[hi]=CD/DVD सर्जक खोलें
Comment[hu]=CD/DVD-készítő megnyitása
Comment[id]=Buka Pembuat CD/DVD
Comment[it]=Apre la finestra di creazione CD/DVD
Comment[ja]=CD/DVD クリエイタを開く
Comment[ka]=გახსენი CD/DVD შემქმნელი
Comment[ko]=CD/DVD 만들기 열기
Comment[lt]=Atverti CD/DVD kūrimo programą
Comment[lv]=Atvērt CD/DVD Veidotāju
Comment[mg]=sokafy ny mpamorona CD/DVD
Comment[mk]=Отвори CD/DVD креатор
Comment[ml]=സി.ഡി/ഡി.വി.ഡി നിര്‍മ്മാണ സംവിധാനം തുറക്കുക
Comment[mn]=CD/DVD Үүсгэгчийг нээ
Comment[nb]=Åpne CD/DVD-brennner
Comment[nl]=CD/DVD-maker openen
Comment[or]=ସି.ଡି./ଡି.ଭି.ଡି. ସ୍ରଷ୍ଟା ଖୋଲନ୍ତୁ
Comment[pa]=CD/DVD ਨਿਰਮਾਤਾ ਖੋਲ੍ਹੋ
Comment[pt]=Abrir o Criador de CD/DVD
Comment[pt_BR]=Abrir o Criador de CD/DVD
Comment[ro]=Deschideţi Creare CD/DVD
Comment[ru]=Открыть приложение создания CD/DVD
Comment[sl]=Odpri Zapisovalca CD/DVD
Comment[sq]=Hap Krijuesin e CD/DVD
Comment[sr@Latn]=Otvori mesto za izradu CD-a i DVD-a
Comment[sr]=Отвори место за израду ЦД-а и ДВД-а
Comment[sv]=Öppna cd/dvd-skaparen
Comment[ta]=குறுவட்டு/DVD உருவாக்கியை திற
Comment[th]=เปิดเครื่องมือเขียนซีดีและดีวีดี
Comment[tr]=CD/DVD Oluşturucuyu Aç
Comment[uk]=Відкрити програму створення CD/DVD
Comment[vi]=Mở Bộ Tạo CD/DVD
Comment[zh_CN]=打开 CD/DVD 创建者
Comment[zh_HK]=開啟 CD/DVD 製作程式
Comment[zh_TW]=開啟 CD/DVD 製作程式
Icon=nautilus-cd-burner
TryExec=nautilus-cd-burner
Exec=nautilus --no-desktop burn:///
Terminal=false
OnlyShowIn=GNOME;
Categories=GNOME;Core;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus-cd-burner
X-GNOME-Bugzilla-Component=general
