[Desktop Entry]
Type=Application
Name=Network Admin
Icon=/usr/share/gnome-system-tools/pixmaps/network.xpm
TryExec=/usr/bin/network-admin
Exec=network-admin
Categories=System;Administration;
StartupNotify=false
