[Desktop Entry]
Type=Application
Name=Nicotine-Plus
Comment=SoulSeek filesharing client
Icon=nicotine-plus-32px.png
TryExec=/usr/bin/nicotine
Exec=nicotine
Categories=Application;Network;
StartupNotify=true
X-AppInstall-Package=nicotine
X-AppInstall-Popcon=16
X-AppInstall-Section=aur
X-Arch-Package-Repository=aur
X-Arch-Package-Name=nicotine
X-Arch-Package-Version=1.2.16-7
X-Arch-Package-Description=Soulseek music-sharing client, written in python
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://sourceforge.net/projects/nicotine-plus/
X-Arch-Package-Votes=16
