[Desktop Entry]
Name=nvi
GenericName=nvi
Comment=nvi text editor
Exec=nvi
Icon=text-editor
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Utility;TextEditor;
X-AfterStep-IndexName=nvi
TryExec=nvi
