[Desktop Entry]
X-AppInstall-Package=ocrfeeder
X-AppInstall-Popcon=36
X-AppInstall-Section=main

Version=0.5
Type=Application
Name=OCRFeeder
Name[cs]=OCRFeeder
Name[de]=OCRFeeder
Name[en_GB]=OCRFeeder
Name[es]=OCRFeeder
Name[nb]=OCRFeeder
Name[sl]=OCRFeeder
Name[sv]=OCRFeeder
Comment=The complete OCR suite.
Comment[cs]=Kompletní aplikace pro OCR.
Comment[de]=Die gesamte OCR-Suite.
Comment[en_GB]=The complete OCR suite.
Comment[es]=La aplicación completa de OCR
Comment[fr]=La suite OCR complète.
Comment[gl]=A aplicación completa de OCR
Comment[it]=La suite OCR completa.
Comment[nb]=Komplett OCR-suite.
Comment[pt]=A aplicação completa de OCR
Comment[sl]=Popolni OCR paket.
Comment[sv]=Den kompletta OCR-sviten.
Comment[zh_CN]=完整的OCR解决方案
Exec=ocrfeeder
Icon=_usr_share_icons_hicolor_scalable_apps_ocrfeeder
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;
Categories=Application;Office;
