[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Dictionary OpenDict
Name[lt]=Žodynas „OpenDict“
Comment=Lookup words in a local or Internet dictionary
Comment[lt]=Ieškoti žodžių kompiuterio arba Interneto žodyne
Icon=opendict
TryExec=opendict
Exec=opendict
Terminal=false
Categories=Utility;Dictionary;GTK;
StartupNotify=true
X-AppInstall-Package=opendict
X-AppInstall-Popcon=49
X-AppInstall-Section=main
