[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Openbox
GenericName=Window Manager
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[pt]=Gestor de Janelas
Comment=Log in using the Openbox window manager
Icon=openbox
Exec=openbox
Terminal=false
NoDisplay=true
Categories=WindowManager;Application;System
StartupNotify=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=Openbox
X-Arch-Package=openbox 3.5.2-7
X-Ubuntu-Gettext-Domain=openbox
