[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=OpenCity
GenericName=City simulator
GenericName[fr]=Simulateur de ville
Comment=a 3D city simulator game
Comment[fr]=Un jeu de simulation de ville en 3D
Icon=opencity
Exec=opencity
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=false
X-AppInstall-Package=opencity
X-AppInstall-Popcon=49
X-AppInstall-Section=main
