[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Authorizations
Name[ar]=التخويلات
Name[ca]=Autoritzacions
Name[cs]=Oprávnění
Name[de]=Zugriffsberechtigungen
Name[el]=Εξουσιοδοτήσεις
Name[en_GB]=Authorisations
Name[es]=Autorizaciones
Name[fi]=Valtuutukset
Name[fr]=Autorisations
Name[he]=הרשאות
Name[hu]=Jogosultságok
Name[ja]=権限の管理
Name[pl]=Upoważnienia
Name[pt]=Autorizações
Name[pt_BR]=Autorizações
Name[ru]=Авторизации
Name[sk]=Oprávnenia
Name[sv]=Behörigheter
Name[zh_CN]=授权
Comment=Configure authorizations
Comment[ar]=اضبط التخويلات
Comment[ca]=Configura les autoritzacions
Comment[cs]=Nastavit oprávnění
Comment[de]=Zugriffsberechtigungen einstellen
Comment[el]=Ρύθμιση εξουσιοδοτήσεων
Comment[en_GB]=Configure authorisations
Comment[es]=Configure sus autorizaciones
Comment[fi]=Aseta valtuutukset
Comment[fr]=Configurer les autorisations
Comment[he]=הגדרת הרשאות
Comment[hu]=Jogosultságok beállítása
Comment[ja]=いろいろな権限を設定します
Comment[pl]=Konfigurowanie upoważnień
Comment[pt]=Configurar autorizações
Comment[pt_BR]=Configurar autorizações
Comment[ru]=Настройка авторизаций
Comment[sk]=Nastaviť oprávnenia
Comment[sv]=Konfigurera behörigheter
Comment[zh_CN]=配置授权
Icon=gtk-dialog-authentication
TryExec=polkit-gnome-authorization
Exec=polkit-gnome-authorization
Terminal=false
OnlyShowIn=GNOME;
Categories=Settings;X-GNOME-SystemSettings;System;GTK;GNOME;
StartupNotify=true
X-Desktop-File-Install-Version=0.16
