[Desktop Entry]
Type=Application
Name=Authorizations
Name[ar]=التخويلات
Name[ca]=Autoritzacions
Name[cs]=Oprávnění
Name[da]=Tilladelser
Name[de]=Zugriffsberechtigungen
Name[el]=Εξουσιοδοτήσεις
Name[en_GB]=Authorisations
Name[es]=Autorizaciones
Name[fi]=Valtuutukset
Name[fr]=Autorisations
Name[he]=הרשאות
Name[hu]=Jogosultságok
Name[it]=Autorizzazioni
Name[ja]=権限の管理
Name[km]=កា​រផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ
Name[ko]=권한 위임
Name[nl]=Autorisaties
Name[pa]=ਪਰਮਾਣਕਿਤਾ
Name[pl]=Upoważnienia
Name[pt]=Autorizações
Name[pt_BR]=Autorizações
Name[ru]=Авторизации
Name[sk]=Oprávnenia
Name[sv]=Behörigheter
Name[uk]=Авторизації
Name[wa]=Otorijhåcions
Name[zh_CN]=授权
Name[zh_TW]=授權
Comment=Configure authorizations
Comment[ar]=اضبط التخويلات
Comment[ca]=Configura les autoritzacions
Comment[cs]=Nastavit oprávnění
Comment[da]=Konfigurér tilladelser
Comment[de]=Zugriffsberechtigungen einstellen
Comment[el]=Ρύθμιση εξουσιοδοτήσεων
Comment[en_GB]=Configure authorisations
Comment[es]=Configure sus autorizaciones
Comment[fi]=Aseta valtuutukset
Comment[fr]=Configurer les autorisations
Comment[gl]=Configurar as autorizacións
Comment[he]=הגדרת הרשאות
Comment[hu]=Jogosultságok beállítása
Comment[it]=Configura le autorizzazioni
Comment[ja]=いろいろな権限を設定します
Comment[km]=កំណត់​រចនាសម្ព័ន្ធកា​រផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ
Comment[ko]=인증 설정
Comment[nl]=Autorisaties instellen
Comment[pa]=ਪਰਮਾਣਕਿਤਾ ਸੰਰਚਨਾ
Comment[pl]=Konfigurowanie upoważnień
Comment[pt]=Configurar autorizações
Comment[pt_BR]=Configurar autorizações
Comment[ru]=Настройка авторизаций
Comment[sk]=Nastaviť oprávnenia
Comment[sv]=Konfigurera behörigheter
Comment[uk]=Налаштування авторизації
Comment[zh_CN]=配置授权
Comment[zh_TW]=設定授權
Icon=gtk-dialog-authentication
TryExec=/usr/bin/polkit-gnome-authorization
Exec=polkit-gnome-authorization
OnlyShowIn=GNOME;
Categories=Settings;System;GNOME;GTK;X-GNOME-SystemSettings;
StartupNotify=true
X-Desktop-File-Install-Version=0.16
X-SuSE-added=Comment,pa;Comment,it;Comment,zh_TW;Comment,nl;Comment,pt;Comment,de;Comment,ko;Comment,uk;Comment,cs;Comment,zh_CN;Comment,pl;Comment,km;Comment,ru;Comment,pt_BR;Comment,da;Comment,gl;Name,pa;Name,it;Name,zh_TW;Name,nl;Name,wa;Name,pt;Name,de;Name,ko;Name,uk;Name,cs;Name,zh_CN;Name,pl;Name,km;Name,ru;Name,pt_BR;Name,da;Comment,ja;Comment,hu;Comment,fr;Comment,fi;Comment,es;Name,ja;Name,hu;Name,fr;Name,fi;
X-SuSE-translate=true
