[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Software Updater
Name[as]=চালনাজ্ঞানৰ উন্নয়ন কৰোঁতা
Name[bg]=Обновяване на софтуера
Name[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
Name[bs]=Ažuriranje softvera
Name[ca]=Actualitzador de programari
Name[cs]=Aktualizátor balíčků
Name[de]=Software-Updater
Name[el]=Ενημέρωση λογισμικού
Name[en_GB]=Software Updater
Name[es]=Actualizador de software
Name[fi]=Ohjelmistojen päivitin
Name[fr]=Mise à jour des logiciels
Name[gu]=સોફ્ટવેર સુધારનાર
Name[hi]=संकुल अद्यतनकर्ता
Name[hr]=Ažuriranje softvera
Name[hu]=Szoftverfrissítő
Name[it]=Aggiornamento del software
Name[ja]=ソフトウェアアップデーター
Name[ko]=소프트웨어 업데이터
Name[mai]=सँकुल अद्यतनकएनिहार
Name[mk]=Надградба на пакети
Name[ml]=സോഫ്റ്റവെയറ്‍ അപ്ഡേറ്ററ്‍
Name[mr]=सॉफ्टवेयर अद्यतनकार
Name[nb]=Pakkeoppdaterer
Name[nl]=Software-updater
Name[or]=ସଫଟୱେର ଅଦ୍ଯତକ
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟਰ
Name[pl]=Aktualizator oprogramowania
Name[pt]=Actualizador de Aplicações
Name[pt_BR]=Atualizador de Programas
Name[ro]=Actualizator de pachete
Name[ru]=Обновление пакетов
Name[sk]=Aktualizácia softvéru
Name[sl]=Posodobitvenik programja
Name[sr@latin]=Ažurator paketa
Name[sr]=Ажуратор пакета
Name[sv]=Programvaru-uppdaterare
Name[ta]=மென்பொருள் புதுப்பி
Name[te]=సాఫ్టువేర్ నవీకరిణి
Name[uk]=Оновлення програм
Name[zh_CN]=软件包更新工具
Name[zh_TW]=軟體更新員
GenericName=Software Updater
GenericName[as]=চালনাজ্ঞানৰ উন্নয়ন কৰোঁতা
GenericName[bg]=Обновяване на софтуера
GenericName[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
GenericName[bs]=Ažuriranje softvera
GenericName[ca]=Actualitzador de programari
GenericName[cs]=Aktualizátor balíčků
GenericName[de]=Software-Updater
GenericName[el]=Ενημέρωση λογισμικού
GenericName[en_GB]=Software Updater
GenericName[es]=Actualizador de software
GenericName[fi]=Ohjelmistojen päivitin
GenericName[fr]=Mise à jour des logiciels
GenericName[gu]=સોફ્ટવેર સુધારનાર
GenericName[hi]=संकुल अद्यतनकर्ता
GenericName[hr]=Ažuriranje softvera
GenericName[hu]=Szoftverfrissítő
GenericName[it]=Aggiornamento del software
GenericName[ja]=ソフトウェアアップデーター
GenericName[ko]=소프트웨어 업데이터
GenericName[mai]=सँकुल अद्यतनकएनिहार
GenericName[mk]=Надградба на пакети
GenericName[ml]=സോഫ്റ്റവെയറ്‍ അപ്ഡേറ്ററ്‍
GenericName[mr]=सॉफ्टवेयर अद्यतनकार
GenericName[nb]=Pakkeoppdaterer
GenericName[nl]=Software-updater
GenericName[or]=ସଫଟୱେର ଅଦ୍ଯତକ
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟਰ
GenericName[pl]=Aktualizator oprogramowania
GenericName[pt]=Actualizador de Aplicações
GenericName[pt_BR]=Atualizador de Programas
GenericName[ro]=Actualizator de pachete
GenericName[ru]=Обновление пакетов
GenericName[sk]=Aktualizácia softvéru
GenericName[sl]=Posodobitvenik programja
GenericName[sr@latin]=Ažurator paketa
GenericName[sr]=Ажуратор пакета
GenericName[sv]=Programvaru-uppdaterare
GenericName[ta]=மென்பொருள் புதுப்பி
GenericName[te]=సాఫ్టువేర్ నవీకరిణి
GenericName[uk]=Оновлення програм
GenericName[zh_CN]=软件包更新工具
GenericName[zh_TW]=軟體更新員
Comment=Update software installed on the system
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞানৰ উন্নয়ন কৰক
Comment[bg]=Обновяване на софтуера инсталиран в системата
Comment[bn_IN]=সিস্টেমে ইনস্টল থাকা সফ্টওয়্যার আপডেট করুন
Comment[bs]=Ažuriranje instaliranog softvera
Comment[ca]=Actualitza el programari instal·lat al sistema
Comment[cs]=Aktualizovat software nainstalovaný v systému
Comment[de]=Auf dem System installierte Software aktualisieren
Comment[el]=Ενημερώστε λογισμικό εγκατεστημένο στο σύστημα
Comment[en_GB]=Update software installed on the system
Comment[es]=Actualizar el software instalado en el sistema
Comment[fi]=Päivitä järjestelmään asennettuja ohjelmistoja
Comment[fr]=Mettre à jour les logiciels installés sur le système
Comment[gu]=સિસ્ટમ પર સ્થાપિત સોફ્ટવેર સુધારો
Comment[hi]=सिस्टम पर अधिष्ठापित सॉफ्टवेयर अद्यतन करें
Comment[hr]=Ažuriranje instaliranog softvera
Comment[hu]=Telepített szoftver frissítése
Comment[it]=Aggiornamento del software installato sul sistema
Comment[ja]=システムにインストールされているソフトウェアの更新
Comment[ko]=시스템에 설치된 소프트웨어 업데이트
Comment[mai]=सिस्टम पर सँस्थापित सॉफ्टवेयर अद्यतन करू
Comment[mk]=Ажурирајте ги пакетите инсталирани на системот
Comment[ml]=നിങ്ങളുടെ സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റവെയറ്‍ പുതുക്കുക
Comment[mr]=प्रणालीवर प्रतिष्ठापित सॉफ्टवेयर अद्ययावत करा
Comment[nb]=Oppdater programvare som er installert på systemet
Comment[nl]=Werk de op het systeem geïnstalleerde software bij
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପିତ ହୋଇଥିବା ସଫଟୱେର ମାନଙ୍କର ଅଦ୍ଯତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਹੋਏ ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Aktualizacja zainstalowanego oprogramowania
Comment[pt]=Actualiza as aplicações instaladas no sistema
Comment[pt_BR]=Atualizar os programas instalados no sistema
Comment[ro]=Actualizați programele instalate pe sistem
Comment[ru]=Обновление программ, установленных в вашей системе
Comment[sk]=Aktualizovať softvér nainštalovaný v systéme
Comment[sl]=Posodobi sistemsko programje
Comment[sr@latin]=Ažurira instalirani softver na sistemu
Comment[sr]=Ажурира инсталирани софтвер на систему
Comment[sv]=Uppdatera programvara som är installerad på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை புதுப்பிக்கவும்
Comment[te]=నవీకరించబడిన సాఫ్టువేరు కంప్యూటరులో సంస్థాపించబడింది
Comment[uk]=Оновлення встановлених у системі програм
Comment[zh_CN]=更新系统上已安装的软件包
Comment[zh_TW]=更新系統上已安裝的軟體
Icon=pup.png
TryExec=pup
Exec=pup
Terminal=false
Categories=Application;System;X-Red-Hat-Base;X-Fedora;PackageManager;GNOME;GTK;
StartupNotify=true
