[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=qFreeFax
Comment=GUI for fax fonctionality provided by French ISP "Free"
Comment[fr]=Interface d'envoi de fax via un compte "Free"
Icon=qfreefax.png
Exec=qfreefax
Terminal=false
Categories=Application;Network;
MimeType=application/pdf;
StartupNotify=true
X-AppInstall-Package=qfreefax
X-AppInstall-Popcon=2
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,armel,hppa,i386,ia64,mips,mipsel,powerpc,s390,sparc
