[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Qt3 Linguist 
Comment=Add translations to Qt3 applications
Icon=linguist3
TryExec=linguist
Exec=linguist
Terminal=false
Categories=Qt;Development;
MimeType=application/x-linguist;
StartupNotify=false
X-Desktop-File-Install-Version=0.15
X-Arch-Package=qtchooser 48-1
X-Arch-Package-Name=qtchooser
X-Arch-Package-Version=48-1
X-Arch-Package-Description=Wrap the other Qt tools by searching for different instances of Qt on the system
X-Arch-Package-URL=http://qt.gitorious.org/qt/qtchooser
