[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Radio Tray
Icon=radiotray
TryExec=radiotray
Exec=radiotray
Terminal=false
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=false
X-AppInstall-Package=radiotray
X-AppInstall-Popcon=54
X-AppInstall-Section=main
