[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Scilab
Name[de]=Scilab
GenericName=Scientific Software Package
GenericName[de]=Wissenschaftssoftware
GenericName[fr]=Logiciel de calcul numérique
Comment=Scientific software package for numerical computations
Comment[de]=eine Wissenschaftssoftware für numerische Berechnungen
Comment[fr]=Logiciel scientifique de calcul numérique
Icon=_usr_share_scilab_icons_scilab
TryExec=scilab
Exec=scilab
Terminal=false
Categories=Development;Education;Science;Math;Physics;
StartupNotify=false
X-AppInstall-Package=scilab
X-AppInstall-Popcon=280
X-AppInstall-Section=main
