[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=SeaMonkey Mail
Comment=Read Mail with SeaMonkey
Icon=/usr/share/pixmaps/seamonkey-mail-icon.png
TryExec=seamonkey
Exec=seamonkey -mail
Terminal=false
Categories=Application;Network;
StartupNotify=false
