[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=SQLite database browser
Comment=GUI editor for SQLite databases
Icon=sqlitebrowser.png
TryExec=sqlitebrowser
Exec=sqlitebrowser
Terminal=false
Categories=Development;Database;Qt;
MimeType=application/x-sqlite;
StartupNotify=false
X-AppInstall-Package=sqlitebrowser
X-AppInstall-Popcon=222
X-AppInstall-Section=main
