[Desktop Entry]
Version=1.7.3-beta2
Type=Application
Name=SunVox
Comment=A small, fast and powerful modular synthesizer with pattern based sequencer
Icon=/usr/share/icons/sunvox/sunvox.png
TryExec=/usr/bin/sunvox
Exec=sunvox
NoDisplay=true
Categories=AudioVideo;Player;SDL;
X-AppInstall-Package=sunvox-beta
X-AppInstall-Section=aur
X-Arch-Package=sunvox-beta 1.7.3.beta2-2
X-Arch-Package-Repository=aur
X-Arch-Package-Name=sunvox-beta
X-Arch-Package-Version=1.7.3.beta2-2
X-Arch-Package-Description=SunVox is a small, fast and powerful modular synthesizer with pattern based sequencer (tracker)
X-Arch-Package-URL=http://www.warmplace.ru/soft/sunvox/
Aliases=sunvox;
