[Desktop Entry]
Name=Logical Volume Management
Name[ar]=إدارة وحدات التخزين المنطقية
Name[bg]=Управление на логически томове
Name[bn]=লজিকাল ভলিউম পরিচালনা
Name[bn_IN]=লজিকাল ভলিউম পরিচালনা
Name[bs]=Upravljanje logičkim volumenima
Name[ca]=Gestió de volum lògic
Name[cs]=Správa logických svazků
Name[da]=Håndtering af logiske delarkiver
Name[de]=Logische Datenträgerverwaltung (LVM)
Name[es]=Administración de Volúmenes Lógicos
Name[et]=Loogilise ruumi haldamine
Name[fa]=مدیریت جلد منطقی
Name[fr]=Gestionnaire de Volumes Logiques
Name[gu]=લોજીકલ વોલ્યુમ વ્યવસ્થાપન
Name[hi]=लॉजिकल वॉल्यूम प्रबंधन
Name[hr]=Upravljanje logičkim volumenima
Name[hu]=Logikai kötetkezelés
Name[id]=Manajemen Volume Logikal
Name[is]=Umsýsla sýndardiska
Name[it]=Gestione Volumi Logici
Name[ja]=論理ボリューム管理
Name[ko]=논리적인 볼륨 관리
Name[mk]=Менаџмент за логички простор
Name[ml]=ലോജിക്കല്‍ വോള്യം മാനേജ്മന്‍റ്
Name[ms]=Pengurusan Volum Logikal
Name[nb]=Håndtering av logiske volum
Name[nl]=Logical Volume Management
Name[or]=ତାର୍କିକ ଘନଫଳ ର ପରିଚାଳନା
Name[pa]=ਲਾਜ਼ੀਕਲ ਵਾਲੀਅਮ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie woluminami logicznymi
Name[pt]=Gestão de Volumes Lógicos
Name[pt_BR]=Gerenciador de Volumes Lógicos (LVM)
Name[ru]=Управление логическими томами
Name[sk]=Správa logických zväzkov
Name[sr]=Управљање логичким дисковима (LVM)
Name[sr@Latn]=Upravljanje logičkim diskovima (LVM)
Name[sv]=Hantering av logiska volymer
Name[ta]=லாஜிகல் வால்யூம் மேலாண்மை
Name[te]=తార్కిక వాల్యూం నిర్వహణ
Name[tr]=Mantıksal Hacim Yönetimi
Name[uk]=Керування логічними томами
Name[zh_CN]=逻辑卷管理器
Name[zh_TW]=邏輯 Volume 管理
GenericName=LVM
Comment=Configure LVM in a graphical setting
StartupNotify=true
Icon=/usr/share/system-config-lvm/pixmaps/lv_icon.png
Exec=/usr/bin/system-config-lvm
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Application;SystemSetup;X-Red-Hat-Base;
X-Desktop-File-Install-Version=0.2
