[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=TkDiff File Comparison
GenericName=diff frontend
Comment=TkDiff is a graphical front-end for the standard Unix 'diff' utility.
Icon=tkdiff
TryExec=tkdiff
Exec=tkdiff
Terminal=false
Categories=Development;ProjectManagement;
StartupNotify=false
X-AppInstall-Package=tkdiff
X-AppInstall-Popcon=183
X-AppInstall-Section=main
