[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Unclutter
GenericName=unclutter 8
Comment=Remove cursor after a timeout
Icon=wmaker-keyboard.xpm
TryExec=/usr/bin/unclutter
Exec=/usr/bin/unclutter
Terminal=false
Categories=Utility;System;
StartupNotify=false
X-GNOME-Autostart-enabled=true
