[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=UXTerm
Comment=standard terminal emulator for the X window system
Icon=xterm-color_48x48
Exec=uxterm
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
X-Arch-Package=xterm 318-1
