[Desktop Entry]
X-AppInstall-Package=xenwatch
X-AppInstall-Popcon=74
X-AppInstall-Section=main

Encoding=UTF-8
Name=vnc-client
Exec=vnc-client
Terminal=false
Type=Application
Categories=GTK;System;Network;Utility;
X-AppInstall-Architectures=amd64,i386
