[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=w3m
Name[ar]=w3m
Name[ast]=w3m
Name[be]=w3m
Name[bg]=w3m
Name[bn]=w3m
Name[br]=w3m
Name[bs]=w3m
Name[ca]=w3m
Name[cs]=w3m
Name[da]=w3m
Name[de]=w3m
Name[dz]=w3m
Name[el]=w3m
Name[eo]=w3m
Name[es]=w3m
Name[et]=w3m
Name[eu]=w3m
Name[fi]=w3m
Name[fr]=w3m
Name[ga]=w3m
Name[gl]=w3m
Name[gu]=w3m
Name[he]=w3m
Name[hi]=w3m
Name[hr]=w3m
Name[hu]=w3m
Name[id]=w3m
Name[it]=w3m
Name[ja]=w3m
Name[ka]=w3m
Name[kk]=w3m
Name[km]=w3m
Name[ko]=w3m
Name[ku]=w3m
Name[lt]=w3m
Name[mk]=w3m
Name[ml]=w3m
Name[mr]=w3m
Name[nb]=w3m
Name[ne]=w3m
Name[nl]=w3m
Name[nn]=w3m
Name[pa]=w3m
Name[pl]=w3m
Name[pt]=w3m
Name[pt_BR]=w3m
Name[ro]=w3m
Name[ru]=w3m
Name[sk]=w3m
Name[sq]=w3m
Name[sv]=w3m
Name[ta]=w3m
Name[th]=w3m
Name[tl]=w3m
Name[tr]=w3m
Name[uk]=w3m
Name[vi]=w3m
Name[wo]=w3m
Name[zh_CN]=w3m
Name[zh_TW]=w3m
Exec=/usr/bin/w3m /usr/share/doc/w3m/MANUAL.html
Terminal=true
Categories=X-Debian-Applications-Network-Web-Browsing;
