[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wmclock
Name[ar]=Wmclock
Name[ast]=Wmclock
Name[be]=Wmclock
Name[bg]=Wmclock
Name[bn]=Wmclock
Name[br]=Wmclock
Name[bs]=Wmclock
Name[ca]=Wmclock
Name[cs]=Wmclock
Name[da]=Wmclock
Name[de]=Wmclock
Name[dz]=Wmclock
Name[el]=Wmclock
Name[eo]=Wmclock
Name[es]=Wmclock
Name[et]=Wmclock
Name[eu]=Wmclock
Name[fi]=Wmclock
Name[fr]=Wmclock
Name[ga]=Wmclock
Name[gl]=Wmclock
Name[gu]=Wmclock
Name[he]=Wmclock
Name[hi]=Wmclock
Name[hr]=Wmclock
Name[hu]=Wmclock
Name[id]=Wmclock
Name[it]=Wmclock
Name[ja]=Wmclock
Name[ka]=Wmclock
Name[kk]=Wmclock
Name[km]=Wmclock
Name[ko]=Wmclock
Name[ku]=Wmclock
Name[lt]=Wmclock
Name[mk]=Wmclock
Name[ml]=Wmclock
Name[mr]=Wmclock
Name[nb]=Wmclock
Name[ne]=Wmclock
Name[nl]=Wmclock
Name[nn]=Wmclock
Name[pa]=Wmclock
Name[pl]=Wmclock
Name[pt]=Wmclock
Name[pt_BR]=Wmclock
Name[ro]=Wmclock
Name[ru]=Wmclock
Name[sk]=Wmclock
Name[sq]=Wmclock
Name[sv]=Wmclock
Name[ta]=Wmclock
Name[th]=Wmclock
Name[tl]=Wmclock
Name[tr]=Wmclock
Name[uk]=Wmclock
Name[vi]=Wmclock
Name[wo]=Wmclock
Name[zh_CN]=Wmclock
Name[zh_TW]=Wmclock
Exec=/usr/bin/wmclock
Terminal=false
Categories=X-Debian-Applications-System-Administration;
