[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wmtemp
Name[ar]=wmtemp
Name[ast]=wmtemp
Name[be]=wmtemp
Name[bg]=wmtemp
Name[bn]=wmtemp
Name[br]=wmtemp
Name[bs]=wmtemp
Name[ca]=wmtemp
Name[cs]=wmtemp
Name[da]=wmtemp
Name[de]=wmtemp
Name[dz]=wmtemp
Name[el]=wmtemp
Name[eo]=wmtemp
Name[es]=wmtemp
Name[et]=wmtemp
Name[eu]=wmtemp
Name[fi]=wmtemp
Name[fr]=wmtemp
Name[ga]=wmtemp
Name[gl]=wmtemp
Name[gu]=wmtemp
Name[he]=wmtemp
Name[hi]=wmtemp
Name[hr]=wmtemp
Name[hu]=wmtemp
Name[id]=wmtemp
Name[it]=wmtemp
Name[ja]=wmtemp
Name[ka]=wmtemp
Name[kk]=wmtemp
Name[km]=wmtemp
Name[ko]=wmtemp
Name[ku]=wmtemp
Name[lt]=wmtemp
Name[mk]=wmtemp
Name[ml]=wmtemp
Name[mr]=wmtemp
Name[nb]=wmtemp
Name[ne]=wmtemp
Name[nl]=wmtemp
Name[nn]=wmtemp
Name[pa]=wmtemp
Name[pl]=wmtemp
Name[pt]=wmtemp
Name[pt_BR]=wmtemp
Name[ro]=wmtemp
Name[ru]=wmtemp
Name[sk]=wmtemp
Name[sq]=wmtemp
Name[sv]=wmtemp
Name[ta]=wmtemp
Name[th]=wmtemp
Name[tl]=wmtemp
Name[tr]=wmtemp
Name[uk]=wmtemp
Name[vi]=wmtemp
Name[wo]=wmtemp
Name[zh_CN]=wmtemp
Name[zh_TW]=wmtemp
Exec=wmtemp
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
