[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xedit
Name[ar]=Xedit
Name[ast]=Xedit
Name[be]=Xedit
Name[bg]=Xedit
Name[bn]=Xedit
Name[br]=Xedit
Name[bs]=Xedit
Name[ca]=Xedit
Name[cs]=Xedit
Name[da]=Xedit
Name[de]=Xedit
Name[dz]=Xedit
Name[el]=Xedit
Name[eo]=Xedit
Name[es]=Xedit
Name[et]=Xedit
Name[eu]=Xedit
Name[fi]=Xedit
Name[fr]=Xedit
Name[ga]=Xedit
Name[gl]=Xedit
Name[gu]=Xedit
Name[he]=Xedit
Name[hi]=Xedit
Name[hr]=Xedit
Name[hu]=Xedit
Name[id]=Xedit
Name[it]=Xedit
Name[ja]=Xedit
Name[ka]=Xedit
Name[kk]=Xedit
Name[km]=Xedit
Name[ko]=Xedit
Name[ku]=Xedit
Name[lt]=Xedit
Name[mk]=Xedit
Name[ml]=Xedit
Name[mr]=Xedit
Name[nb]=Xedit
Name[ne]=Xedit
Name[nl]=Xedit
Name[nn]=Xedit
Name[pa]=Xedit
Name[pl]=Xedit
Name[pt]=Xedit
Name[pt_BR]=Xedit
Name[ro]=Xedit
Name[ru]=Xedit
Name[sk]=Xedit
Name[sq]=Xedit
Name[sv]=Xedit
Name[ta]=Xedit
Name[th]=Xedit
Name[tl]=Xedit
Name[tr]=Xedit
Name[uk]=Xedit
Name[vi]=Xedit
Name[wo]=Xedit
Name[zh_CN]=Xedit
Name[zh_TW]=Xedit
Comment=Xedit: a simple text editor for X
Comment[ar]=Xedit: a simple text editor for X
Comment[ast]=Xedit: a simple text editor for X
Comment[be]=Xedit: a simple text editor for X
Comment[bg]=Xedit: a simple text editor for X
Comment[bn]=Xedit: a simple text editor for X
Comment[br]=Xedit: a simple text editor for X
Comment[bs]=Xedit: a simple text editor for X
Comment[ca]=Xedit: a simple text editor for X
Comment[cs]=Xedit: a simple text editor for X
Comment[da]=Xedit: a simple text editor for X
Comment[de]=Xedit: a simple text editor for X
Comment[dz]=Xedit: a simple text editor for X
Comment[el]=Xedit: a simple text editor for X
Comment[eo]=Xedit: a simple text editor for X
Comment[es]=Xedit: a simple text editor for X
Comment[et]=Xedit: a simple text editor for X
Comment[eu]=Xedit: a simple text editor for X
Comment[fi]=Xedit: a simple text editor for X
Comment[fr]=Xedit: a simple text editor for X
Comment[ga]=Xedit: a simple text editor for X
Comment[gl]=Xedit: a simple text editor for X
Comment[gu]=Xedit: a simple text editor for X
Comment[he]=Xedit: a simple text editor for X
Comment[hi]=Xedit: a simple text editor for X
Comment[hr]=Xedit: a simple text editor for X
Comment[hu]=Xedit: a simple text editor for X
Comment[id]=Xedit: a simple text editor for X
Comment[it]=Xedit: a simple text editor for X
Comment[ja]=Xedit: a simple text editor for X
Comment[ka]=Xedit: a simple text editor for X
Comment[kk]=Xedit: a simple text editor for X
Comment[km]=Xedit: a simple text editor for X
Comment[ko]=Xedit: a simple text editor for X
Comment[ku]=Xedit: a simple text editor for X
Comment[lt]=Xedit: a simple text editor for X
Comment[mk]=Xedit: a simple text editor for X
Comment[ml]=Xedit: a simple text editor for X
Comment[mr]=Xedit: a simple text editor for X
Comment[nb]=Xedit: a simple text editor for X
Comment[ne]=Xedit: a simple text editor for X
Comment[nl]=Xedit: a simple text editor for X
Comment[nn]=Xedit: a simple text editor for X
Comment[pa]=Xedit: a simple text editor for X
Comment[pl]=Xedit: a simple text editor for X
Comment[pt]=Xedit: a simple text editor for X
Comment[pt_BR]=Xedit: a simple text editor for X
Comment[ro]=Xedit: a simple text editor for X
Comment[ru]=Xedit: a simple text editor for X
Comment[sk]=Xedit: a simple text editor for X
Comment[sq]=Xedit: a simple text editor for X
Comment[sv]=Xedit: a simple text editor for X
Comment[ta]=Xedit: a simple text editor for X
Comment[th]=Xedit: a simple text editor for X
Comment[tl]=Xedit: a simple text editor for X
Comment[tr]=Xedit: a simple text editor for X
Comment[uk]=Xedit: a simple text editor for X
Comment[vi]=Xedit: a simple text editor for X
Comment[wo]=Xedit: a simple text editor for X
Comment[zh_CN]=Xedit: a simple text editor for X
Comment[zh_TW]=Xedit: a simple text editor for X
Exec=xedit
Terminal=false
Categories=X-Debian-Applications-Editors;
