[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=xenlog
Comment=xenstore activity logger
TryExec=/usr/bin/xenlog
Exec=xenlog
Terminal=true
Categories=System;Utility;GTK;
StartupNotify=false
X-AppInstall-Package=xenwatch
X-AppInstall-Popcon=74
X-AppInstall-Section=main
X-AppInstall-Architectures=amd64,i386
