[Desktop Entry]
Type=Application
Name=Xpdf
Name[af]=X Pdf
Name[ar]=X PDF
Name[bg]=X PDF
Name[bn]=এক্স পি-ডি-এফ
Name[cs]=X PDF
Name[da]=X PDF
Name[de]=X-PDF
Name[el]=X PDF
Name[eo]=XPDF
Name[es]=PDF para X
Name[et]=X PDF
Name[fi]=X PDF
Name[fr]=XPDF
Name[gl]=X PDF
Name[hi]=एक्स पीडीएफ
Name[hu]=X PDF
Name[it]=X PDF
Name[ja]=X PDF
Name[km]=X PDF
Name[ko]=X용 PDF
Name[lt]=X PDF
Name[mn]=X-PDF
Name[mr]=X पीडीएफ
Name[nb]=X PDF
Name[nds]=X-PDF
Name[nl]=X PDF
Name[pa]=X PDF
Name[pl]=X PDF
Name[pt]=X PDF
Name[pt_BR]=X PDF
Name[ru]=X PDF
Name[sk]=X PDF
Name[sv]=XPDF
Name[te]=ఎక్స్ పిడిఎఫ్
Name[uk]=X PDF
Name[wa]=X PDF
Name[xh]=i-X PDF
Name[xx]=xxX PDFxx
Name[zh_CN]=X PDF
Name[zh_TW]=X PDF
GenericName=PDF Viewer
GenericName[af]=Pdf Aansig
GenericName[ar]=عارض ملفات PDF
GenericName[az]=PDF Nümayişçisi
GenericName[be]=Праглядальнік PDF
GenericName[bg]=Преглед на документи PDF
GenericName[bn]=পি-ডি-এফ প্রদর্শক
GenericName[br]=Gweler PDF
GenericName[bs]=Preglednik PDF dokumenata
GenericName[ca]=Visor PDF
GenericName[cs]=Prohlížeč PDF souborů
GenericName[csb]=Przezérnik PDF
GenericName[cy]=Gwelydd PDF
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[el]=Προβολέας PDF
GenericName[eo]=PDF-rigardilo
GenericName[es]=Visor de documentos PDF
GenericName[et]=PDF failide vaatamine
GenericName[eu]=PDF Ikustailua
GenericName[fa]=نمایشگر PDF
GenericName[fi]=PDF-Näyttäjä
GenericName[fo]=PDF-vísari
GenericName[fr]=Afficheur PDF
GenericName[fy]=PDF-werjefteprogramma
GenericName[ga]=Amharcán PDF
GenericName[gl]=Visor de PDF
GenericName[gu]=Visualizador de PDF
GenericName[he]=מציג קבצי PDF
GenericName[hi]=पीडीएफ प्रदर्शक
GenericName[hr]=Preglednik PDF dokumenata
GenericName[hu]=PDF-nézegető
GenericName[id]=Viewer PDF
GenericName[is]=PDF-sjá
GenericName[it]=Visualizzatore PDF
GenericName[ja]=PDFビューア
GenericName[ka]=PDF დოკუმენტების სანახავი პროგრამა
GenericName[kk]=PDF қарау құралы
GenericName[km]=កម្មវិធី​និពន្ធ PDF
GenericName[ko]=PDF 보기
GenericName[lo]=ສະແດງຜົນPDF
GenericName[lt]=PDF Žiūriklis
GenericName[lv]=PDF Skatītājs
GenericName[mk]=Прегледувач на PDF
GenericName[mn]=PDF-Харагч
GenericName[mr]=PDF दर्शक
GenericName[ms]=Pemapar PDF
GenericName[mt]=Werrej PDF
GenericName[nb]=PDF-fremviser
GenericName[nds]=Kieker för PDF-Dateien
GenericName[ne]=PDF दर्शक
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[nso]=Molebeledi wa PDF
GenericName[oc]=Visualisor PDF
GenericName[pa]=PDF ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików PDF
GenericName[pt]=Visualizador de PDFs
GenericName[pt_BR]=Visualizador de PDF
GenericName[ro]=Vizualizor de documente PDF
GenericName[ru]=Программа просмотра документов PDF
GenericName[rw]=Mugaragaza PDF
GenericName[se]=PDF-logan
GenericName[sk]=Prehliadač PDF súborov
GenericName[sl]=Pregledovalnik datotek PDF
GenericName[sr@Latn]=PDF prikazivač
GenericName[sr]=PDF приказивач
GenericName[ss]=Sibuki se PDF
GenericName[sv]=PDF-visare
GenericName[ta]=PDF காட்சி
GenericName[tg]=Намоишгари PDF
GenericName[th]=ตัวแสดงผล PDF
GenericName[tr]=PDF Görüntüleyici
GenericName[tt]=PDF Kürsätkeç
GenericName[uk]=Переглядач PDF
GenericName[uz]=PDF кўрувчи
GenericName[ven]=Tshivhoni tsha PDF
GenericName[vi]=Trình xem PDF
GenericName[wa]=Håyneu di documints PDF
GenericName[xh]=Umboni we-PDF
GenericName[xx]=xxPDF Viewerxx
GenericName[zh_CN]=PDF 查看器
GenericName[zh_TW]=PDF 檢視程式
GenericName[zu]=Umbukisi we-PDF
Comment=Views Adobe PDF (acrobat) files
Icon=xpdf
TryExec=/usr/bin/xpdf
Exec=xpdf %f
Categories=Office;Viewer;
MimeType=application/pdf;
StartupNotify=false
StartupWMClass=Xpdf
X-KDE-StartupNotify=false
X-AppInstall-Package=xpdf
X-AppInstall-Popcon=4965
X-AppInstall-Section=custom
X-Arch-Package=xpdf 3.04-2
X-Arch-Package-Repository=custom
X-Arch-Package-Name=xpdf
X-Arch-Package-Version=3.04-2
X-Arch-Package-Description=Viewer for Portable Document Format (PDF) files
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.foolabs.com/xpdf/
X-SuSE-added=GenericName,xh;GenericName,ka;GenericName,km;GenericName,mr;GenericName,mk;GenericName,gu;Name,et;Name,ar;Name,nl;Name,gl;Name,nb;Name,el;Name,xh;Name,it;Name,da;Name,pa;Name,km;Name,mr;Name,uk;Name,bg;Name,ru;Name,ja;Name,pl;Name,zh_TW;Name,pt_BR;Name,cs;Name,sv;Name,wa;Name,zh_CN;Name,hu;Name,lt;Name,fi;Name,pt;Name,sk;GenericName,pt_BR;GenericName,gl;
X-SuSE-translate=true
