[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=xplanetFX
GenericName=xplanetFX
Comment=xplanetFX - renderings of planet earth as desktop wallpaper
Icon=/usr/share/pixmaps/xplanetFX.svg
Exec=xplanetFX --gui
Terminal=false
Categories=Application;Utility;
StartupNotify=false
X-Arch-Package=xplanetfx 2.6.5-1
