[Desktop Entry]
X-AppInstall-Package=xtide
X-AppInstall-Popcon=30
X-AppInstall-Section=main

Version=1.0
Name=XTide Tide Predictor
GenericName=Tide Predictor
Comment=View tide and current predictions
Type=Application
Exec=xtide
Icon=xtide
Categories=Education;Science;
