[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ZynAddSubFX Software Synthesizer
Name[pt]=Sintetizador por Software ZynAddSubFX
Comment=ZynAddSubFX Software Synthesizer
Icon=_usr_share_pixmaps_zynaddsubfx
Exec=/usr/bin/zynaddsubfx
Terminal=false
Categories=Application;AudioVideo;Audio;
StartupNotify=false
X-AppInstall-Package=zynaddsubfx
X-AppInstall-Popcon=78
X-AppInstall-Section=main
